<span style="display: block; width: 740px; float: left; margin-right: 80px;">   a. Did the water motor(s) and gong(s) operate during testing?</span><?php $data_a=array("Yes"=>"Yes","No"=>"No","Na"=>"N/A");
			echo $form->select('SprinklerReportAlarm.alarm_a',$data_a,null,array('empty'=>'Select','maxLength'=>'10','class'=>'validate[required]','div'=>false,"label"=>false, 'style'=>'width:75px; ')); ?><div style="margin:10px 0px;"></div>
				
				<span style="display: block; width: 740px; float: left; margin-right: 80px;">   b. Did the electric alarm(s) operate during testing?																								
</span><?php 
			echo $form->select('SprinklerReportAlarm.alarm_b',$data_a,null,array('empty'=>'Select','maxLength'=>'10','class'=>'validate[required]','div'=>false,"label"=>false, 'style'=>'width:75px; ')); ?></span><div style="margin:10px 0px;"></div>
				<span style="display: block; width: 740px; float: left; margin-right: 80px;"> c. Did the supervisory alarm(s) operate during testing?</span><?php $data_a=array("Yes"=>"Yes","No"=>"No","Na"=>"N/A");
			echo $form->select('SprinklerReportAlarm.alarm_c',$data_a,null,array('empty'=>'Select','maxLength'=>'10','class'=>'validate[required]','div'=>false,"label"=>false, 'style'=>'width:75px; ')); ?><div style="margin:10px 0px;"></div>
				