<?php $data1=array("Yes"=>"Yes","No"=>"No","Na"=>"N/A");?>
<span style="display: block; width: 740px; float: left; margin-right: 80px;">    a. Are all sprinkler system main control valves and all other valves in the appropriate open or closed position?</span><?php $data_a=array("Yes"=>"Yes","No"=>"No","Na"=>"N/A");
			echo $form->select('SprinklerReportControlvalve.cvalve_a',$data_a,null,array('empty'=>'Select','maxLength'=>'10','class'=>'validate[required]','div'=>false,"label"=>false, 'style'=>'width:75px; ')); ?><div style="margin:10px 0px;"></div>
				
				<span style="display: block; width: 740px; float: left; margin-right: 80px;">    b. Are all control valves sealed or supervised in the appropriate position?																								
                        </span><?php 
			echo $form->select('SprinklerReportControlvalve.cvalve_b',$data_a,null,array('empty'=>'Select','maxLength'=>'10','class'=>'validate[required]','div'=>false,"label"=>false, 'style'=>'width:75px; ')); ?></span><div style="margin:10px 0px;"></div>
			<?php $option = array('sealed'=>'Sealed','locked'=>'Locked','supvd'=>'Supvd'); ?>
			<table> 
			    
			    <tr><td  width="1%">Control Valves</td><td  width="1%"># of Valves</td><td  width="1%">Type</td><td  width="1%">Easily Accessible</td><td  width="1%">Signs</td><td  width="1%">Valve Open</td><td  width="1%">Secured ? IF YES, HOW? </td><td  width="1%"> (Sealed?) (Locked?) (Supvd.?)</td><td  width="1%">Supervision Operational</td></tr>
			 <tr><td  width="1%">CITY CONNECTION</td>
                            <td  width="1%"><?php echo $form->input('SprinklerReportControlvalve.cvalve_cconnection_valves',array('type'=>'text','class'=>'validate[required]','div'=>false,"label"=>false,'style'=>'width:125px;','maxlength'=>'50')); ?></td>
                            <td  width="1%"><?php echo $form->input('SprinklerReportControlvalve.cvalve_cconnection_type',array('type'=>'text','class'=>'validate[required]','div'=>false,"label"=>false,'style'=>'width:125px;','maxlength'=>'50')); ?></td>
                            <td  width="1%"><?php echo $form->select('SprinklerReportControlvalve.cvalve_cconnection_access',$data1,null,array('empty'=>'Select','maxLength'=>'10','class'=>'validate[required]','div'=>false,"label"=>false, 'style'=>'width:80px;')); ?></td>
                            <td  width="1%"><?php echo $form->select('SprinklerReportControlvalve.cvalve_cconnection_signs',$data1,null,array('empty'=>'Select','maxLength'=>'10','class'=>'validate[required]','div'=>false,"label"=>false, 'style'=>'width:80px;'));?></td>
                            <td  width="1%"><?php echo $form->select('SprinklerReportControlvalve.cvalve_cconnection_vopen',$data1,null,array('empty'=>'Select','maxLength'=>'10','class'=>'validate[required]','div'=>false,"label"=>false, 'style'=>'width:80px;'));?></td>
                            <td  width="1%"><?php echo $form->select('SprinklerReportControlvalve.cvalve_cconnection_secured',$data1,null,array('empty'=>'Select','maxLength'=>'10','class'=>'validate[required]','div'=>false,"label"=>false, 'style'=>'width:80px;'));?></td>
			    <td  width="1%"><?php echo $form->select('SprinklerReportControlvalve.cvalve_cconnection_option',$option,null,array('empty'=>'Select','maxLength'=>'10','class'=>'validate[required]','div'=>false,"label"=>false, 'style'=>'width:80px;'));?></td>
                            <td  width="1%"><?php  echo $form->select('SprinklerReportControlvalve.cvalve_cconnection_supervision',$data1,null,array('empty'=>'Select','maxLength'=>'10','class'=>'validate[required]','div'=>false,"label"=>false, 'style'=>'width:80px;')); ?></td></tr>
			 <tr><td   width="1%">TANK</td>
                            <td  width="1%"><?php echo $form->input('SprinklerReportControlvalve.cvalve_tank_valves',array('type'=>'text','class'=>'validate[required]','div'=>false,"label"=>false,'style'=>'width:125px;','maxlength'=>'50')); ?></td>
                            <td  width="1%"><?php echo $form->input('SprinklerReportControlvalve.cvalve_tank_type',array('type'=>'text','class'=>'validate[required]','div'=>false,"label"=>false,'style'=>'width:125px;','maxlength'=>'50')); ?></td>
                            <td  width="1%"><?php echo $form->select('SprinklerReportControlvalve.cvalve_tank_access',$data1,null,array('empty'=>'Select','maxLength'=>'10','class'=>'validate[required]','div'=>false,"label"=>false, 'style'=>'width:80px;')); ?></td>
                            <td  width="1%"><?php echo $form->select('SprinklerReportControlvalve.cvalve_tank_signs',$data1,null,array('empty'=>'Select','maxLength'=>'10','class'=>'validate[required]','div'=>false,"label"=>false, 'style'=>'width:80px;'));?></td>
                            <td  width="1%"><?php echo $form->select('SprinklerReportControlvalve.cvalve_tank_vopen',$data1,null,array('empty'=>'Select','maxLength'=>'10','class'=>'validate[required]','div'=>false,"label"=>false, 'style'=>'width:80px;'));?></td>
                            <td  width="1%"><?php echo $form->select('SprinklerReportControlvalve.cvalve_tank_secured',$data1,null,array('empty'=>'Select','maxLength'=>'10','class'=>'validate[required]','div'=>false,"label"=>false, 'style'=>'width:80px;'));?></td>
			    <td  width="1%"><?php echo $form->select('SprinklerReportControlvalve.cvalve_tank_option',$option,null,array('empty'=>'Select','maxLength'=>'10','class'=>'validate[required]','div'=>false,"label"=>false, 'style'=>'width:80px;'));?></td>
                            <td  width="1%"><?php  echo $form->select('SprinklerReportControlvalve.cvalve_tank_supervision',$data1,null,array('empty'=>'Select','maxLength'=>'10','class'=>'validate[required]','div'=>false,"label"=>false, 'style'=>'width:80px;')); ?></td></tr>
			 <tr><td   width="1%">PUMP</td>
                            <td  width="1%"><?php echo $form->input('SprinklerReportControlvalve.cvalve_pump_valves',array('type'=>'text','class'=>'validate[required]','div'=>false,"label"=>false,'style'=>'width:125px;','maxlength'=>'50')); ?></td>
                            <td  width="1%"><?php echo $form->input('SprinklerReportControlvalve.cvalve_pump_type',array('type'=>'text','class'=>'validate[required]','div'=>false,"label"=>false,'style'=>'width:125px;','maxlength'=>'50')); ?></td>
                            <td  width="1%"><?php echo $form->select('SprinklerReportControlvalve.cvalve_pump_access',$data1,null,array('empty'=>'Select','maxLength'=>'10','class'=>'validate[required]','div'=>false,"label"=>false, 'style'=>'width:80px;'));?></td>
                            <td  width="1%"><?php echo $form->select('SprinklerReportControlvalve.cvalve_pump_signs',$data1,null,array('empty'=>'Select','maxLength'=>'10','class'=>'validate[required]','div'=>false,"label"=>false, 'style'=>'width:80px;'));?></td>
                            <td  width="1%"><?php echo $form->select('SprinklerReportControlvalve.cvalve_pump_vopen',$data1,null,array('empty'=>'Select','maxLength'=>'10','class'=>'validate[required]','div'=>false,"label"=>false, 'style'=>'width:80px;'));?></td>
                            <td  width="1%"><?php echo $form->select('SprinklerReportControlvalve.cvalve_pump_secured',$data1,null,array('empty'=>'Select','maxLength'=>'10','class'=>'validate[required]','div'=>false,"label"=>false, 'style'=>'width:80px;'));?></td>
			    <td  width="1%"><?php echo $form->select('SprinklerReportControlvalve.cvalve_pump_option',$option,null,array('empty'=>'Select','maxLength'=>'10','class'=>'validate[required]','div'=>false,"label"=>false, 'style'=>'width:80px;'));?></td>
                            <td  width="1%"><?php  echo $form->select('SprinklerReportControlvalve.cvalve_pump_supervision',$data1,null,array('empty'=>'Select','maxLength'=>'10','class'=>'validate[required]','div'=>false,"label"=>false, 'style'=>'width:80px;')); ?></td></tr>
			 <tr><td   width="1%">SECTIONAL</td>
                            <td  width="1%"><?php echo $form->input('SprinklerReportControlvalve.cvalve_sectional_valves',array('type'=>'text','class'=>'validate[required]','div'=>false,"label"=>false,'style'=>'width:125px;','maxlength'=>'50')); ?></td>
                            <td  width="1%"><?php echo $form->input('SprinklerReportControlvalve.cvalve_sectional_type',array('type'=>'text','class'=>'validate[required]','div'=>false,"label"=>false,'style'=>'width:125px;','maxlength'=>'50')); ?></td>
                            <td  width="1%"><?php echo $form->select('SprinklerReportControlvalve.cvalve_sectional_access',$data1,null,array('empty'=>'Select','maxLength'=>'10','class'=>'validate[required]','div'=>false,"label"=>false, 'style'=>'width:80px;'));?></td>
                            <td  width="1%"><?php echo $form->select('SprinklerReportControlvalve.cvalve_sectional_signs',$data1,null,array('empty'=>'Select','maxLength'=>'10','class'=>'validate[required]','div'=>false,"label"=>false, 'style'=>'width:80px;'));?></td>
                            <td  width="1%"><?php echo $form->select('SprinklerReportControlvalve.cvalve_sectional_vopen',$data1,null,array('empty'=>'Select','maxLength'=>'10','class'=>'validate[required]','div'=>false,"label"=>false, 'style'=>'width:80px;'));?></td>
                            <td  width="1%"><?php echo $form->select('SprinklerReportControlvalve.cvalve_sectional_secured',$data1,null,array('empty'=>'Select','maxLength'=>'10','class'=>'validate[required]','div'=>false,"label"=>false, 'style'=>'width:80px;'));?></td>
			    <td  width="1%"><?php echo $form->select('SprinklerReportControlvalve.cvalve_sectional_option',$option,null,array('empty'=>'Select','maxLength'=>'10','class'=>'validate[required]','div'=>false,"label"=>false, 'style'=>'width:80px;'));?></td>
                            <td  width="1%"><?php echo $form->select('SprinklerReportControlvalve.cvalve_sectional_supervision',$data1,null,array('empty'=>'Select','maxLength'=>'10','class'=>'validate[required]','div'=>false,"label"=>false, 'style'=>'width:80px;')); ?></td></tr>
			 <tr><td   width="1%">SYSTEM</td>
                            <td  width="1%"><?php echo $form->input('SprinklerReportControlvalve.cvalve_system_valves',array('type'=>'text','class'=>'validate[required]','div'=>false,"label"=>false,'style'=>'width:125px;','maxlength'=>'50')); ?></td>
                            <td  width="1%"><?php echo $form->input('SprinklerReportControlvalve.cvalve_system_type',array('type'=>'text','class'=>'validate[required]','div'=>false,"label"=>false,'style'=>'width:125px;','maxlength'=>'50')); ?></td>
                            <td  width="1%"><?php echo $form->select('SprinklerReportControlvalve.cvalve_system_access',$data1,null,array('empty'=>'Select','maxLength'=>'10','class'=>'validate[required]','div'=>false,"label"=>false, 'style'=>'width:80px;')); ?></td>
                            <td  width="1%"><?php echo $form->select('SprinklerReportControlvalve.cvalve_system_signs',$data1,null,array('empty'=>'Select','maxLength'=>'10','class'=>'validate[required]','div'=>false,"label"=>false, 'style'=>'width:80px;'));?></td>
                            <td  width="1%"><?php echo $form->select('SprinklerReportControlvalve.cvalve_system_vopen',$data1,null,array('empty'=>'Select','maxLength'=>'10','class'=>'validate[required]','div'=>false,"label"=>false, 'style'=>'width:80px;'));?></td>
                            <td  width="1%"><?php echo $form->select('SprinklerReportControlvalve.cvalve_system_secured',$data1,null,array('empty'=>'Select','maxLength'=>'10','class'=>'validate[required]','div'=>false,"label"=>false, 'style'=>'width:80px;'));?></td>
			    <td  width="1%"><?php echo $form->select('SprinklerReportControlvalve.cvalve_system_option',$option,null,array('empty'=>'Select','maxLength'=>'10','class'=>'validate[required]','div'=>false,"label"=>false, 'style'=>'width:80px;'));?></td>
                            <td  width="1%"><?php  echo $form->select('SprinklerReportControlvalve.cvalve_system_supervision',$data1,null,array('empty'=>'Select','maxLength'=>'10','class'=>'validate[required]','div'=>false,"label"=>false, 'style'=>'width:80px;')); ?></td></tr>
			
			<tr><td   width="1%">ALARM LINE</td>
                            <td  width="1%"><?php echo $form->input('SprinklerReportControlvalve.cvalve_alarm_valves',array('type'=>'text','class'=>'validate[required]','div'=>false,"label"=>false,'style'=>'width:125px;','maxlength'=>'50')); ?></td>
                            <td  width="1%"><?php echo $form->input('SprinklerReportControlvalve.cvalve_alarm_type',array('type'=>'text','class'=>'validate[required]','div'=>false,"label"=>false,'style'=>'width:125px;','maxlength'=>'50')); ?></td>
                            <td  width="1%"><?php echo $form->select('SprinklerReportControlvalve.cvalve_alarm_accessible',$data1,null,array('empty'=>'Select','maxLength'=>'10','class'=>'validate[required]','div'=>false,"label"=>false, 'style'=>'width:80px;'));?></td>
                            <td  width="1%"><?php echo $form->select('SprinklerReportControlvalve.cvalve_alarm_signs',$data1,null,array('empty'=>'Select','maxLength'=>'10','class'=>'validate[required]','div'=>false,"label"=>false, 'style'=>'width:80px;'));?></td>
                            <td  width="1%"><?php echo $form->select('SprinklerReportControlvalve.cvalve_alarm_valve_open',$data1,null,array('empty'=>'Select','maxLength'=>'10','class'=>'validate[required]','div'=>false,"label"=>false, 'style'=>'width:80px;'));?></td>
                            <td  width="1%"><?php echo $form->select('SprinklerReportControlvalve.cvalve_alarm_secured',$data1,null,array('empty'=>'Select','maxLength'=>'10','class'=>'validate[required]','div'=>false,"label"=>false, 'style'=>'width:80px;'));?></td>
			    <td  width="1%"><?php echo $form->select('SprinklerReportControlvalve.cvalve_alarm_sealed',$option,null,array('empty'=>'Select','maxLength'=>'10','class'=>'validate[required]','div'=>false,"label"=>false, 'style'=>'width:80px;'));?></td>
                            <td  width="1%"><?php  echo $form->select('SprinklerReportControlvalve.cvalve_alarm_supervision',$data1,null,array('empty'=>'Select','maxLength'=>'10','class'=>'validate[required]','div'=>false,"label"=>false, 'style'=>'width:80px;')); ?></td>
			</tr>
			
			</table>