                                <span style="display: block; width: 740px; float: left; margin-right: 80px;">  a. Do fire pumps, gravity, surface or pressure tanks appear to be in good external conditions?</span>
                                        <?php $data_a=array("Yes"=>"Yes","No"=>"No","Na"=>"N/A");
                                        echo $form->select('SprinklerReportConnection.connection_a',$data_a,null,array('empty'=>'Select','maxLength'=>'10','class'=>'validate[required]','div'=>false,"label"=>false, 'style'=>'width:75px; ')); ?>
                                <div style="margin:10px 0px;"></div>
				<span style="display: block; width: 740px; float: left; margin-right: 80px;">  b. Are gravity, surface and pressure tanks at the proper pressure and/or water levels?</span><?php 
                                    echo $form->select('SprinklerReportConnection.connection_b',$data_a,null,array('empty'=>'Select','maxLength'=>'10','class'=>'validate[required]','div'=>false,"label"=>false, 'style'=>'width:75px;')); ?></span><div style="margin:10px 0px;"></div>
                                <span style="display: block; width:674px; float: left; margin-right: -15px;"> c. Has the storage tank been internally inspected in the last 3 yrs. (unlined) or 5 yrs. (lined)?																				
                                </span> <?php echo $form->input('SprinklerReportConnection.connection_c_date',array('maxLength'=>'50','type'=>'text','div'=>false,"label"=>false,'style'=>'width:113px; margin-right: 21px;','class'=>'calender','readonly'=>'readonly')); ?>
                                <?php echo $form->select('SprinklerReportConnection.connection_c',$data_a,null,array('empty'=>'Select','maxLength'=>'10','class'=>'validate[required]','div'=>false,"label"=>false, 'style'=>'width:75px;')); ?></span><div style="margin:10px 0px;"></div>
				<span style="display: block; width: 740px; float: left; margin-right: 80px;">     d. Are fire dept. connections in satisfactory condition, couplings free, caps or plugs in place and check valves tight?</span><?php 
                                     echo $form->select('SprinklerReportConnection.connection_d',$data_a,null,array('empty'=>'Select','maxLength'=>'10','class'=>'validate[required]','div'=>false,"label"=>false, 'style'=>'width:75px;')); ?><div style="margin:10px 0px;"></div>
                                <span style="display: block; width: 740px; float: left; margin-right: 80px;"> e. Are fire dept. connections visible and accessible?</span><?php 
                                    echo $form->select('SprinklerReportConnection.connection_e',$data_a,null,array('empty'=>'Select','maxLength'=>'10','class'=>'validate[required]','div'=>false,"label"=>false, 'style'=>'width:75px;')); ?><div style="margin:10px 0px;"></div>
			</div>