<table>
			    
			    
			 <tr><td  width="6%">  a. Water supply sources? City:	
</td><td ><?php echo $form->input('SprinklerReportWatersupply.wsupply_city',array('type'=>'text','class'=>'validate[required]','div'=>false,"label"=>false,'style'=>'width:125px;')); ?></td>
                            <td >Gravity Tank:</td>
                            <td><?php echo $form->input('SprinklerReportWatersupply.wsupply_tank',array('type'=>'text','class'=>'validate[required]','div'=>false,"label"=>false,'style'=>'width:125px;')); ?></td>
                            <td colspan="1"></td></tr>
				<tr><td  colspan="5">Water Flow Test Results Made During This Inspection</td></tr>				
				<tr><td  width="1%">Test Pipe Located</td>
                                    <td  width="1%">Size Test Pipe</td>
                                    <td  width="1%">Static Pressure Before</td>
                                    <td  width="1%">Flow Pressure</td>
                                    <td  width="13%">Static Pressure After</td></tr>
				<tr><td  width="1%"><?php echo $form->input('SprinklerReportWatersupply.wsupply_pipe_located_1',array('type'=>'text','class'=>'validate[required]','div'=>false,"label"=>false,'style'=>'width:125px;','maxlength'=>'50')); ?></td>
                                    <td  width="1%"><?php echo $form->input('SprinklerReportWatersupply.wsupply_pipe_size_1',array('type'=>'text','class'=>'validate[required]','div'=>false,"label"=>false,'style'=>'width:125px;','maxlength'=>'50')); ?></td>
                                    <td  width="1%"><?php echo $form->input('SprinklerReportWatersupply.wsupply_static_pressure_before_1',array('type'=>'text','class'=>'validate[required]','div'=>false,"label"=>false,'style'=>'width:125px;','maxlength'=>'50')); ?></td>
                                    <td  width="1%"><?php echo $form->input('SprinklerReportWatersupply.wsupply_flow_pressure_1',array('type'=>'text','class'=>'validate[required]','div'=>false,"label"=>false,'style'=>'width:125px;','maxlength'=>'50')); ?></td>
                                    <td  width="13%"><?php echo $form->input('SprinklerReportWatersupply.wsupply_static_pressure_after_1',array('type'=>'text','class'=>'validate[required]','div'=>false,"label"=>false,'style'=>'width:125px;','maxlength'=>'50')); ?></td></tr>
				<tr><td  width="1%"><?php echo $form->input('SprinklerReportWatersupply.wsupply_pipe_located_2',array('type'=>'text','class'=>'validate[required]','div'=>false,"label"=>false,'style'=>'width:125px;','maxlength'=>'50')); ?></td>
                                    <td  width="1%"><?php echo $form->input('SprinklerReportWatersupply.wsupply_pipe_size_2',array('type'=>'text','class'=>'validate[required]','div'=>false,"label"=>false,'style'=>'width:125px;','maxlength'=>'50')); ?></td>
                                    <td  width="1%"><?php echo $form->input('SprinklerReportWatersupply.wsupply_static_pressure_before_2',array('type'=>'text','class'=>'validate[required]','div'=>false,"label"=>false,'style'=>'width:125px;','maxlength'=>'50')); ?></td>
                                    <td  width="1%"><?php echo $form->input('SprinklerReportWatersupply.wsupply_flow_pressure_2',array('type'=>'text','class'=>'validate[required]','div'=>false,"label"=>false,'style'=>'width:125px;','maxlength'=>'50')); ?></td>
                                    <td  width="13%"><?php echo $form->input('SprinklerReportWatersupply.wsupply_static_pressure_after_2',array('type'=>'text','class'=>'validate[required]','div'=>false,"label"=>false,'style'=>'width:125px;','maxlength'=>'50')); ?></td></tr>
				<tr><td  width="1%"><?php echo $form->input('SprinklerReportWatersupply.wsupply_pipe_located_3',array('type'=>'text','class'=>'validate[required]','div'=>false,"label"=>false,'style'=>'width:125px;','maxlength'=>'50')); ?></td>
                                    <td  width="1%"><?php echo $form->input('SprinklerReportWatersupply.wsupply_pipe_size_3',array('type'=>'text','class'=>'validate[required]','div'=>false,"label"=>false,'style'=>'width:125px;','maxlength'=>'50')); ?></td>
                                    <td  width="1%"><?php echo $form->input('SprinklerReportWatersupply.wsupply_static_pressure_before_3',array('type'=>'text','class'=>'validate[required]','div'=>false,"label"=>false,'style'=>'width:125px;','maxlength'=>'50')); ?></td>
                                    <td  width="1%"><?php echo $form->input('SprinklerReportWatersupply.wsupply_flow_pressure_3',array('type'=>'text','class'=>'validate[required]','div'=>false,"label"=>false,'style'=>'width:125px;','maxlength'=>'50')); ?></td>
                                    <td  width="13%"><?php echo $form->input('SprinklerReportWatersupply.wsupply_static_pressure_after_3',array('type'=>'text','class'=>'validate[required]','div'=>false,"label"=>false,'style'=>'width:125px;','maxlength'=>'50')); ?></td></tr>
				<tr><td  width="1%"><?php echo $form->input('SprinklerReportWatersupply.wsupply_pipe_located_4',array('type'=>'text','class'=>'validate[required]','div'=>false,"label"=>false,'style'=>'width:125px;','maxlength'=>'50')); ?></td>
                                    <td  width="1%"><?php echo $form->input('SprinklerReportWatersupply.wsupply_pipe_size_4',array('type'=>'text','class'=>'validate[required]','div'=>false,"label"=>false,'style'=>'width:125px;','maxlength'=>'50')); ?></td>
                                    <td  width="1%"><?php echo $form->input('SprinklerReportWatersupply.wsupply_static_pressure_before_4',array('type'=>'text','class'=>'validate[required]','div'=>false,"label"=>false,'style'=>'width:125px;','maxlength'=>'50')); ?></td>
                                    <td  width="1%"><?php echo $form->input('SprinklerReportWatersupply.wsupply_flow_pressure_4',array('type'=>'text','class'=>'validate[required]','div'=>false,"label"=>false,'style'=>'width:125px;','maxlength'=>'50')); ?></td>
                                    <td  width="13%"><?php echo $form->input('SprinklerReportWatersupply.wsupply_static_pressure_after_4',array('type'=>'text','class'=>'validate[required]','div'=>false,"label"=>false,'style'=>'width:125px;','maxlength'=>'50')); ?></td></tr>
				<tr><td  width="1%"><?php echo $form->input('SprinklerReportWatersupply.wsupply_pipe_located_5',array('type'=>'text','class'=>'validate[required]','div'=>false,"label"=>false,'style'=>'width:125px;','maxlength'=>'50')); ?></td>
                                    <td  width="1%"><?php echo $form->input('SprinklerReportWatersupply.wsupply_pipe_size_5',array('type'=>'text','class'=>'validate[required]','div'=>false,"label"=>false,'style'=>'width:125px;','maxlength'=>'50')); ?></td>
                                    <td  width="1%"><?php echo $form->input('SprinklerReportWatersupply.wsupply_static_pressure_before_5',array('type'=>'text','class'=>'validate[required]','div'=>false,"label"=>false,'style'=>'width:125px;','maxlength'=>'50')); ?></td>
                                    <td  width="1%"><?php echo $form->input('SprinklerReportWatersupply.wsupply_flow_pressure_5',array('type'=>'text','class'=>'validate[required]','div'=>false,"label"=>false,'style'=>'width:125px;','maxlength'=>'50')); ?></td>
                                    <td  width="13%"><?php echo $form->input('SprinklerReportWatersupply.wsupply_static_pressure_after_5',array('type'=>'text','class'=>'validate[required]','div'=>false,"label"=>false,'style'=>'width:125px;','maxlength'=>'50')); ?></td></tr>
				<tr><td  width="1%"><?php echo $form->input('SprinklerReportWatersupply.wsupply_pipe_located_6',array('type'=>'text','class'=>'validate[required]','div'=>false,"label"=>false,'style'=>'width:125px;','maxlength'=>'50')); ?></td>
                                    <td  width="1%"><?php echo $form->input('SprinklerReportWatersupply.wsupply_pipe_size_6',array('type'=>'text','class'=>'validate[required]','div'=>false,"label"=>false,'style'=>'width:125px;','maxlength'=>'50')); ?></td>
                                    <td  width="1%"><?php echo $form->input('SprinklerReportWatersupply.wsupply_static_pressure_before_6',array('type'=>'text','class'=>'validate[required]','div'=>false,"label"=>false,'style'=>'width:125px;','maxlength'=>'50')); ?></td>
                                    <td  width="1%"><?php echo $form->input('SprinklerReportWatersupply.wsupply_flow_pressure_6',array('type'=>'text','class'=>'validate[required]','div'=>false,"label"=>false,'style'=>'width:125px;','maxlength'=>'50')); ?></td>
                                    <td  width="13%"><?php echo $form->input('SprinklerReportWatersupply.wsupply_static_pressure_after_6',array('type'=>'text','class'=>'validate[required]','div'=>false,"label"=>false,'style'=>'width:125px;','maxlength'=>'50')); ?></td></tr>
				<tr><td  width="1%"><?php echo $form->input('SprinklerReportWatersupply.wsupply_pipe_located_7',array('type'=>'text','class'=>'validate[required]','div'=>false,"label"=>false,'style'=>'width:125px;','maxlength'=>'50')); ?></td>
                                    <td  width="1%"><?php echo $form->input('SprinklerReportWatersupply.wsupply_pipe_size_7',array('type'=>'text','class'=>'validate[required]','div'=>false,"label"=>false,'style'=>'width:125px;','maxlength'=>'50')); ?></td>
                                    <td  width="1%"><?php echo $form->input('SprinklerReportWatersupply.wsupply_static_pressure_before_7',array('type'=>'text','class'=>'validate[required]','div'=>false,"label"=>false,'style'=>'width:125px;','maxlength'=>'50')); ?></td>
                                    <td  width="1%"><?php echo $form->input('SprinklerReportWatersupply.wsupply_flow_pressure_7',array('type'=>'text','class'=>'validate[required]','div'=>false,"label"=>false,'style'=>'width:125px;','maxlength'=>'50')); ?></td>
                                    <td  width="13%"><?php echo $form->input('SprinklerReportWatersupply.wsupply_static_pressure_after_7',array('type'=>'text','class'=>'validate[required]','div'=>false,"label"=>false,'style'=>'width:125px;','maxlength'=>'50')); ?></td></tr>
				<tr><td  width="1%"><?php echo $form->input('SprinklerReportWatersupply.wsupply_pipe_located_8',array('type'=>'text','class'=>'validate[required]','div'=>false,"label"=>false,'style'=>'width:125px;','maxlength'=>'50')); ?></td>
                                    <td  width="1%"><?php echo $form->input('SprinklerReportWatersupply.wsupply_pipe_size_8',array('type'=>'text','class'=>'validate[required]','div'=>false,"label"=>false,'style'=>'width:125px;','maxlength'=>'50')); ?></td>
                                    <td  width="1%"><?php echo $form->input('SprinklerReportWatersupply.wsupply_static_pressure_before_8',array('type'=>'text','class'=>'validate[required]','div'=>false,"label"=>false,'style'=>'width:125px;','maxlength'=>'50')); ?></td>
                                    <td  width="1%"><?php echo $form->input('SprinklerReportWatersupply.wsupply_flow_pressure_8',array('type'=>'text','class'=>'validate[required]','div'=>false,"label"=>false,'style'=>'width:125px;','maxlength'=>'50')); ?></td>
                                    <td  width="13%"><?php echo $form->input('SprinklerReportWatersupply.wsupply_static_pressure_after_8',array('type'=>'text','class'=>'validate[required]','div'=>false,"label"=>false,'style'=>'width:125px;','maxlength'=>'50')); ?></td></tr>
				</table>