<div id="content" >
              <div id="box" >
                	<h3 id="adduser">Reply/View Message</h3>                	
                  <?php //echo $form->create('Messages',array('controller'=>'Message','action' => 'manager_view_message/'.$msg_data['Message']['id'],'method'=>'post','id'=>'ListForm','name'=>'ListForm'));?>
                  <?php //echo $form->input('Message.sender_id',array('type' => 'hidden','value'=>$session->read('OwnerId'))); ?>
	                <?php //echo $form->input('Message.receiver_id',array('type' => 'hidden','value'=>$msg_data['Message']['sender_id'])); ?>
                  <table width="100%" cellspacing="2" cellpadding="2">
                  <tr><td width="30%" class="td_label">Date:</td>
                      <td class="td_label1"><?php echo $msg_data['Message']['created'];?></td>
                  </tr>
                  <tr><td width="30%" class="td_label">From:</td>
                      <td class="td_label1"><?php echo $common->getSenderName($msg_data['Message']['sender_type'],$msg_data['Message']['sender_id']); ?></td>
                  </tr>
                  <tr><td width="30%" class="td_label">Subject:</td>
                      <td class="td_label1"><?php echo $msg_data['Message']['message_subject'];?></td>
                  </tr>
                  <tr><td width="30%" class="td_label">Message:</td>
                      <td class="td_label1"><?php echo $msg_data['Message']['message_body'];?></td>
                  </tr>
                  <tr><td width="30%" class="td_label">&nbsp;</td>
                      <td class="td_label1"><?php echo $html->link('Reply',array('controller'=>'messages','action'=>'reply_message',$msg_data['Message']['id']));?>&nbsp;&nbsp; <?php echo $html->link('Cancel','javascript:void(0)',array('onClick'=>'history.go(-1);'));?><?php //echo $form->input('Message.message_body',array('type'=>'textarea','rows'=>7,'cols'=>35,'label'=>false,'div'=>false,'style'=>'border:1px solid #c3c3c3;color:#999999')); ?></td>
                  <?php //echo  $form->submit('Reply',array('class'=>'submitbutton','div'=>false,'label'=>false)); ?><?php //echo  $form->submit('Back',array('class'=>'submitbutton','type'=>'button','div'=>false,'label'=>false,'onClick'=>'history.go(-1);')); ?> 
                  <?php //echo $form->end(); ?>                                 
                </tr>
                </table>
                  
                </div>
</div>