<div style="margin:auto; width:98%">

  <div class="mdl-wrapper" style="width:100%">
    <div style="clear:both;text-align:left;"><h1>Inbox</h1></div>
    <table width="100%" cellpadding="3" cellspacing="3" border="0" class="tbl">

						<thead>
<?php //pr($result); ?>
							<tr>							             					
								<th><div style="width:100%;"><div style="width:50%; text-align:left;"><?php echo $result['Message']['message_subject'] ?></div><div style="text-align:right; "><?php echo $this->Html->link('Reply',array('controller'=>'messages','action'=>'reply',$result['Message']['id']), array('class' => '')); ?>&nbsp;&nbsp;<?php echo $this->Html->link('Back',"javascript:void(0);", array('class' => '','onclick'=>"window.location.href = '/sp/messages/messages'")); ?></div>
				           </div> </th>								
							</tr>
						</thead>
					
						<tbody>
						  <tr>
						    <td><div style="min-height:85px"><?php echo $result['Message']['message_body'] ?></div></td>
              </tr>
              
				
						</tbody>
				
					</table>				
    
  </div>
  
  <div class="right-wrapper">
	
  </div>
  <br/><br/>
  
  </div>
