<table width="600px" border="0" cellspacing="2" cellpadding="2">
    <tr>
	<td>Dear <b>[personname]</b>,<br><br>
A New Shift has been assigned to you on Schedulepal.com<br>
Shift detail is as under : <br>
<p>Shift Date : [shiftdate]</p><br>
<p>Start Time : [starttime]</p><br>
<p>End Time : [endtime]</p><br>
<p>Paid Hours : [paidhour]</p><br>
<p>Category : [category]</p><br><br>

With kind regards,<br>
<b>[APPLICATION_NAME] </b><br><br>



	</td>
    </tr>
</table>