<table width="600px" border="0" cellspacing="2" cellpadding="2">
    <tr>
	<td>Dear <b>Admin</b>,<br><br>
A New Query has been submitted by <b>[personname]</b> on site Schedulepal.com<br>
Email Address : <b>[personemail]</b><br>
<p>Phone : [personphone]</p><br><br>
<p>Comments : [personcomment]</p><br><br>

With kind regards,<br>
<b>[APPLICATION_NAME] </b><br><br>



	</td>
    </tr>
</table>