<table width="600px" border="0" cellspacing="2" cellpadding="2">
    <tr>
	<td>Dear [personname],<br><br>	
	Your schedule for the week of [weekname] has been posted. <br><br>
<a href=[APPLICATION_NAME]/homes/login > Click here to log into your account and view the posted schedule.</a>
<br><br>

Thanks,<br>
The SchedulePal Team<br>
	</td>
    </tr>
</table>