<table width="600px" border="0" cellspacing="2" cellpadding="2">
    <tr>
	<td>Dear <b>[personname]</b>,<br><br>
Your request for the following trade shift has been accepted on Schedulepal.com <br>
Assigned to : [assigned_to]<br>
Shift detail is as under : <br>
<p>Shift Date : [shiftdate]</p>
<p>Start Time : [starttime]</p>
<p>End Time : [endtime]</p>
<p>Paid Hours : [paidhour]</p>
<p>Category : [category]</p><br><br>

With kind regards,<br>
<b>[APPLICATION_NAME] </b><br><br>



	</td>
    </tr>
</table>