<?php echo $this->Html->script(array('jquery.1.6.1.min')); ?>
<?php //echo $this->Html->css(array('gallery/colorbox'));
echo $this->Html->css(array('facebox')); 
?>
<?php //echo $this->Html->script(array('colorbox/jquery.colorbox')); ?>
<?php echo $this->Html->script(array('facebox')); ?>

<script type="text/javascript" charset="utf-8">
			jQuery(document).ready(function(){
				//jQuery(".ajax").colorbox();
});
function confirmbox(id,recordId){

  var r = confirm("Are you sure you want to delete this screenshot?");
  
  if (r==true)
  {
    if(id == "delete_"+recordId){
		deleteImage(recordId);
	}
	if(id == "deletetxt_"+recordId){
			deletetxt(recordId);
	}
    
      
  }
  else
  {
    return false;
  }
}
function deletetxt(recordId){
jQuery.ajax({
                type : "GET",
                url  : "/admins/deletetxt/"+recordId,
                success : function(opt){
			if(opt==1){
			jQuery("#TxtTd_"+recordId).fadeOut(500);			   
			}
			
                }
        });	
	
}
function deleteImage(recordId){
	jQuery.ajax({
                type : "GET",
                url  : "/admins/deleteImage/"+recordId,
                success : function(opt){
			if(opt==1){
			jQuery("#ImageTd_"+recordId).fadeOut(500);
			//jQuery("#deleteFlashmessage").fadeIn(500);
			//jQuery("#deleteFlashmessage").fadeOut(5000);   
			}
			
                }
        });
	
	
}
</script>
<div class="section">				
    <div class="title_wrapper">					
        <h2>Home Page Video</h2>					
            <div id="product_list_menu">
                    <a href="/admin/admins/home_video" class="update"><span><span><em>Add Video</em><strong></strong></span></span></a>
                                 
            </div>				
    </div>								
    <!--[if !IE]>start section_inner<![endif]-->
    <div class="section_inner">							
    <div  id="product_list">        								
            <!--[if !IE]>start table_wrapper<![endif]-->
        <div class="table_wrapper">
            <div class="table_wrapper_inner">
                <table cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                        <td colspan="3">
                           <h1>Videos</h1> 
                        </td>
                    </tr>
					<?php if(!empty($videoData)){ ?>
                    <tr>
                        <th>Video</th>
			
                        <th>Action</th>
                    </tr>
		    
		    <?php foreach($videoData as $vData){?>
		    <tr>
                        <td><a href="javascript:void(0)" onclick="return playVideo('<?php echo $vData['HomeVideo']['video']?>','<?php echo $vData['HomeVideo']['video_thumb']?>','0'); " title="Click to View the Video"><img src="<?php echo $vData['HomeVideo']['video_thumb']?>" width="100px;height:80px;"></a></td>
			
                        <td><?php echo $html->link('Delete',array('controller'=>'admins','action'=>'delete__home_video',$vData['HomeVideo']['id']),array('class'=>''),'Are you sure you want to delete this Home Video?') ?></td>
                    </tr>
		    <?php } ?>
					<?php  } else{
						echo "<tr><td>No Video Uploaded</td></tr>";
					}?>
                </table>
                
            </div>
        </div>
            <!--[if !IE]>end table_wrapper<![endif]-->					
    </div>
    </div>
    <!--[if !IE]>end section inner<![endif]-->
        	
				
						
</div>
<script type="text/javascript">
function playVideo(vidPath,thumbPath)
{	var str = '';
	str+='<div id="video">';
	//str+='<object width="220" height="21" type="application/x-shockwave-flash" data="/img/OriginalThinMusicPlayer.swf">';
	//str+='<param name="movie" value="/img/OriginalThinMusicPlayer.swf" />';
	//str+='<param name="flashvars" value="autoPlay=true&firstColor=0072bc&mediaPath='+audPath+'" />';
	//str+='</object>';
	str+='<object width="550" height="400">';
	
	str+='<param name="movie" value="/players/player_a.swf">';
	str+='<param name="flashvars" value="video='+vidPath+'&streamer=true">';
	str+='<embed src="/players/player_v.swf?video='+vidPath+'&streamer=true" width="550" height="400">';
	//str+='<embed src="/players/player_v.swf?video='+vidPath+'&streamer=true" width="550" height="400">';
	str+='</embed>';
	
	str+='</object>';
	str+='</div>';
	jQuery.facebox(str);
	
}

</script>

