

<div id="content">
     <div id="box" style="width:500px;">	
               <h3 id="adduser"><?php echo $clientData['User']['fname']." ".$clientData['User']['lname']; ?></h3>
                   <br/>
		   
                        <table class="tbl">
                        <tr>
                       	  <td >First Name </td><td>:</td><td ><?php echo ucWords($clientData['User']['fname']);  ?></td>
                        </tr>
                        <tr>	
                          <td >Last Name </td><td>:</td><td ><?php echo ucWords($clientData['User']['lname']);  ?></td>          
                        </tr>			
			                  <tr>
                       	  <td>Email </td><td>:</td><td ><?php echo $clientData['User']['email'];  ?></td> </tr>
                        </tr>
                        <tr>
                       	  <td>Site Name </td><td>:</td><td ><?php echo $clientData['User']['site_name'];  ?></td> </tr>
                        </tr>
                        <tr>
                       	  <td>Site Street Address </td><td>:</td><td ><?php echo $clientData['User']['site_address'];  ?></td> </tr>
                        </tr>
                        <tr>
                       	  <td>City, State, Zip </td><td>:</td><td ><?php echo $clientData['User']['site_city_state_zip'];  ?></td> </tr>
                        </tr>
                        <tr>
                       	  <td>Daytime Phone Number </td><td>:</td><td ><?php echo $clientData['User']['site_phone'];  ?></td> </tr>
                        </tr>
		
                        <tr style="vertical-align:top">
                       	  <td>Type of Business </td><td>:</td><td>
													
													<?php $arr=explode(',',$clientData['Company']['type_business']);
												
													foreach($arr as $key=>$val):
													foreach($businessType as $key1=>$val1):
													
								
													if($val== $key1)
													{
														echo $val1."</br>";
													}
													
													endforeach;
													
													endforeach;
															?>	
												</td>
                        </tr>                       		
			                  <tr>
                       	  <td >Square Footage </td><td>:</td><td ><?php echo $clientData['Company']['sqr_footage'];  ?></td> 
                        </tr>
			                  <tr>
                       	  <td  style="vertical-align:top" >Inspection/PM Service of interest </td><td>:</td>
													
													<td>
													<?php $arrReport=explode(',',$clientData['Company']['interest_service']);
												
													foreach($arrReport as $key=>$val):
													foreach($reportType as $key1=>$val1):
													
								
													if($val== $key1)
													{
														echo $val1."</br>";
													}
													
													endforeach;
													
													endforeach;
															?>
													
												</td>													
                        </tr>
												<tr>
													<td colspan="3">
														<?php if($clientData['User']['direct_client_preference']==1)
														{
															echo "Would you like ReportsOnline Plus to send your information to qualified service providers in your area that are qualified to perform the services that you requested?";
														}else
														{
															echo "Would you like ReportsOnline Plus to send you information about qualified service providers that can perform the work listed?";
														}
														?>														
													</td>
													</tr>
		   
		  
			
       </div>
</div>