<style>
.error-message{
	position:relative;color:#B86464;	
}
</style>
<?php
//print_r($home_video);
?>
<div class="section">	
	<div class="title_wrapper">
	<?php echo "<h2>Manage About Text</h2>"; ?>
	</div>
        <div class="section_inner">
            <?php echo $form->create('', array('type'=>'POST', 'url'=>array('controller'=>'admins','action'=>'aboutus') ,'name'=>'addabouttext','id'=>'addabouttext', 'class'=>'about_home_set')); ?>
            <?php echo $form->hidden('AboutusText.id', array('value'=>$aboutText['AboutusText']['id'],"div"=>false,"label"=>false));  ?>
            <fieldset>
                <div class="row">
				<div style='width:100%;'>Text </div>
				<div style='width:100%;' class="inputs" >
					<?php  echo $form->input('AboutusText.desc', array('type'=>'textarea','value'=>$aboutText['AboutusText']['desc'],'label'=>false,'class'=>'validate[required]',"div"=>false));  ?>	
				</div>
		</div>
                
                <div class="row">
				
				<div class="inputs" style="float:left">
					<?php echo $form->submit('Submit',array('id'=>'','div'=>false,'class'=>'')); ?>
				</div>
		</div>
            </fieldset>
        </div>
</div>        