
<div id="content">
     <div id="box" style="width:1000px;padding-left:10px;">
	 
      <?php echo $form->create('',array('controller'=>'admins','action' => 'addVideo','method'=>'post','id'=>'composeMszForm','name'=>'ListForm','enctype'=>'multipart/form-data'));?>
     
     <div class="form-box" style="width:90%">
   
        <h3 id="adduser"> Add video</h3>
        
        <table class="register-form" style="border:1px dotted black" width="100%">
            <tr><td colspan="2">&nbsp;</td></tr>
       
         <tr>
	    <td style="vertical-align:top; width:20%"> <label>Add Video<span style="color:red">*</span></label></td>
	    <td> <p><span class="input-field"><?php echo $this->Form->input('TutorialVideo.video',array('type'=>'file','label'=>'','readonly'=>'','div'=>false,'label'=>false)); ?></span></p></td>
			
        </tr>
         <tr>
	    <td style="vertical-align:top; width:20%"> <label>Title<span style="color:red">*</span></label></td>
	    <td> <p><span class="input-field"><?php echo $form->input('TutorialVideo.title',array('id'=>'TutorialText','type'=>'text','maxlength'=>'','div'=>false,'label'=>false,'value'=>'','class'=>'calender required','style'=>'width:200px')); ?></span></p></td>
			
        </tr>
       
               
        <tr>
           <td>&nbsp;</td> <td><?php echo $form->submit('Submit',array('id'=>'','div'=>false,'class'=>'','style'=>'float:left;')); ?></td>
        </tr>
        <tr><td colspan="2">&nbsp;</td></tr>
        </table>
    </div>
    <!--one complete form ends-->

  <?php echo $form->end(); ?>



</div>
</div>
