<style>
.error-message{
	position:relative;color:#B86464;	
}
</style>
<?php
//print_r($home_video);
?>
<div class="section">	
	<div class="title_wrapper">
	<?php echo "<h2>Upload Home Video</h2>"; ?>
	</div>
        <div class="section_inner">
            <?php echo $form->create('', array('type'=>'POST', 'url'=>array('controller'=>'admins','action'=>'home_video') ,'name'=>'addhomevideo','id'=>'addhomevideo', 'class'=>'video_home_set','enctype'=>'multipart/form-data')); ?>
            <?php //echo $form->hidden('HomeVideo.id', array('value'=>$home_video[0]['HomeVideo']['id'],"div"=>false,"label"=>false));  ?>
            <div class="form-box" style="width:90%">
   
					
					<table class="register-form" style="border:1px dotted black" width="100%">
						<tr><td colspan="2">&nbsp;</td></tr>
				   
					 <tr>
					<td style="vertical-align:top; width:20%"> <label>Add Video<span style="color:red">*</span></label></td>
					<td> <p><span class="input-field"><?php echo $this->Form->input('HomeVideo.video',array('type'=>'file','label'=>'','readonly'=>'','div'=>false,'label'=>false)); ?></span></p></td>
						
					</tr>
					 
					<tr>
					   <td>&nbsp;</td> <td><?php echo $form->submit('Submit',array('id'=>'','div'=>false,'class'=>'','style'=>'float:left;')); ?></td>
					</tr>
					<tr><td colspan="2">&nbsp;</td></tr>
					</table>
			</div>
        </div>
</div>        