<?php echo $this->Html->script('fckeditor'); ?>
<div id="content">
     <div id="box" style="width:1000px;padding-left:10px;">
	 
      <?php echo $form->create('',array('controller'=>'admins','action' => 'addTutorial','method'=>'post','id'=>'composeMszForm','name'=>'ListForm'));?>
     
     <div class="form-box" style="width:90%">
   
        <h3 id="adduser"> Add Tutorial</h3>
        
        <table class="register-form" style="border:1px dotted black" width="100%">
            <tr><td colspan="2">&nbsp;</td></tr>
       
         <tr>
	    <td style="vertical-align:top; width:20%"> <label>Add Tutorial Text<span style="color:red">*</span></label></td>
	    <td> <p><span class="input-field"><?php echo $form->input('TutorialText.tutorial',array('id'=>'TutorialText','type'=>'textarea','rows'=>5,'cols'=>50,'maxlength'=>'','div'=>false,'label'=>false,'value'=>'','class'=>'calender required','style'=>'width:200px')); ?></span></p></td>
			<?php echo $fck->load('TutorialText'); ?>
        </tr>
       
               
        <tr>
           <td>&nbsp;</td> <td><?php echo $form->submit('Submit',array('id'=>'','div'=>false,'class'=>'','style'=>'float:left;')); ?></td>
        </tr>
        <tr><td colspan="2">&nbsp;</td></tr>
        </table>
    </div>
    <!--one complete form ends-->

  <?php echo $form->end(); ?>



</div>
</div>
