	<!--[if !IE]>start header<![endif]-->
		<div id="header">
			<div class="inner">
				<div style="float:left">
				<?php echo $html->image("newdesign_img/anim_logo.gif", array('escape' => false,"alt"=>"Report Online Plus", "title"=>"Report Online Plus","style"=>"margin-top:15px")); 	?>
				<div style="float:right;padding: 14px 5px 0 400px;color:#FFF"><h1>Administrator Area</h1></div>
				</div>
			</div>
		</div>
		<!--[if !IE]>end header<![endif]-->