<div class="left-wrapper" style="width:25%">
<ul>
      <li><a href="#">DashBoard</a></li>
      <li><a href="/client/clients/changepasswd">Change Password</a></li>      
      <li><a href="/client/messages/messages">Messages<span style="color:red;">(<?php echo $count_messages ?>)</span></a></li>      
      <li><a href="/client/clients/logout">Logout</a></li>
</ul>

</div>