<?php $home=$schedule=$chapass=$emp='';$msg='';$holiday='';$trade='';$employee='';$preference='';$employees='';$setting='';
	 $controller = $this->params['controller'];
	 $action = $this->params['action'];
	switch($controller)
		{
	      case 'employees':
		 if($action==='employee_changepasswd' ) {
             $chapass="class='current'";
           }else if( $action==='employee_index'){
                $home="class='current'";
           }else if($action==='employee_calendar') {
            $employees="class='current'";
            } else if($action==='employee_setting'){
		$setting="class='current'";
		}      
          break;          
          case 'schedules':
		if($action==='employee_emp_schedule') {
            $schedule="class='current'";
            }                        
          break;         
          case 'trades':
		if($action==='employee_index') {
            $trade="class='current'";
            }	
              break;              
        case 'preferences':
		if($action==='employee_index') {
            $preference="class='current'";
            }	
              break;
	case 'messages':
		if($action==='employee_messages') {
            $msg="class='current'";
            }	
              break;
          default:
	    $home="class='current'";
            }			
?>

<div id="header">
        <div style="float: left; width: 100%; margin-top: 3px;"><h2>Welcome <?php echo $session->read('EmployeeName');?></h2><h4 style="float: right; color: rgb(255, 255, 255);">&nbsp;</h4></div>
    <div id="topmenu">
            	<ul style="margin:14px 0 0;">
                	  <li <?php echo $home; ?>><a href="/employee/employees/index">Dashboard</a></li>
                    <li <?php echo $schedule; ?>><?php echo $html->link('My Schedules',array('controller'=>'schedules','action'=>'emp_schedule')); ?></li>
                    <li <?php echo $chapass; ?>><?php echo $html->link('Change Password',array('controller'=>'employees','action'=>'changepasswd')); ?></li>
                    <li <?php echo $msg; ?>><?php echo $html->link('Messages',array('controller'=>'messages','action'=>'messages')); ?></li>
                    <li <?php echo $trade; ?>><?php echo $html->link('Shift Offer Board',array('controller'=>'trades','action'=>'index')); ?></li>
                    <li <?php echo $preference; ?>><?php echo $html->link('Preference Time',array('controller'=>'preferences','action'=>'index')); ?></li>
                    <li <?php echo $setting; ?> ><?php echo $html->link('Notification Settings',array('controller'=>'employees','action'=>'setting')); ?></li>
		     <li <?php echo $employees; ?>>
			<?php echo $html->link('Other Schedule',array('controller'=>'employees','action'=>'employee_calendar')); ?>
			</li>
                    <li><?php echo $html->link('Logout',array('controller'=>'employees','action'=>'logout')); ?></li>
		   
              </ul>
          </div>
      </div>
       <!--<div id="top-panel">
            <div id="panel">
                <ul>
                    <li><a href="#" class="report">Sales Report</a></li>
                    <li><a href="#" class="report_seo">SEO Report</a></li>
                    <li><a href="#" class="search">Search</a></li>
                    <li><a href="#" class="feed">RSS Feed</a></li>
                </ul>
            </div>
      </div>-->