   <div id="sidebar">
  				<ul>
                	<li><h3><a href=/inspector/inspectors/dashboard class="house">Dashboard</a></h3>
                        <ul>
                        	<!--<li><a href="#" class="report">Sales Report</a></li>
                    		  <li><a href="#" class="report_seo">SEO Report</a></li>-->
                          <li><a href="#" class="search">Search</a></li>
                        </ul>
                  </li>
                  <li><h3><a href="#" class="manage">Manage</a></h3>
          				  <ul>
                      <li><a href="/manager/employees/calendar" class="manage_page">Schedule</a></li>
                     <!-- <li><a href="#" class="folder">Product categories</a></li>-->
            			 	  <li><a href="#" class="promotions">pages</a></li>
                   </ul>
                  </li>
                  
				</ul>       
          </div>