<!-- Right Starts -->	
                    <div class="right">
                    	<!--video-right-Starts -->
                        <div class="video-right">
                        	<iframe width="300" height="200" src="http://www.youtube.com/embed/CZj2XX151aw?rel=0" frameborder="0" allowfullscreen></iframe>
                        </div>

                        <!--video-right-end -->
                        <!--inner-right-Starts -->
                        	<div class="innerRightBox">
            <div style="height: 45px; overflow: hidden;"><?php echo $html->link($html->image("get.png"), array("controller"=>"owners","action"=>"signup"), array('escape' => false));?></div>
            <span style="float: left; width: 135px; padding: 10px 0 0 0;"><a href="#"><?php echo $html->image('paypal.gif');?></a></span>
<div style="float: left; width: 135px; padding: 0pt;">
                <!-- PayPal Logo -->
                <!-- PayPal Logo -->
            </div>
            <div style="float: right; width: 150px; padding: 24px 0pt 0pt;">
            	<!-- START SCANALERT CODE -->
               <a href="#"><?php echo $html->image('mcafee.gif');?></a>
                <!-- END SCANALERT CODE -->
                <a href="#"><?php echo $html->image('verified.gif');?></a>
            </div>
            <div style="float: left; width: 135px; clear: both; padding: 0pt;">
                <a href="#"><?php // echo $html->image('granted.gif');?></a>
            </div>
            <div style="float: right; width: 150px; padding: 20px 0pt 0pt;"><a href="#"><?php // echo $html->image('bruc.gif');?></a></div>
        </div>
                        <!--inner-right-end -->
                        
                        <div class="col" style="margin:15px 0">
                            	<h2>Latest News</h2>
                                <div class="content news-l">
                                	<ul class="news">
                                    	<li>
                                        	<div class="date">01<span>Mar</span></div>
                                           <p>SchedulePal adds sms text notification feature.</p>
                                        </li>
                                        <li>
                                        	<div class="date">29<span>Feb</span></div>
                                            <p>Build and save schedule templates feature is now live!</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        
                    </div>
                    <!-- Right Ends -->