 <div id="footer">
        <div id="credits" style="float:right; width:350px;text-align:center">
   		 Copyright &copy; <?php echo date('Y'); ?> - Fire safety inspection report - All rights reserved.
        </div>
     
          <br />
	
        </div>