<style>
.input-field input {
    background: url("../../img/input-field-rt.png") no-repeat scroll right top transparent;
    border: 0 none;
    color: #555555;
    float: left;
    font-size: 12px;
    height: 18px;
    padding: 5px 5px 5px 0;
    width: 240px;
}
.blue-btn span {
    background: url("../../img/blue-btn-rt.png") no-repeat scroll right top transparent;
}
.blue-btn span, .wht-btn span {
    display: block;
    height: 31px;
    line-height: 31px;
    padding: 0 16px 0 10px;
}
</style>
<div id="content">
     <div id="box" style="width:800px;padding-left:10px;">
               <h3 id="adduser">Driving Directions for <?php echo $result['SpSiteAddress']['site_name'];?></h3>
                   <br/>
                   <h1>Enter your address below to get directions to (<?php echo $result['SpSiteAddress']['site_name'];?>):</h1>
                    Destination : <?php echo $this->Common->getSiteInfo($result['SpSiteAddress']['id']); ?>
                    <form action="http://maps.google.com/maps" method="get" target="_blank">
Enter your starting address:
<input type="text" name="saddr" style="width:225px;"/>
<input type="hidden" name="daddr" value="<?php echo $this->Common->getSiteInfo($result['SpSiteAddress']['id']);?>" />
<input type="submit" value="Submit" name="submit" style="width:60px;color:#666666;" >
<br/><span>(e.g. E 123rd St, New York, NY, United States)</span>

</form>    
       </div>
</div>