<div id="content">
     <div id="box" style="width:500px;padding-left:10px;">
               <h3 id="adduser"><?php echo ucfirst($codeListing['Report']['name'])." (".$codeListing['Code']['code'].")"; ?></h3>
                   <br/>
                        <table class="tbl">
                        <tr>
                       	<td style="text-align:justify;"><?php echo $codeListing['Code']['description'];  ?></td>           
                        </tr>
                        </table>
       </div>
</div>