<div id="content">
    <h2 style="font-size: 24px; text-align: center;"><strong>Device List</strong></h2>   
    <section class="form-box" style="width:100%; margin: 0">                
        <ol class="register-form" style="list-style: decimal;">
            <?php foreach($schService as $options){?>
            <li style="text-align: center;">
                <?php echo $options['Service']['name'];?>
            </li>
            <?php }?>
        </ol>
    </section>         
</div>