@charset "utf-8";
/* CSS Document */

body{ margin:0;padding:0; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333}

h1, h2, h3, h4, h5, h6, p, ul, li, ol, form, input{padding:0px; margin:0px; font-weight:normal}
ul, li, ol{list-style:none}
.clear{clear:both; font-size:0px; line-height:0px;}
a{ border:none; text-decoration:none}
img{border:0px;}
a{color:#66a535; font-weight:normal;}
a:hover{color:#545559;}

#page-holder, .footer-sub{ width:996px; margin:0 auto;}
#page-holder:after, .footer-section:after, #middle:after{font-size:0px; line-height:0px; height:0px; content:'.'; visibility:hidden; display:block; clear:both}


#container{width:100%; background:url(../img/dot.gif) no-repeat 0 0;}

#header-container{width:100%; }
 /* background:url(../img/body-bg.gif) repeat-x 0 81px; */
#header{width:950px; padding:8px 0 0 0;  margin:0 auto; background:url(../img/contact-number.png) no-repeat 730px 3px}
/*.head-links{float:right; width:100%; padding:0 135px 0 0; text-align:right}*/
.head-links a{background:url(../img/arrow.png) no-repeat 0 4px; padding:0 0 0 11px; margin:0 10px 0 0}
/*
.menu{width:100%; float:left; background:url(../img/menu-right.png) no-repeat 100% 14px}

ul.menu-list{background:url(../img/menu-md.png) repeat-x 0 0; width:701px; float:left; margin:14px 0 0 234px; padding:0 0 0 10px}
ul.menu-list li{ float:left}
ul.menu-list li a{color:#fff; float:left; font-weight:bold}
ul.menu-list li a span{ padding:13px 17px; display:block}
ul.menu-list li a:hover{background:url(../img/menu-right.gif) no-repeat 100% 0;}
ul.menu-list li a:hover span{background:url(../img/menu-left.gif) no-repeat 0 0;}
ul.menu-list li a.selected{background:url(../img/menu-right.gif) no-repeat 100% 0;}
ul.menu-list li a.selected span{background:url(../img/menu-left.gif) no-repeat 0 0;}
.logo{float:left; width:234px;}
.logo img{position:absolute;}
.header-top{height:73px;}*/

#middle{padding:24px 0 0 0; float:left; width:100%; background:#fff}
.middle-section{margin:0 auto; width:950px}
.left{width:603px; float:left; margin:0 22px 0 0}
h1{padding:0 0 2px 3px; font-family:Arial, Helvetica, sans-serif; font-size:26px; color:#818285;}
h1 span{color:#477d1c;}
.content{background:url(../img/heading-bg.gif) no-repeat 100% 0; width:576px; float:left; padding:20px 20px 0 7px}
h3{color:#66a535; font-size:18px; background:url(../img/com.gif) no-repeat 0 3px; padding:0 0 16px 90px; line-height:22px}
p{font-size:12px; color:##302226; padding:0 4px 0 4px; line-height:18px}

h2{padding:0 0 0 3px; font-family:Arial, Helvetica, sans-serif; font-size:20px; color:#818285;}

.row{float:left; width:100%; margin:24px 0 0 0}

.col{width:290px; float:left; margin:0 22px 0 0}
.featured-pro{width:290px; float:left; padding-right:0; border-bottom:1px solid #d6d6d6; padding-bottom:15px}
.featured-pro p{margin:0 0 12px 0;}
.pro-img{float:left; margin:0 10px 0 0}
.pro-detail{float:left; width:170px}
.pro-detail img{ margin:0 0 5px 0}
h4{padding:0 0 5px 3px; font-family:Arial, Helvetica, sans-serif; font-size:15px; color:#818285; font-weight:bold}

.news-l{width:290px; float:left; padding-right:0;}
.news-l p{margin:0 0 12px 0;}


ul.news{float:left;}
ul.news li{float:left; width:100%; border-bottom:1px solid #d6d6d6; padding:0 0 0 0; margin:0 0 9px 0}
.date{background:url(../img/date-bg.png) no-repeat 0 0; width:36px; height:32px; float:left; margin:0 12px 0 2px; font-size:16px; color:#66a535; font-weight:bold; text-align:center; padding:1px 0 0 0;}
.date span{font-size:11px; width:100%; float:left; line-height:8px}
ul.news p{padding:0 10px 0 0; overflow:hidden}

ul.client-list{float:left;}
ul.client-list li{float:left; width:100%; border-bottom:1px solid #d6d6d6; padding:0 0 9px 0; margin:0 0 9px 0}
.client{width:582px; float:left}
.client-img{float:left; margin:0 15px 0 0; width:92px}
.client-detail{float:left; width:472px;}
.client-detail p{margin:0 0 10px 0;}

.find-more{float:left; padding:12px 0 17px 0; width:100%; position:relative}
.find-more-left{background:url(../img/findoutmore-bgleft.gif) no-repeat 0 0; padding-left:6px;}
.find-more-right{background:url(../img/findoutmore-bgright.gif) no-repeat right 0; padding-right:6px;}
.find-more-middle{background:#ececec; height:76px;}
.find-green{position:absolute; left:24px; top:7px; background:url(../img/findout-green.png) no-repeat 0 0; width:256px; height:71px; padding:24px 18px 0 15px;}
.find-green h2 a{font-size:30px; font-weight:normal; color:#fff;}
.find-green h2 img{vertical-align:middle; float:right; margin-left:4px;}
.findmore-icons{width:584px; float:right; padding:5px 0 0 0}
.findmore-icons li{float:left; margin-right:55px; text-align:center}
.findmore-icons li.nomargin{margin-right:0;}
.findmore-icons li img{text-align:center}
.findmore-icons li a{color:#000; font-size:12px; display:block; text-align:center}
.findmore-icons li a:hover{color:#66a535;}

#footer{width:100%; float:left; background:#fff url(../img/footer-bg.gif) no-repeat center 0; width:100%; padding:5px 0 0 0}
.footer-section{ width:920px; margin:0 auto; background:#818285; padding:0 15px}
.footer-section h2{font-size:18px; color:#fff; padding:0 0 10px 0}
ul.footer-links{ float:left; width:150px}
ul.footer-links li{float:left; width:100%}
ul.footer-links li a{color:#fff;}
.footer-col{border-right:1px solid #757577; width:290px; float:left; margin:10px 15px 0 0}
#footer a{color:#fff;}
#footer li{float:left;}
#footer li a{color:#fff; font-size:11px;}
#footer li a:hover{color:#fff; text-decoration:underline;}
#footer .right1{float:right; color:#ccc; padding:10px 0 0 0; font-size:12px;}

.row1{float:left; width:100%; margin:0 0 10px 0; padding:0 0 15px 0; border-bottom:1px solid #757577;}

.no-border{border:0;}

.copyright{width:100%; float:left; color:#fff; padding:0 0 10px 0}
.footer-left{float:left; width:600px;}
.footer-right{float:right; width:200px; text-align:right}
.footer-right a{color:#fff;}
.footer-right a:hover{color:#fff; text-decoration:underline}

.inner-left{float:left; width:233px; margin:15px 22px 25px 0}
.inner-right{float:left; width:682px; margin:15px 0 0 0; padding:5px 0 25px 0}

.leftmenu-box{width:100%; float:left; margin:0 0 0 0}
.leftmenu-top{width:100%;}
.leftmenu-tleft{background:url(../img/greenbox_topleft.jpg) no-repeat 0 0; padding:0 0 0 5px;}
.leftmenu-tright{background:url(../img/greenbox_topright.jpg) no-repeat 100% 0; padding:0 5px 0 0;}
.leftmenu-tmid{ background:url(../img/greenbox_topmiddle.jpg) repeat-x 0 0; height:4px}

.leftmenu-bottom{width:100%; float:left}
.leftmenu-bleft{background:url(../img/greenbox_bottomleft.jpg) no-repeat 0 0; padding:0 0 0 5px;}
.leftmenu-bright{background:url(../img/greenbox_bottomright.jpg) no-repeat 100% 0; padding:0 5px 0 0;}
.leftmenu-bmid{ background:url(../img/greenbox_bottommiddle.jpg) repeat-x 0 0; height:5px}

.leftmenu-middle{ background:#65a434 url(../img/highlightbox-middle.png) repeat-x 0 100%; float:left; width:100%; padding-bottom:2px}
.leftmenu-middle:after{font-size:0px; line-height:0px; height:0px; content:'.'; visibility:hidden; display:block; clear:both}
.leftmenu-content{padding:2px 13px 2px 13px;}

.leftmenu-content h2{padding:0 0 3px 0px; font-family:Arial, Helvetica, sans-serif; font-size:20px; color:#fff; border-bottom:1px solid #8bb769}

ul.leftmenu{width:100%; margin:0 0 5px 0; float:left}
ul.leftmenu li{float:left; border-bottom:1px solid #8bb769; padding:7px 0 7px 12px; width:196px; background:url(../img/arrow.gif) no-repeat 0 12px}
ul.leftmenu li a{color:#fff; text-decoration:underline; font-size:11px}
ul.leftmenu li a:hover{text-decoration:none;}
ul.leftmenu li.last{border:none;}

.form{width:660px; padding:0 0 7px 4px; border-bottom:1px solid #e2e2e2; margin:0 0 10px 0; float:left}
.form label{ font-size:12px; font-weight:bold; width:102px; float:left; color:#818285; padding:5px 0 0 0}

h4.form-head{color:#629c34; font-size:15px; font-weight:bold; padding:0 0 10px 5px}
.input-box{ background:url(../img/inputbox-left.gif) no-repeat 0 0; height:28px; float:left; width:294px;  padding:0 0 0 5px; margin:0 0 10px 0}
.input-box span{ background:url(../img/inputbox-right.gif) no-repeat 100% 0; height:28px; float:left; overflow:hidden;}
.input-box input{background:none; border:0; width:284px; height:26px; padding:0 5px; color:#333}

.captcha{height:28px; float:left; width:294px;  padding:0 0 0 5px; margin:0 0 10px 0};

.form select{float:left; width:299px; margin:0 0 10px 0}
.form br{clear:left;}

.inner-form{width:640px}
.btn-sec{padding:5px 0 0 5px;}

.testimonial-main{width:675px; padding:15px 5px 0 0}
.user-img{ width:82px; float:left; margin:0 15px 0 0}
.user-img img{border:1px solid #e0e0e0; padding:2px;}

.testimonial-content{width:513px; float:left; margin:0 5px 0 0}
.testimonial-content a{ font-weight:bold}

ul.testimonials{width:100%;}
ul.testimonials li{float:left; padding:0 5px 10px 5px; margin:0 0 10px 0; border-bottom:1px solid #e2e2e2;}

.about-main{width:675px; padding:15px 5px 0 5px}
.about-main img{border:1px solid #d6d6d6; padding:2px}
.about-img{float:left; width:220px;}
.about-content{float:left; width:435px; margin:0 0 0 15px}
.about-main p{ margin:0 0 10px 0}

.faq-section{width:930px; float:left; padding:0 10px}
.faq-content{width:910px;}

ul.faq-list{width:100%;}
ul.faq-list li{width:100%; float:left; padding-bottom:10px; margin-bottom:10px; border-bottom:1px #f1f1f1 solid;}
.question{font-size:12px; font-weight:bold; /*color:#66A535;*/ /*background:url(../img/qus-img.png) no-repeat 0 3px;*/ padding-left:30px;}
.answer{color:#666666; /*background:url(../img/ans-img.png) no-repeat 0 3px;*/ padding-left:30px;}

.contact-form{float:left; width:100%}
.contact-img{float:left; margin:0 20px 0 0}
.contact-img img{ padding:2px; border:1px solid #e0e0e0;}

.textarea-box{ background:url(../img/textareabox-left.png) no-repeat 0 0; height:138px; float:left; width:294px;  padding:0 0 0 5px; margin:0 0 10px 0}
.textarea-box span{ background:url(../img/textareabox-right.png) no-repeat 100% 0; height:138px; float:left; overflow:hidden;}
.textarea-box textarea{background:none; border:0; width:284px; height:130px; padding:0 5px; color:#333}

button {float: left; padding: 0 4px 0 0;  height: 19px;border: 0;cursor: pointer;text-align: center;color: #fff;background: transparent url(../img/greenbtn-right.gif) no-repeat right top; font-family:Arial, Helvetica, sans-serif; font-size:11px; font-weight:bold; overflow: visible;margin:0 5px 0 0;} 

button span {display: block;padding: 0 5px 0 10px;height: 19px;line-height: 19px;white-space: nowrap;background: transparent url(../img/greenbtn-left.gif) no-repeat left 0; color:#fff;} 

button:hover, button:focus{background-position: right 0px;}  
button:hover span, button:focus span{background-position: left 0px;}  
button:focus {margin-top: 0px;}
button::-moz-focus-inner /* fixing evil default firefox padding */ {padding:0;border:none;}

.button-section{width:500px; margin:0 0 0 250px; float:left; padding:0 0 10px 0}

.pro-row{float:left; width:100%; margin:0 0 20px 0; padding:0 0 20px 0; border-bottom:1px solid #D6D6D6;}
.pro-col{width:180px; text-align:center; margin:0 25px 0 22px; float:left; }
.pro-col h4{padding-bottom:10px;}
.pro-col h4 a{font-weight:bold}
.p-img{border:1px solid #D6D6D6; padding:5px; background:#fff;  margin:0 0 5px 0}
.pagination{width:100%; text-align:right; margin:0 0 20px 0;}
.pagination a{border:1px solid #D6D6D6; display:inline-block; padding:1px 5px; margin:0 5px 0 0; background:#ededed; color:#666; font-size:11px; font-weight:bold}
.pagination a:hover{border:1px solid #D6D6D6; padding:1px 5px; margin:0 5px 0 0; background:#66a535; color:#fff; font-size:11px; font-weight:bold}


/* START this css  is for the Error Message */
.negative {
	color: #b86464;
	background-image:url(../img/negative.gif);
}
.system {
	display: block;
	float: left;
	padding: 0 0 0 19px;
	white-space: nowrap;
	font-weight: bold;
	background-repeat: no-repeat;
	background-position: left center;
}
.error-message{}
/*END*/

/******new-css**********/
.banner1{ background:url(../img/banner-1.gif) no-repeat 0 0; width:100%; height:293px;}
.banner2{ background:url(../img/banner-2.gif) no-repeat 0 0; width:100%; height:293px;}
.banner3{ background:url(../img/banner-3.gif) no-repeat 0 0; width:100%; height:293px;}
.banner4{ background:url(../img/banner-4.gif) no-repeat 0 0; width:100%; height:293px;}
.right-banner{ width:465px; float:right; margin:20px 0 0 0; font-family:Calibri, Verdana; color:#FFF;}
.right-banner h1{ width:100%; float:left; font-size:28px; font-weight:bold; color:#FFF; text-shadow:#666 1px 2px; line-height:32px;}
.right-banner h2{ width:100%; float:left; font-size:18px; font-style:italic; color:#FFF; font-weight:bold; margin:10px 0 10px 0;}
.right-banner p{ width:95%; float:left; font-size:14px; color:#FFF; font-weight:bold;line-height:19px;}
.sign-up{ float:left; margin:50px 0 0 0;}
.banner-menu{ height:44px; background:url(../img/banner-menu-left.jpg) no-repeat left top;}
.inner-banner-menu{ height:44px; background:url(../img/banner-menu-right.jpg) no-repeat right top;}


.inner-banner-menu ul{ list-style-type: none; margin:0 0px 0px 0px; padding:9px 0 0 35px;}
.inner-banner-menu li{ display:inline; float:left; padding:0 32px 3px 32px;}
.inner-banner-menu a { float:left; margin:0; padding:0 0 0 20px; text-decoration:none;}
.inner-banner-menu a span { float:left; display:block; padding:5px 25px 5px 5px; color:#4d4c4c; font-size:13px; font-weight:bold;}
.inner-banner-menu a span {float:none;}
.inner-banner-menu a:hover span { color: #fff;}
.inner-banner-menu #current a span { color: #fff;}
.inner-banner-menu a:hover { background:url(../img/tab-left-green.gif) no-repeat left top; background-position:0px 2px;}
.inner-banner-menu a:hover span { background:url(../img/tab-right-green.gif) no-repeat right top; background-position:100% 2px;}
.inner-banner-menu a.active { background:url(../img/tab-left-green.gif) no-repeat left top; background-position:0px 2px; color:#fff}
.inner-banner-menu a.active span{ background:url(../img/tab-right-green.gif) no-repeat right top; background-position:100% 2px; color:#fff}

.video-right{ margin:0 0 0 0; padding:40px 0 0 0;}
.innerRightBox {
    background:url(../img/acount-bg.gif) no-repeat 0 0;
    float: left;
    height: 318px;
    padding: 25px 10px 0;
    text-align: center;
    width: 295px;
	margin:10px 0 0 0;
}

.client-row {
    float: left;
    margin: 5px 0 0;
    width: 100%;
}

/******new-css******17-12-2010****/
.right{ width:315px; float:right; margin:0 0 15px 0;}
.faq-section {
    float: left;
    padding: 0 10px;
    width: 603px;
}
.faq-content {
    width:96%;
}
.wrap-faq{ width:100%; float:left; margin:0 0 0 0; padding:0 0 0 0;}
.inner-faq{ width:180px; float:left; margin:0 2px 10px 8px;}
.faq-title{ width:100%; float:left; height:25px; background:url(../img/faq-title.gif) no-repeat left top;}
.faq-title a{ width:100%; display:block; text-align:center; color:#FFF; line-height:25px; font-weight:bold}
ul.faq-listing{ width:98%; float:left; list-style:none; margin:6px 0 6px 5px; padding:0 0 0 0;}
ul.faq-listing li{ margin:0 0 0 0; padding:0 0 5px 0;}
h3.link-title{ font-size:18px; color:#68a738; background:none; padding:0 0 8px 0;}
.new-form {
    background:#f3fdf3;
    float: left;
    margin: 0 0 10px;
    padding: 5px 0 0px 0px;
    width: 580px;
	border-top:4px solid #e6f2e6;
}
.inner-new-form{ width:100%; float:left; border-bottom:1px solid #e6f2e6; padding:3px 0 3px 0;}


.inner-new-form label {
    color: #249e2a;
    float: left;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 0 0 15px;
    width: 130px;
}
.name-input{ width:335px; height:22px; padding:2px; border:3px solid #c7e5c8; color:#666; }
.message-in{ width:335px; height:105px; padding:2px; border:3px solid #c7e5c8; color:#666;}
.new-form-captcha{ margin:0 150px 0 145px; float:left; width:190px;}
.button-section {
    float: left;
    margin: 0 0 0 145px;
    padding: 0 0 10px;
    width: 300px;
}

/******new-css******about-us****/
.inner-about{ width:100%; float:left; border-bottom:1px solid #e2e3e2; margin:0 0 0 0; padding:7px 0 8px 0;}
.about-left{ width:90px; float:left; margin:0 0 0 0}
.about-left img{ border:1px solid #cccccc;}
.about-right{ width:400px; float:left;}
.thumb-left{ width:120px; float:left; margin:0 0 0 0}
.thumb-left img{ border:3px solid #999; float:left; margin:0; padding:0;}
h2.snap-title{ font-size:18px; color:#66a535;}
h2.sub-title{ font-size:12px; font-style:italic; font-weight:bold;}
/*****************/

/********************/
.signup_btn{
     background: url("../img/sign-up-btn.png") no-repeat scroll 0 0 transparent;
}
.signup_btn:hover{
     background: url("../img/sign-up-hover.png") no-repeat scroll 0 0 transparent;
}
/*******/


/******new-css******25-12-2010****/
.head-links {
    float: right;
    padding: 0 0 0 0;
    text-align: right;
    width: 100%;
    height:50px;
}

.header-top {
    height: 95px;
	position:relative;
}
.wrap-head-left{ width:150px; float:left; margin:12px 0 0 0; font-size:14px;}
.wrap-head-right{ width:205px; float:right; text-align:left;}
.logo {
    float: left;
    width: 234px; position: absolute;
	top:36px
}
.logo img {
    margin:0; padding:0;
}
.menu {
    background: url(../img/menu-right.png) no-repeat scroll 100% 0px transparent;
    float: left;
    width: 100%;
}
ul.menu-list {
    background: url(../img/menu-md.png) repeat-x scroll 0 0 transparent;
    float: left;
    margin: 0px 0 0 234px;
    padding: 0 0 0 10px;
    width: 701px;
}
ul.menu-list li {
    float: left;
}
ul.menu-list li a {
    color: #FFFFFF;
    float: left;
    font-weight: bold;
}
ul.menu-list li a span {
    display: block;
    padding: 13px 17px;
}
ul.menu-list li a:hover {
    background: url(../img/menu-right.gif) no-repeat scroll 100% 0 transparent;
}
ul.menu-list li a:hover span {
    background: url(../img/menu-left.gif) no-repeat scroll 0 0 transparent;
}
ul.menu-list li a.selected {
    background: url(../img/menu-right.gif) no-repeat scroll 100% 0 transparent;
}
ul.menu-list li a.selected span {
    background: url(../img/menu-left.gif) no-repeat scroll 0 0 transparent;
}

.sign-up a.ban-sign{ width:101px; background:url(../img/sign-up.png) no-repeat 0 0; height:38px; display:block;}
.sign-up a.ban-sign:hover{ width:101px; background:url(../img/sign-up-ho.png) no-repeat 0 0; height:38px; display:block;}
.sign-up{ float:left; margin:50px 0 0 0; width:125px;}
a.new_signup{width:60px; background:url(../img/sign-sm_new.png) no-repeat 0 0; height:20px; display:block;float:right; margin:0 30px 0 0}
a.new_signup:hover{width:60px; background:url(../img/sign-sm-ho_new.png) no-repeat 0 0; height:20px; display:block;float:right; margin:0 30px 0 0}
.banner_margin{width:100%;float:left;height:150px;}