a:link, a:visited, a:active {
	color: #65870a;
	
}

#header {
	background: #92b83e url(/img/green-theme/login_header_bg.gif) repeat-x;
}

.title_wrapper h2 {
	color:#777750;
}

.button {
	background:url(/img/green-theme/submit_middle.gif) repeat-x;
}

.small_inputs .button {
	background-image: url(/img/green-theme/submit_middle_small.gif)
	
}

.button span {
	background:url(/img/green-theme/submit_left.gif) no-repeat;
}

.small_inputs .button span {
	background-image: url(/img/green-theme/submit_left_small.gif);
}

.button span span {
	background:url(/img/green-theme/submit_right.gif) no-repeat right 0;
}

.small_inputs .button span span {
	background-image: url(/img/green-theme/submit_right_small.gif);
}

