.message{text-align:center;color:#54A41A;font-weight:bold;}

/*----------- added by navdeep on 4 june---------------------*/
.input-chngs1 input{ background: #ebebeb; /* Old browsers */
background: -moz-linear-gradient(top, #ebebeb 0%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebebeb), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ebebeb 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ebebeb 0%,#ffffff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ebebeb 0%,#ffffff 100%); /* IE10+ */
background: linear-gradient(top, #ebebeb 0%,#ffffff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebebeb', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
border:1px solid #bbb; width:66%; margin:0 30% 0 0;
}
.input-chngs1 td { color:#666;}

table td { border:none; }
.input-chngs1 th{border:0px; text-align:center; font-weight:bold; font-size:12px;}
table td label {float:right; font-weight:bold; font-size:12px;}
.input-chngs1 input {width: 155px; margin-right: 3px;}
.blue-hdng { background: none repeat scroll 0 0 #F4FAFF; border:none;
    border-bottom: 1px solid #AECEEF;
    color: #2281D4;
    font-size: 16px; font-weight:normal;
}
.main-heading{font-size: 16px; color: #2281D4;}
.lbl{text-align:center; font-size: 12px; font-weight:bold;}

.input-chngs2 input{ background: #ebebeb; /* Old browsers */
background: -moz-linear-gradient(top, #ebebeb 0%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebebeb), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ebebeb 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ebebeb 0%,#ffffff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ebebeb 0%,#ffffff 100%); /* IE10+ */
background: linear-gradient(top, #ebebeb 0%,#ffffff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebebeb', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
border:1px solid #bbb; width: 60px; margin:0 30% 0 0;
}
.input-chngs2 td {text-align:center; color:#666;}
.input-chngs2 th{border:4px  text-align:center; font-weight:bold; font-size:12px;}


/*--01/06/2012 --*/

h1.main-hdng2 { background:#f4faff; border-bottom:1px solid #aeceef; font-size:16px; color:#2281d4; padding-left:5px;}
.form-box-wrapper2 { overflow:hidden;}
.form-box2 h2 { font-size:14px; color:#222; font-weight:normal;  padding-bottom:5px;}
.form-box2 { float:left; width:27%; margin:0;  font-size:12px;}
.wdth-46 { width:46%;}
.register-form2 { border:1px dotted #ccc; padding:5px 15px 15px; overflow:hidden; border-right:0;}
.register-form2 > li { overflow:hidden; color:#484444; padding-bottom:6px;}
.register-form2 > li > label { width:20%; float:left; text-align:right; margin-right:8px; padding-top:7px;}
.register-form2 > li > label span { color:#f00; font-size:10px;}
.register-form2 > li p { float:left; margin-bottom:0;}
.input-field2 { background:url(../../img/manager/input-field-lft.png) no-repeat left top; height:28px; padding-left:5px; display:block; margin-right:10px}
.input-field2 input { background:url(../../img/manager/input-field-rt.png) no-repeat right top; height:18px; padding:5px 5px 5px 0; border:0; width:100%; color:#555; font-size:12px; float:left; }
.register-form2 li select, .summary-tbl2 li select { border:1px solid #aaa; height:28px; padding:5px;
background: #ebebeb; /* Old browsers */
background: -moz-linear-gradient(top, #ebebeb 0%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebebeb), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ebebeb 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ebebeb 0%,#ffffff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ebebeb 0%,#ffffff 100%); /* IE10+ */
background: linear-gradient(top, #ebebeb 0%,#ffffff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebebeb', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */}
.register-form2 > li .wdth-250, .summary-tbl2 li .wdth-250 { width:149px;}  /* */
.schedule2 { margin:0 2.6% 0 2.4%; padding-top:15px; }  /* */
.client-name2 h2{ background:url(../../img/manager/manager/arrw-dwn.png) no-repeat left center; height:31px; font-size:14px; line-height:30px; font-weight:normal; color:#fff; padding-left:20px;}/* */
.client-name2 { background:url(../../img/manager/tab-repeat.png) repeat-x; padding-left:10px; display:block;  border-left:1px solid #2270ab; border-right:1px solid #2270ab;}/* */
.client-name2:hover { text-decoration:none;}/* */
.summary-tbl2 { border-left:1px dotted #ccc; padding:5px 0 15px; overflow:hidden;  background: none repeat scroll 0 0 #F4FAFF;}
.summary-tbl2 li { overflow:hidden; padding:4px 0; line-height:26px;}
.summary-tbl2 p { float:left; width:21%; margin-bottom:0;}
.summary-tbl2 .summry-hdr { background:#c5e5ff;  line-height:normal; margin-bottom:5px;}
.summary-tbl2 .summry-hdr p { color:#000}
.summry-lbl2 { text-align:center;}
.wdth-46p { width:46%; float:left;}
.emrgncy-tbl2 { width:54%; float:left;}
.emrgncy-tbl2 li { overflow:hidden; padding:4px 0;}
.emrgncy-tbl2 p { width:23.33%; float:left; margin-bottom:0;}
.emrgncy-tbl2 .emrgncy-hdr2 { background:#c5e5ff;  line-height:normal; margin-bottom:5px; }
.emrgncy-tbl2 .emrgncy-hdr2  p { color:#000;}

.emrgncy-tbl2 p { padding:0 !important} 
.blue-btn:visited { color:#fff !important}
.lbtxt{text-align:right;width:20%}
/*--i have put style for blue btn in the html file, becoz this stylesheet is not linked to the file. --*/
