/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * { margin:0; padding:		0; list-style:		none; }
.sf-menu { line-height:	1.0; }
.sf-menu ul { position:		absolute; top:			-999em; /* left offset of submenus need to match (see below) */ }
.sf-menu ul li { width:			100%; }
.sf-menu li:hover { visibility:		inherit; /* fixes IE7 'sticky bug' */ }
.sf-menu li { float:			left; position:		relative; }
.sf-menu a { display:		inline-block; position:		relative; }
.sf-menu li:hover ul, .sf-menu li.sfHover ul { left:			0; top:			0; /* match top ul list item height */ z-index:		99; }
ul.sf-menu li:hover li ul, ul.sf-menu li.sfHover li ul { top:			-999em; }
ul.sf-menu li li:hover ul, ul.sf-menu li li.sfHover ul { left:			14em; /* match ul width */ top:			0; }
ul.sf-menu li li:hover li ul, ul.sf-menu li li.sfHover li ul { top:			-999em; }
ul.sf-menu li li li:hover ul, ul.sf-menu li li li.sfHover ul { left:			10em; /* match ul width */ top:			0; }
/*** DEMO SKIN ***/
.sf-menu { float:			right; }
.sf-menu a {  text-decoration:none; }
.sf-menu a, .sf-menu a:visited { /* visited pseudo selector so IE6 applies text colour*/  }
.sf-menu li { }
.sf-menu li li {  }
.sf-menu li li li {  }
.sf-menu li:hover, .sf-menu li.sfHover, .sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active { outline:		0; }
/*** arrows **/
.sf-menu a.sf-with-ul { min-width:		1px; /* trigger IE7 hasLayout so spans position accurately */ }
.sf-sub-indicator { position:		absolute; display:		block; right:			.75em; top:			1.05em; /* IE6 only */ width:			10px; height:			10px; text-indent: 	-999em; overflow:		hidden; background:		url('../../img/new_design/arrows-ffffff.png') no-repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only */ }
a > .sf-sub-indicator {  /* give all except IE6 the correct values */ top:			.8em; background-position: 0 -100px; /* use translucent arrow for modern browsers*/ }
/* apply hovers to modern browsers */
a:focus > .sf-sub-indicator, a:hover > .sf-sub-indicator, a:active > .sf-sub-indicator, li:hover > a > .sf-sub-indicator, li.sfHover > a > .sf-sub-indicator { background-position: -10px -100px; /* arrow hovers for modern browsers*/ }
/* point right for anchors in subs */
.sf-menu ul .sf-sub-indicator { background-position:  -10px 0; }
.sf-menu ul a > .sf-sub-indicator { background-position:  0 0; }
/* apply hovers to modern browsers */
.sf-menu ul a:focus > .sf-sub-indicator, .sf-menu ul a:hover > .sf-sub-indicator, .sf-menu ul a:active > .sf-sub-indicator, .sf-menu ul li:hover > a > .sf-sub-indicator, .sf-menu ul li.sfHover > a > .sf-sub-indicator { background-position: -10px 0; /* arrow hovers for modern browsers*/ }
/*** shadows for all but IE6 ***/
.sf-shadow ul { background:	url('../../img/new_design/shadow.png') no-repeat bottom right; padding: 0 8px 9px 0; -moz-border-radius-bottomleft: 17px; -moz-border-radius-topright: 17px; -webkit-border-top-right-radius: 17px; -webkit-border-bottom-left-radius: 17px; }
.sf-shadow ul.sf-shadow-off { background: transparent; }

.menu li li a.sf-with-ul span{background:0;}

.menu-wegweiser li		{ background:none !important;}

.sub ul.menu-submenu { list-style: none; margin: 0px 0 0 0; padding: 10px; background:url(../../img/new_design/submenu_bg.png) bottom }




/******** Menu ***********/
ul#topnav li img { border:0; }
ul#topnav { padding: 0; width: 100%; list-style: none; }
ul#topnav li { float: left; position: relative;}
ul#topnav li .sub{ position: absolute; width:100%; top: 39px; padding:10px 0px 0px; float: left; z-index:5000; background:url(../../img/new_design/submenu_btm.png) bottom no-repeat}
*+html ul#topnav li .sub{ left:0px;}
ul#topnav li .sub ul { list-style: none; margin: 7px 0 0 0; padding: 2px 8px 10px 8px;  background:url(../../img/overlay.png) repeat; width:138px }
ul#topnav .sub ul li { width: 94%; color: #4fb38b; padding:0; background:none; }
ul#topnav .sub ul li a { background:none;padding:8px 4px; width:100%; float: none; text-indent: 0; /*--Reset text indent--*/display: block; font-weight:lighter; text-decoration: none; color: #fff; font-size:12px; font-family:Arial, Helvetica, sans-serif; margin:0px; height:auto; text-align:left; line-height:18px }
ul#topnav .sub ul li a:hover { color:#84aa4e; text-decoration:underline }


.menu-submenu li { height:auto !important}



/******** Menu ***********/
ul.top-menu li img { border:0; }
ul.top-menu { padding: 0; list-style: none; }
ul.top-menu li { float: left; position: relative;}
ul.top-menu li .sub{ position: absolute; width:100%; top: 14px; padding:10px 0px 0px; float: left; z-index:5000; background:url(../../img/new_design/submenu_btm.png) bottom no-repeat}
*+html ul.top-menu li .sub{ left:0px;}
ul.top-menu li .sub ul { list-style: none; margin: 7px 0 0 0; padding: 2px 8px 10px 8px;  background:url(../../img/overlay.png) repeat; width:112px }
ul.top-menu .sub ul li { width: 94%; color: #4fb38b; padding:0; background:none; }
ul.top-menu .sub ul li a { background:none;padding:8px 4px; width:100%; float: none; text-indent: 0; /*--Reset text indent--*/display: block; font-weight:lighter; text-decoration: none; color: #fff; font-size:12px; font-family:Arial, Helvetica, sans-serif; margin:0px; height:auto; text-align:left; line-height:18px }
ul.top-menu .sub ul li a:hover { color:#84aa4e; text-decoration:underline }


.menu-submenu li { height:auto !important}

.black-btn span {
    background: url("../../img/black-btn-r.png") no-repeat scroll right center transparent !important;
    cursor: pointer !important;
    display: block !important;
    font-size: 14px !important;
    height: 20px !important;
    line-height: 18px !important;
    padding-right: 6px !important;
}

.black-btn {
    background: url("../../img/black-btn-l.png") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    display: block;
    height: 20px;
    padding-left: 5px;
    white-space: nowrap;
}