/* root element for tabs  */
ul.tabs { 
    border-bottom: 1px solid #EEEEEE;
    height: 30px;
    list-style: none outside none;
    margin: 0 !important;
    padding: 0;
}

/* single tab */
ul.tabs li { 
	float:left;	 
	text-indent:0;
	padding:0;
	margin:0 !important;
	list-style-image:none !important;
	border-left: 1px solid #EEEEEE;
	border-right: 1px solid #EEEEEE;
	border-top: 1px solid #EEEEEE;
	background-color: #c6c6c6;
	-moz-border-radius:10px 10px 0 0;
	webkit-border-radius:10px 10px 0 0;
	border-radius:10px 10px 0 0;
}

/* link inside the tab. uses a background image */
ul.tabs a { 
	background: url(/tools/img/tabs/blue.png) no-repeat -420px 0;
	font-size:15px;
	font-weight:bold;
	display:block;
	height: 30px;  
	line-height:30px;
	width: 134px;
	text-align:center;	
	text-decoration:none;
	color:#FFFFFF;
	padding:0px;
	margin:0px;	
	position:relative;
	top:0px;
}

ul.tabs a:active {
	outline:none;		
}

/* when mouse enters the tab move the background image */
ul.tabs a:hover {
	background-position: -420px -31px;	
	color:#fff;	
}

/* active tab uses a class name "current". its highlight is also done by moving the background image. */
ul.tabs a.current, ul.tabs a.current:hover, ul.tabs li.current a {
	background-position: -420px -62px;		
	cursor:default !important;
  background-color: #f6f6f6; 
	color:#000 !important;
	-moz-border-radius:9px 9px 0 0;
  border-radius:9px 9px 0 0;
	webkit-border-radius:9px 9px 0 0;
}

/* Different widths for tabs: use a class name: s, l, xl */


/* width 1 */
ul.tabs a.s 			{ background-position: -553px 0; width:81px; }
ul.tabs a.s:hover 	{ background-position: -553px -31px; }
ul.tabs a.s.current  { background-position: -553px -62px; background-color: #8fbc8f; }


/* width 2 */
ul.tabs a.l 			{ background-position: -247px -0px; width:174px; }
ul.tabs a.l:hover 	{ background-position: -247px -31px; }
ul.tabs a.l.current  { background-position: -247px -62px; }


/* width 3 */
ul.tabs a.xl 			{ background-position: 0 -0px; width:248px; }
ul.tabs a.xl:hover 	{ background-position: 0 -31px; }
ul.tabs a.xl.current { background-position: 0 -62px; color: #8fbc8f;}


/* initially all panes are hidden */ 
.panes{
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    font-size: 11px;
    padding: 10px;
    text-align: justify;
    background:#f6f6f6;
}

