#tt 
{
	position:absolute;
	display:block;
	z-index: 10000000;
	padding: 0px;
	width: 1px;
}
#ttcont 
{
	display:block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 12px 12px;
	margin-left:5px;
	background:#fff;
	color:#666666;
	border: 1px solid #ccc;
}
