<!-- footer section -->
<footer class="footer">
   <div class="container">
      <div class="col-lg-6 col-xs-12 col-sm-6">
         <ul>
            <li>
               <a href="#">Privacy</a>
            </li>
            <li>
               <a href="#">Conatct Us</a>
            </li>
            <li>
               <a href="#">Help</a>
            </li>
            <li>
               <a href="#">Term of Service</a>
            </li>
         </ul>
      </div>
      <div class="col-lg-6 col-xs-12 col-sm-6 copyright"> 
         © 2016. All Rights Reserved for ReportsOnline Plus
      </div>
   </div>
</footer>