<!-- <div id="content" style="float: left; margin: 12px 0 10px 240px; padding: 10px; width: 380px;">
       			<table style="font-size:11pt">
       			<tr>
       			    <td><a href="#">DashBoard</a></td>
       			</tr>
       			<tr>
       			    <td><a href="/manager/employees/calendar">Schedule</a></td>
       			</tr>
       			<tr>
       			    <td><a href="/manager/owners/changepasswd">change Password</a></td>
       			</tr>
       			<tr>
       			    <td><a href="/manager/holidays/list">Holidays</a></td>
       			</tr>
       			<tr>
                <td><a href="/manager/employees">Employees</a></td>
            </tr>
       			<tr>
       			    <td><a href="/manager/messages/messages">Messages</a></td>
       			</tr>
       			<tr>
       			    <td><a href="/manager/trades">Trades</a></td>
       			</tr>
       			<tr>
       			    <td><a href="/manager/trades/trade_permission">Trade Board Permission</a></td>
       			</tr>
       			<tr>
       			    <td><a href="/manager/onnows">On Now</a></td>
       			</tr>
       			<tr>
       			    <td><a href="/manager/reports">Reports</a></td>
       			</tr>
       			<tr>
       			    <td><a href="/manager/owners/logout">Logout</a></td>
       			</tr>
       			</table>
            </div>-->
  <div class="left-wrapper">&nbsp;
    <!-- <h2>Hundreds of businesses trust SchedulePal with their employee scheduling needs.</h2>

<p>
SchedulePal is the single source to reduce costs and increase productivity while giving managers and employees online access from anywhere. SchedulePal is founded on over 25 years of retail and restaurant management experience and its founders have faced all sides of the hospitality industry. Our website is a software as a service (SaaS) program designed to save you time, save you money, and reduce employee turnover.
</p>
<p>
Our service simplifies the scheduling process for not only the manager, but also the employee. At schedulePal “We make it Easy.” and stand by a 100% customer satisfaction guarantee.</p> -->
  </div>
  <div class="mdl-wrapper">
    <ul>
      <li><a href="#">DashBoard</a></li>
      <li><a href="/manager/employees/calendar">Schedule</a></li>
      <li><a href="/manager/owners/changepasswd">Change Password</a></li>
      <li><a href="/manager/holidays/list">Holidays</a></li>
      <li><a href="/manager/employees">Employees</a></li>
      <li><a href="/manager/messages/messages">Messages</a></li>
      <li><a href="/manager/trades">Pending Shift Offers</a></li>
      <!--<li><a href="/manager/trades/trade_permission">Trade Board Permission</a></li>-->
      <li><a href="/manager/onnows">On Now</a></li>
      <li><a href="/manager/templates">Build Schedule Template</a></li>
      <li><a href="/manager/reports">Reports</a></li>
      <li><a href="/manager/owners/logout">Logout</a></li>
      
    </ul>
  </div>
  <div class="right-wrapper">
    
<!-- <h1>We make it easy!</h1>
<p>Save Time.Save Money. Reduce Employee Turnover.

SchedulePal is a fast, easy and affordable online employee scheduling software system designed for any size business in the restaurant and retail industry.
</p>

<h1>Save Time.</h1>
<p>What if you were able to decrease the time spent creating work schedules by 65%?

Improve your product? Improve your customer service? Improve employee morale? Improve staff training development...
</p>

<h1>Time = Money</h1>
<p>
SchedulePal allows you to tightly monitor and control your labor costs. Our system does the work for you so you can increase labor productivity, limit overtime, and eliminate diffusion.
</p>


<h1>Reduce Employee Turnover</h1>
<p>
SchedulePal = Happy Employees

SchedulePal gives your Offer your employees the flexibility and convenience of accessing their schedule online anytime and anywhere</p> -->
  </div>
           