 <?php if(isset($this->validationErrors['Owner'])) { ?>
 	<!-- <div id="top-panel" style='margin-top:10px;'>
 	 <div id="panel">-->
    <?php //foreach($this->validationErrors['Owner'] as $err) { 
    // echo $err; 
      //}  ?>
    <!-- </div>
    </div> -->
    <?php } ?>
 <div id="content" >
              <div id="box" >
                	<h3 id="adduser">Change Password</h3>
                		<?php echo $form->create('Owner', array('type'=>'POST', 'action'=>'changepasswd','name'=>'loginform','id'=>'form')); ?>					
                    <?php echo $form->hidden('Owner.id',array('value'=>$id)); ?> 
                        <br/>
                        <table>
                        <tr><td width="20%">Old Password*:</td>
                       	<td><?php echo $form->password('Owner.oldpwd',array('maxLength'=>'50')); ?>             
                        <span><?php echo $form->error('Owner.oldpwd'); ?> </span></td>
                        </tr>   
                        
                        <tr><td>New Password*:</td>
                        <td><?php echo $form->password('Owner.pwd'); ?>   
                        <span ><?php echo $form->error('Owner.pwd'); ?></span> </td>
                        </tr>                         
                        
                        <tr><td>Confirm Password* :</td>
                        <td><?php echo $form->password('Owner.cpwd'); ?>
                        <span ><?php echo $form->error('Owner.cpwd'); ?></span> </td>                       
                        </tr>                 
                     
                     <tr><td></td><td>
                      <div align="left">
                      <?php echo $form->submit('Submit',array('id'=>'button1','style'=>'width:80px;'));  ?>                  
                      </div>
                      </td>
                      </tr>
                      </table>
                    	<?php echo $form->end(); ?>
                </div>
            </div>