
  <!--<h1 class="main-hdng2">&nbsp;</h1>-->
    <section class="form-box2-wrapper2">
        <!--one complete form-->
        <!--<section class="form-box2" style="width:50%;">
	<table class="tbl input-chngs1">
	  <tr>
	      <td>
		  <table width="50%" >
		    <tr>
		         <td>&nbsp;</td>
			 <td style="font-size:10px;"><b>Client Information</b></td>
		    </tr>
		    <tr>
		          <td>&nbsp;</td>
			  <td align="left" >
			  <?php //echo $html->image('arrow_down_animated.gif'); ?>
			  </td>
		    </tr>
		    <tr>
				  <td class="lb1txt" >Site Name</td>
				  <td><?php //echo $form->input('ExtinguisherReport.site_name',array('value'=>$siteaddrResult['SpSiteAddress']['site_name'],'readonly'=>true,'label'=>false,'type'=>'text')); ?></td>
		      </tr>
			  
		      <tr>
				  <td class="lb1txt" >Site Phone</td>
				  <td><?php //echo $form->input('ExtinguisherReport.site_phone',array('value'=>$siteaddrResult['SpSiteAddress']['site_phone'],'readonly'=>true,'label'=>false,'type'=>'text')); ?></td>
		      </tr>
			  
		      <tr>
				  <td class="lb1txt" >Site Email</td>
				  <td><?php //echo $form->input('ExtinguisherReport.site_email',array('value'=>$siteaddrResult['SpSiteAddress']['site_email'],'readonly'=>true,'label'=>false,'type'=>'text')); ?></td>
		      </tr>
			  
		      <tr>
				  <td class="lb1txt" >Site Address/Building</td>
				  <td><?php //echo $form->input('ExtinguisherReport.site_address',array('value'=>$siteaddrResult['SpSiteAddress']['site_address'],'readonly'=>true,'label'=>false,'type'=>'text')); ?></td>
		      </tr>
			  
		      <tr>
				  <td class="lb1txt" >Site Contact Name</td>
				  <td><?php //echo $form->input('ExtinguisherReport.site_contact_name',array('value'=>$siteaddrResult['SpSiteAddress']['site_contact_name'],'readonly'=>true,'label'=>false,'type'=>'text')); ?></td>
		      </tr>
			  
		      <tr>
				  <td class="lb1txt" >Country</td>
				  <td><?php //echo $form->input('ExtinguisherReport.site_country',array('value'=>$this->Common->getCountryName($siteaddrResult['SpSiteAddress']['country_id']),'readonly'=>true,'label'=>false,'type'=>'text')); ?></td>
		      </tr>
			  
		      <tr>
				  <td class="lb1txt" >State</td>
				  <td><?php //echo $form->input('ExtinguisherReport.site_state',array('value'=>$this->Common->getCountryName($siteaddrResult['SpSiteAddress']['state_id']),'readonly'=>true,'label'=>false,'type'=>'text')); ?></td>
		      </tr>
			  
		      <tr>
				  <td class="lb1txt" >City</td>
				  <td><?php //echo $form->input('ExtinguisherReport.site_city',array('value'=>$siteaddrResult['SpSiteAddress']['site_city'],'readonly'=>true,'label'=>false,'type'=>'text')); ?></td>
		      </tr>
			  
		      <tr>
				  <td class="lb1txt" >Zip</td>
				  <td><?php //echo $form->input('ExtinguisherReport.site_zip',array('value'=>$siteaddrResult['SpSiteAddress']['site_zip'],'readonly'=>true,'label'=>false,'type'=>'text')); ?></td>
		      </tr>
		    
		  </table>  
	      </td>
	      <td>
		   <table width="50%">
		    <tr>
			<td>&nbsp;</td>
			<td style="font-size:10px;"><b>Service Provider Information</b></td> 
		    </tr>
		    <tr>
		        <td>&nbsp;</td>
			<td align="left" >
			<?php //echo $html->image('arrow_down_animated.gif'); ?>
			</td>
		    </tr>
		    <tr>
		      <td class="lbtxt">Name</td>
		      <td><?php //echo $form->input('Emergency.sp_name',array('readonly'=>true,'type'=>'text','div'=>false,"label"=>false,'value'=>ucwords($spResult['User']['fname'].' '.$spResult['User']['lname']))); ?>
		      </td>
		    </tr>
		    <tr>
		      <td class="lbtxt">Address</td>
		      <td><?php //echo $form->input('ExtinguisherReport.sp_address',array('value'=>$spResult['User']['address'],'readonly'=>true,'type'=>'text','div'=>false,"label"=>false)); ?>
		      </td>
		    </tr>
		    <tr>
		      <td class="lbtxt">Country</td>
		      <td><?php //echo $form->input('ExtinguisherReport.sp_country',array('value'=>$spResult['Country']['name'],'readonly'=>true,'type'=>'text','div'=>false,"label"=>false)); ?>
		      </td>
		    </tr>
		    <tr>
		      <td class="lbtxt">State</td>
		      <td><?php //echo $form->input('ExtinguisherReport.sp_state',array('value'=>$spResult['State']['name'],'readonly'=>true,'type'=>'text','div'=>false,"label"=>false)); ?>
		      </td>
		    </tr>
		    <tr>
		      <td class="lbtxt">City</td>
		      <td><?php //echo $form->input('ExtinguisherReport.sp_city',array('value'=>$spResult['User']['city'],'readonly'=>true,'type'=>'text','div'=>false,"label"=>false)); ?>
		      </td>
		    </tr>
		    <tr>
		      <td class="lbtxt">Zip</td>
		      <td><?php //echo $form->input('ExtinguisherReport.sp_zip',array('value'=>$spResult['User']['zip'],'readonly'=>true,'type'=>'text','div'=>false,"label"=>false)); ?>
		      </td>
		    </tr>
		    <tr>
		      <td class="lbtxt">Phone</td>
		      <td><?php //echo $form->input('ExtinguisherReport.sp_phone',array('value'=>$spResult['User']['phone'],'readonly'=>true,'type'=>'text','div'=>false,"label"=>false)); ?>
		      </td>
		    </tr>
		   </table> 
	      </td>
	  </tr>  
	  
	 
      
    </table>		           
	</section>-->
        <!--one complete form ends-->
        <!--one complete form-->
        <?php  echo $this->Form->hidden('EmergencyexitReport.optioncount',array('value'=>@$exit_amount,'id'=>'optioncountExit')); ?>
	   <?php  echo $this->Form->hidden('EmergencyexitReport.optioncount',array('value'=>@$emergency_amount,'id'=>'optioncountEmergency')); ?>
        <section class="form-box2 wdth-46" style="width:100%">
        	<ul class="summary-tbl2">
               <h2 style="text-align:center;"><strong>Summary</strong></h2>
            	<li class="summry-hdr">
                    <p>&nbsp;</p>
                    <p>Exit Signs</p>
                    <p>Emergency Lights</p>
                    <p>Exit Pass</p>
                    <p>Exit Fail</p>
                    <p>Emergency Pass </p>
                    <p>Emergency Fail</p>
                </li>

                <li>
                    <p class="summry-lbl2"><strong>Surveyed</strong></p>
                    <p><span class="input-field2"><?php echo $form->input('EmergencyexitReport.survey_exit',array('type'=>'text','readonly'=>true,'class'=>'validate[required]','div'=>false,"label"=>false,'value'=>@$exit_amount,'readonly'=>'readonly')); ?></span></p>
                    <p><span class="input-field2"><?php echo $form->input('EmergencyexitReport.survey_emergency',array('type'=>'text','readonly'=>true,'class'=>'validate[required]','div'=>false,"label"=>false,'value'=>@$emergency_amount,'readonly'=>'readonly')); ?></span></p>
                    <p><span class="input-field2"><?php echo $form->input('EmergencyexitReport.survey_exit_pass',array('type'=>'text','readonly'=>true,'class'=>'validate[required]','div'=>false,"label"=>false,'value'=>0,'readonly'=>'readonly')); ?></span></p>
                    <p><span class="input-field2"><?php echo $form->input('EmergencyexitReport.survey_exit_fail',array('type'=>'text','readonly'=>true,'class'=>'validate[required]','div'=>false,"label"=>false,'value'=>0,'readonly'=>'readonly')); ?></span></p>
                    <p><span class="input-field2"><?php echo $form->input('EmergencyexitReport.survey_emergency_pass',array('type'=>'text','readonly'=>true,'class'=>'validate[required]','div'=>false,"label"=>false,'value'=>0,'readonly'=>'readonly')); ?></span></p>
                    <p><span class="input-field2"><?php echo $form->input('EmergencyexitReport.survey_emergency_fail',array('type'=>'text','readonly'=>true,'class'=>'validate[required]','div'=>false,"label"=>false,'value'=>0,'readonly'=>'readonly')); ?></span></p>
                </li>
                <li>
                    <p class="summry-lbl2"><strong>Total</strong></p>
                    <p><span class="input-field2"><?php echo $form->input('EmergencyexitReport.total_exit',array('type'=>'text','readonly'=>true,'class'=>'validate[required]','div'=>false,"label"=>false,'value'=>@$exit_amount,'readonly'=>'readonly')); ?></span></p>
                    <p><span class="input-field2"><?php echo $form->input('EmergencyexitReport.total_emergency',array('type'=>'text','readonly'=>true,'class'=>'validate[required]','div'=>false,"label"=>false,'value'=>@$emergency_amount,'readonly'=>'readonly')); ?></span></p>
                    <p><span class="input-field2"><?php echo $form->input('EmergencyexitReport.total_exit_pass',array('type'=>'text','readonly'=>true,'class'=>'validate[required]','div'=>false,"label"=>false,'value'=>0,'readonly'=>'readonly')); ?></span></p>
                    <p><span class="input-field2"><?php echo $form->input('EmergencyexitReport.total_exit_fail',array('type'=>'text','readonly'=>true,'class'=>'validate[required]','div'=>false,"label"=>false,'value'=>0,'readonly'=>'readonly')); ?></span></p>
                    <p><span class="input-field2"><?php echo $form->input('EmergencyexitReport.total_emergency_pass',array('type'=>'text','readonly'=>true,'class'=>'validate[required]','div'=>false,"label"=>false,'value'=>0,'readonly'=>'readonly')); ?></span></p>
                    <p><span class="input-field2"><?php echo $form->input('EmergencyexitReport.total_emergency_fail',array('type'=>'text','readonly'=>true,'class'=>'validate[required]','div'=>false,"label"=>false,'value'=>0,'readonly'=>'readonly')); ?></span></p>
                </li>
                <li>
                    <p class="summry-lbl2"><strong>Difference</strong></p>
                    <p><span class="input-field2"><?php echo $form->input('EmergencyexitReport.diff_exit',array('type'=>'text','readonly'=>true,'class'=>'validate[required]','div'=>false,"label"=>false,'value'=>0)); ?></span></p>
                    <p><span class="input-field2"><?php echo $form->input('EmergencyexitReport.diff_emergency',array('type'=>'text','readonly'=>true,'class'=>'validate[required]','div'=>false,"label"=>false,'value'=>0)); ?></span></p>
                    <p><span class="input-field2"><?php echo $form->input('EmergencyexitReport.diff_exit_pass',array('type'=>'text','readonly'=>true,'class'=>'validate[required]','div'=>false,"label"=>false,'value'=>0)); ?></span></p>
                    <p><span class="input-field2"><?php echo $form->input('EmergencyexitReport.diff_exit_fail',array('type'=>'text','readonly'=>true,'class'=>'validate[required]','div'=>false,"label"=>false,'value'=>0)); ?></span></p>
                    <p><span class="input-field2"><?php echo $form->input('EmergencyexitReport.diff_emergency_pass',array('type'=>'text','readonly'=>true,'class'=>'validate[required]','div'=>false,"label"=>false,'value'=>0)); ?></span></p>
                    <p><span class="input-field2"><?php echo $form->input('EmergencyexitReport.diff_emergency_fail',array('type'=>'text','readonly'=>true,'class'=>'validate[required]','div'=>false,"label"=>false,'value'=>0)); ?></span></p>
                </li>                
            </ul>     
        </section>
        <!--one complete form ends-->   
    </section>
    <section class="form-box2 wdth-46" style="width:100%">
	<li>
	  <p style="text-align: center;width=100%"><strong>You have to fill at least <?php echo intval(count($option1))+intval(count($option2));?> records. (<?php echo $html->link('Inspection Device List',array('controller'=>'inspectors','action'=>'deviceList?reportID='.$_REQUEST['reportID'].'&serviceCallID='.$_REQUEST['serviceCallID']),array('class'=>'ajax'));?>) </strong></td>
        </li>
   	<ul class="emrgncy-tbl2" style="width:100%;">
    	  <li class="emrgncy-hdr2">
            <section style="width:54%">
            	<p style="width:5%">&nbsp;</p>
                <p style="width:25%"><strong>Location</strong></p>
                <p style="width:25%"><strong>MFD Date</strong></p>
                <p style="width:25%"><strong>Type</strong></p>
                <p style="width:20%"><strong>Status</strong></p>		
            </section>
            <section style="width:46%; float:left;">      
            	<p style="width:50%;"><strong>Recommendation / Comment</strong></p>      	
            	<p style="width:50%;"><strong></strong></p>      	
            </section>
            </li>
	   <?php
	   if(isset($data) && !empty($data)){
		foreach($data as $key=>$val){ ?>
		<li id="LI_<?php echo $val['id']; ?>">
		<section style="width:54%">
            	<p style="width:5%">&nbsp;</p>
                <p style="width:25%"><span><?php echo $val['location']; ?></span></p>
                <p style="width:25%"><span><?php $mfd = explode(" ",$val['mfd_date']); echo $mfd[0]; ?></span></p>
                <p style="width:25%"><span><?php echo $this->Common->getServiceName($val['type']); ?></span></p>
                <p style="width:20%"><?php echo $val['status']; ?></p>		
		</section>
		<section style="width:46%; float:left;">      
            	<p style="width:50%;"><span><?php echo $val['comment']; ?></span></p>
		<p style="width:50%;">
		  <?php if(!(isset($result['EmergencyexitReport']['finish_date']) && ($result['EmergencyexitReport']['finish_date'] != ""))){ ?>
		  <strong><a href="javascript:void(0)" onclick="confirmbox('<?php echo $val['id']; ?>')"><img src="../../img/minus.png" alt="Remove" title="Remove" /></a></strong>		  
		  <?php }?>
		</p>
		</section><br/>
                </li>
	    <?php } } ?>
		
              <div id="DivOption">
		
        	<li id="option_1">
		 <?php if($result['EmergencyexitReport']['id'] == ''){
		 for($i=1;$i<=@$exit_amount;$i++){
		 ?>
		<section style="width:54%" id="section_<?php echo $i; ?>">
            	<p style="width:5%">&nbsp;</p>
                <p style="width:25%"><span class="input-field2"><?php echo $form->input('EmergencyexitReportRecord.'.$i.'.location',array('type'=>'text','class'=>'validate[required]','div'=>false,"label"=>false)); ?></span></p>
                <p style="width:25%"><span class="input-field2"><?php echo $form->input('EmergencyexitReportRecord.'.$i.'.mfd_date',array('id'=>'exit_'.$i,'type'=>'text','class'=>'calender validate[required]','div'=>false,"label"=>false,'style'=>"width:78%",'readonly'=>'readonly')); ?></span></p>
                <p style="width:25%"><?php echo $form->select('EmergencyexitReportRecord.'.$i.'.type',$option1,null,array('empty'=>'Select','default'=>75,'class'=>'dropdownexit validate[required] wdth-250','div'=>false,"label"=>false,'style'=>"width:78%")); ?></p>
		<p style="width:20%"><?php echo $form->select('EmergencyexitReportRecord.'.$i.'.status',array('Pass'=>'PASS','Fail'=>'FAIL'),null,array('id'=>'select_'.$i,'empty'=>'Select','maxLength'=>'10','class'=>'dropdownexit validate[required] wdth-250','div'=>false,"label"=>false,'style'=>"width:78%",'onchange'=>'changevalExit(this);')); ?></p>		
		</section>
		 <section style="width:46%; float:left;">      
            	<p style="width:100%;"><span class="input-field2"><?php echo $form->input('EmergencyexitReportRecord.'.$i.'.comment',array('type'=>'text','class'=>'validate[required]','div'=>false,"label"=>false,'style'=>'width:70%')); ?></span></p>      	
            </section><br/>
		<?php } } ?>
		<div id="Exitoption" style="float: left; width: 100%;"></div>
		<?php if($result['EmergencyexitReport']['id'] == ''){
     for($j=@$exit_amount+1;$j<=($emergency_amount+@$exit_amount);$j++){ ?>
		<section style="width:54%">
            	<p style="width:5%">&nbsp;</p>
                <p style="width:25%"><span class="input-field2"><?php echo $form->input('EmergencyexitReportRecord.'.$j.'.location',array('type'=>'text','class'=>'validate[required]','div'=>false,"label"=>false)); ?></span></p>
                <p style="width:25%"><span class="input-field2"><?php echo $form->input('EmergencyexitReportRecord.'.$j.'.mfd_date',array('id'=>'emergency_'.$j,'type'=>'text','class'=>'calender validate[required]','div'=>false,"label"=>false,'style'=>"width:78%",'readonly'=>'readonly')); ?></span></p>
                <p style="width:25%"><?php echo $form->select('EmergencyexitReportRecord.'.$i.'.type',$option2,null,array('empty'=>'Select','default'=>76,'class'=>'dropdownexit validate[required] wdth-250','div'=>false,"label"=>false,'style'=>"width:78%")); ?></p>								
                <p style="width:20%"><?php echo $form->select('EmergencyexitReportRecord.'.$j.'.status',array('Pass'=>'PASS','Fail'=>'FAIL'),null,array('empty'=>'Select','maxLength'=>'10','class'=>'dropdownemergency validate[required] wdth-250','div'=>false,"label"=>false,'style'=>"width:78%",'onchange'=>'changevalEmergency(this);')); ?></p>		
		</section>
		 <section style="width:46%; float:left;">      
            	<p style="width:100%;"><span class="input-field2"><?php echo $form->input('EmergencyexitReportRecord.'.$j.'.comment',array('type'=>'text','class'=>'validate[required]','div'=>false,"label"=>false,'style'=>'width:70%')); ?></span></p>      	
		</section><br/>
		<?php } } ?>
		<div id="Emergencyoption" style="float: left; width: 100%;"></div>
            </li>
	    <?php if(!(isset($result['EmergencyexitReport']['finish_date']) && ($result['EmergencyexitReport']['finish_date'] != ""))){ ?>
	    <li style="float:right;">
		<?php echo $this->Html->link('Add Exit','javascript:void(0)',array('escape'=>false,'id'=>'AddOptionExit','onclick'=>'AppendExit(1)','class'=>''));?>
		&nbsp;<?php echo $this->Html->link('Add Emergency','javascript:void(0)',array('escape'=>false,'id'=>'AddOptionemegency','onclick'=>'AppendEmergency(1)','class'=>''));?>
	    </li>
	    <?php }?>
            </div>
      </ul>
    </section>  
  <table>
  <tr><td >&nbsp;</td></tr>
  <tr><td>&nbsp;</td></tr>