<!--<h3 style="margin-top:10px;" align="center" ><?php echo ucwords($spResult['User']['fname'].' '.$spResult['User']['lname']);?></h3></br>

  <h1 class="main-hdng2">&nbsp;</h1>
    <table class="tbl input-chngs1">
      
      <tr>
	    <td>
		  <table width="50%">
		      <tr>
			<td>&nbsp;</td>
			<td><b>Client Info auto-populated</b></td>  
		      </tr>
		      <tr>
			  <td>&nbsp;</td>
			  <td align="left" style="padding-left:70px;">
			  <?php //echo $html->image('arrow_down_animated.gif'); ?>
			  </td>
		      </tr>
		      <tr>
				  <td class="lb1txt" >Site Name</td>
				  <td><?php //echo $form->input('SpecialhazardReport.site_name',array('value'=>$siteaddrResult['SpSiteAddress']['site_name'],'readonly'=>true,'label'=>false,'type'=>'text')); ?></td>
		      </tr>
			  
		      <tr>
				  <td class="lb1txt" >Site Phone</td>
				  <td><?php //echo $form->input('SpecialhazardReport.site_phone',array('value'=>$siteaddrResult['SpSiteAddress']['site_phone'],'readonly'=>true,'label'=>false,'type'=>'text')); ?></td>
		      </tr>
			  
		      <tr>
				  <td class="lb1txt" >Site Email</td>
				  <td><?php //echo $form->input('SpecialhazardReport.site_email',array('value'=>$siteaddrResult['SpSiteAddress']['site_email'],'readonly'=>true,'label'=>false,'type'=>'text')); ?></td>
		      </tr>
			  
		      <tr>
				  <td class="lb1txt" >Site Address/Building</td>
				  <td><?php //echo $form->input('SpecialhazardReport.site_address',array('value'=>$siteaddrResult['SpSiteAddress']['site_address'],'readonly'=>true,'label'=>false,'type'=>'text')); ?></td>
		      </tr>
			  
		      <tr>
				  <td class="lb1txt" >Site Contact Name</td>
				  <td><?php //echo $form->input('SpecialhazardReport.site_contact_name',array('value'=>$siteaddrResult['SpSiteAddress']['site_contact_name'],'readonly'=>true,'label'=>false,'type'=>'text')); ?></td>
		      </tr>
			  
		      <tr>
				  <td class="lb1txt" >Country</td>
				  <td><?php //echo $form->input('SpecialhazardReport.site_country',array('value'=>$this->Common->getCountryName($siteaddrResult['SpSiteAddress']['country_id']),'readonly'=>true,'label'=>false,'type'=>'text')); ?></td>
		      </tr>
			  
		      <tr>
				  <td class="lb1txt" >State</td>
				  <td><?php //echo $form->input('SpecialhazardReport.site_state',array('value'=>$this->Common->getCountryName($siteaddrResult['SpSiteAddress']['state_id']),'readonly'=>true,'label'=>false,'type'=>'text')); ?></td>
		      </tr>
			  
		      <tr>
				  <td class="lb1txt" >City</td>
				  <td><?php //echo $form->input('SpecialhazardReport.site_city',array('value'=>$siteaddrResult['SpSiteAddress']['site_city'],'readonly'=>true,'label'=>false,'type'=>'text')); ?></td>
		      </tr>
			  
		      <tr>
				  <td class="lb1txt" >Zip</td>
				  <td><?php //echo $form->input('SpecialhazardReport.site_zip',array('value'=>$siteaddrResult['SpSiteAddress']['site_zip'],'readonly'=>true,'label'=>false,'type'=>'text')); ?></td>
		      </tr>	
		  </table>  
	    </td>
	    <td>
	          <table >
		      <tr>
			<td>&nbsp;</td>
			<td><b>Service Provider Info auto-populated</b></td>  
		      </tr>
		      <tr>
			  <td>&nbsp;</td>
			  <td align="left" style="padding-left:70px;">
			  <?php //echo $html->image('arrow_down_animated.gif'); ?>
			  </td>
		      </tr>
		      <tr>
			<td class="lbtxt">Service Provider Name</td>
			  <td><?php //echo $form->input('SpecialhazardReport.sp_name',array('readonly'=>true,'type'=>'text','div'=>false,"label"=>false,'value'=>ucwords($spResult['User']['fname'].' '.$spResult['User']['lname']))); ?>
			</td>
		      </tr>
		      <tr>
			  <td class="lbtxt">Address</td>
			  <td><?php //echo $form->input('SpecialhazardReport.sp_address',array('value'=>$spResult['User']['address'],'readonly'=>true,'label'=>false,'div'=>false,'type'=>'text')); ?>
			  </td>
		      </tr>
		      <tr>
			  <td class="lbtxt">Country</td>
			  <td><?php //echo $form->input('SpecialhazardReport.sp_country',array('maxLength'=>'','type'=>'text','div'=>false,"label"=>false,'style'=>'','value'=>$spResult['Country']['name'])); ?>
			  </td>
		      </tr>
		      <tr>
			<td class="lbtxt">State</td>
			<td><?php //echo $form->input('SpecialhazardReport.sp_state',array('maxLength'=>'','type'=>'text','div'=>false,"label"=>false,'style'=>'','value'=>$spResult['State']['name'])); ?>
			</td>
		      </tr>
		      <tr>
			<td class="lbtxt">City</td>
			<td><?php //echo $form->input('SpecialhazardReport.sp_city',array('maxLength'=>'','type'=>'text','div'=>false,"label"=>false,'style'=>'','value'=>$spResult['User']['city'])); ?>
			</td>
		      </tr>
		      <tr>
			<td class="lbtxt">Zip</td>
			<td><?php //echo $form->input('SpecialhazardReport.sp_zip',array('maxLength'=>'','type'=>'text','div'=>false,"label"=>false,'style'=>'','value'=>$spResult['User']['zip'])); ?>
			</td>
		      </tr>
		      <tr>
			<td class="lbtxt">SP Phone</td>
			<td><?php //echo $form->input('SpecialhazardReport.sp_phone',array('value'=>$spResult['User']['phone'],'readonly'=>true,'label'=>false,'div'=>false,'type'=>'text')); ?>
			</td>
		      </tr>	
		  </table>
	    </td>  
      </tr>	
      
    </table>-->
        <!--one complete form ends-->
        <!--one complete form-->
        
        <!--one complete form ends-->   
    <!--</section>-->
   	
   <!--<br/>
   
   <table width="100%" cellpadding="0" cellspacing="0">
	<tr>
	    <td width="48%" class="brdr" valign="top">
	    <table class="tbl input-chngs1">
		<tr><td colspan="2" class="tdLabel">Protected Property</td></tr>
		<tr><td colspan="2">&nbsp;</td></tr>
		<tr>
		    <td width="25%" class="lbl">Name:</td>
		    <td><?php echo $form->input('SpecialhazardReport.protectedprop_name',array('type'=>'text')); ?></td>
		</tr>
		<tr>
		    <td class="lbl">Physical Address:</td>
		    <td><?php echo $form->input('SpecialhazardReport.protectedprop_physicaladdress',array('type'=>'text')); ?></td>
		</tr>
		<tr>
		    <td class="lbl">Contact:</td>
		    <td><?php echo $form->input('SpecialhazardReport.protectedprop_contact',array('type'=>'text')); ?></td>
		</tr>
		<tr>
		    <td class="lbl">Phone:</td>
		    <td><?php echo $form->input('SpecialhazardReport.protectedprop_phone',array('type'=>'text')); ?></td>
		</tr>
	    </table>	    
	   </td>
	    <td width="4%"></td>
	    
	    <td width="48%" valign="top" >
	    <table class="tbl input-chngs1" border="2px solid #666666" >
		<tr><td colspan="8" class="tdLabel">For SFMO Use Only</td></tr>
		<tr><td colspan="8">&nbsp;</td></tr>
		<tr>
		    <td class="lbl">Date:</td>
		    <td><?php echo $form->input('SpecialhazardReport.sfmo_date',array('type'=>'text','style'=>'width:60px;','class'=>'calender','readonly'=>'readonly')); ?></td>
		    <td class="lbl">Ck$:</td>
		    <td><?php echo $form->input('SpecialhazardReport.sfmo_ck$',array('type'=>'text','style'=>'width:60px;')); ?></td>
		    <td class="lbl">Ck#:</td>
		    <td><?php echo $form->input('SpecialhazardReport.sfmo_ck#',array('type'=>'text','style'=>'width:60px;')); ?></td>
		    <td class="lbl">By:</td>
		    <td><?php echo $form->input('SpecialhazardReport.sfmo_by',array('type'=>'text','style'=>'width:60px;')); ?></td>
		<tr><td colspan="8">&nbsp;</td></tr>
		</tr>
		    
	    </table>
	    <br/>
	    
	    <table class="tbl input-chngs1" border="2px solid #666666">
		<tr><td colspan="8" class="tdLabel">Original System Installer</td></tr>
		<tr><td colspan="8">&nbsp;</td></tr>
		<tr>
		    <td width="25%" class="lbl">Name:</td>
		    <td colspan="7"><?php echo $form->input('SpecialhazardReport.originalsysteminstaller_name',array('type'=>'text','style'=>'width:390px;')); ?></td>
		</tr>
		<tr><td colspan="8">&nbsp;</td></tr>    
	    </table>    
	   </td>
	</tr>
	
	<tr><td>&nbsp;</td></tr>
	
	<tr>
	    <td width="48%" class="brdr" valign="top">
	    <table class="tbl input-chngs1">
		<tr><td colspan="2" class="tdLabel">Inspection Company</td></tr>
		<tr><td colspan="2">&nbsp;</td></tr>
		<tr>
		    <td width="25%" class="lbl">Name:</td>
		    <td><?php echo $form->input('SpecialhazardReport.inspectioncompany_name',array('type'=>'text')); ?></td>
		</tr>
		<tr>
		    <td class="lbl">Address:</td>
		    <td><?php echo $form->input('SpecialhazardReport.inspectioncompany_physicaladdress',array('type'=>'text')); ?></td>
		</tr>
		<tr>
		    <td class="lbl">Contact:</td>
		    <td><?php echo $form->input('SpecialhazardReport.inspectioncompany_contact',array('type'=>'text')); ?></td>
		</tr>
		<tr>
		    <td class="lbl">Phone:</td>
		    <td><?php echo $form->input('SpecialhazardReport.inspectioncompany_phone',array('type'=>'text')); ?></td>
		</tr>
	    </table>	    
	   </td>
	    <td width="4%"></td>
	    
	    <td width="48%" class="brdr" valign="top" >
	    <table class="tbl input-chngs1">
		<tr><td colspan="2" class="tdLabel">System Owner</td></tr>
		<tr><td colspan="2">&nbsp;</td></tr>
		<tr>
		    <td width="25%" class="lbl">Name:</td>
		    <td><?php echo $form->input('SpecialhazardReport.systemowner_name',array('type'=>'text')); ?></td>
		</tr>
		<tr>
		    <td class="lbl">Address:</td>
		    <td><?php echo $form->input('SpecialhazardReport.systemowner_physicaladdress',array('type'=>'text')); ?></td>
		</tr>
		<tr>
		    <td class="lbl">Contact:</td>
		    <td><?php echo $form->input('SpecialhazardReport.systemowner_contact',array('type'=>'text')); ?></td>
		</tr>
		<tr>
		    <td class="lbl">Phone:</td>
		    <td><?php echo $form->input('SpecialhazardReport.systemowner_phone',array('type'=>'text')); ?></td>
		</tr>
	    </table>
	        
	   </td>
	</tr>
	
	<tr><td colspan="3">&nbsp;</td></tr>
	
	<tr>
	    <td width="100%" class="brdr" valign="top" colspan="3">
	    <table class="tbl input-chngs1">
		<tr><td colspan="4" class="tdLabel">Special Hazard Fire Suppression System Company's License</td></tr>
		<tr><td colspan="4">&nbsp;</td></tr>
		<tr>
		    <td width="10%" class="lbl">Company Name:</td>
		    <td width="60%"><?php echo $form->input('SpecialhazardReport.companylicense_cname',array('type'=>'text','style'=>'width:500px;')); ?></td>
		    <td width="10%" class="lbl">License#:</td>
		    <td width="20%"><?php echo $form->input('SpecialhazardReport.companylicense_license',array('type'=>'text','style'=>'width:100px;')); ?></td>
		</tr>
		<tr>
		    <td colspan="4">The special hazard fire suppression system company certifies that the features of the system,as indicated herein,were tested,inspected,and/or maintained in accordance with the Delaware State Fire Prevention Regulations :</td>
		    
		</tr>
		<tr>
		    <td width="10%" class="lbl">Print Name:</td>
		    <td width="60%"><?php echo $form->input('SpecialhazardReport.companylicense_pname',array('type'=>'text','style'=>'width:500px;')); ?></td>
		    <td width="10%" class="lbl">Title:</td>
		    <td width="20%"><?php echo $form->input('SpecialhazardReport.companylicense_title',array('type'=>'text','style'=>'width:100px;')); ?></td>
		</tr>
		<tr>
		    <td width="10%" class="lbl">Signature:</td>
		    <td width="60%"><?php echo $form->input('SpecialhazardReport.companylicense_signature',array('type'=>'text','style'=>'width:500px;')); ?></td>
		    <td width="10%" class="lbl">Date:</td>
		    <td width="20%"><?php echo $form->input('SpecialhazardReport.companylicense_date',array('type'=>'text','style'=>'width:100px;','class'=>'calender','readonly'=>'readonly')); ?></td>
		</tr>
	    </table>	    
	   </td>
	</tr>
	
	<tr><td colspan="3">&nbsp;</td></tr>
	<tr>
	    <td width="100%" class="brdr" valign="top" colspan="3">
	    <table class="tbl input-chngs1">
		<tr><td colspan="4" class="tdLabel">Special Hazard Fire Suppression System Owner's Acknowledgement</td></tr>
		<tr><td colspan="4">&nbsp;</td></tr>
		
		<tr>
		    <td colspan="4">The special hazard fire suppression system owner acknowledges having reviewed this certificate and confirms that any deficiencies and/or failures noted will be corrected forthwith:</td>
		    
		</tr>
		<tr>
		    <td width="10%" class="lbl">Print Name:</td>
		    <td width="60%"><?php echo $form->input('SpecialhazardReport.ownerackldge_pname',array('type'=>'text','style'=>'width:500px;')); ?></td>
		    <td width="10%" class="lbl">Title:</td>
		    <td width="20%"><?php echo $form->input('SpecialhazardReport.ownerackldge_title',array('type'=>'text','style'=>'width:100px;')); ?></td>
		</tr>
		<tr>
		    <td width="10%" class="lbl">Signature:</td>
		    <td width="60%"><?php echo $form->input('SpecialhazardReport.ownerackldge_signature',array('type'=>'text','style'=>'width:500px;')); ?></td>
		    <td width="10%" class="lbl">Date:</td>
		    <td width="20%"><?php echo $form->input('SpecialhazardReport.ownerackldge_date',array('type'=>'text','style'=>'width:100px;','class'=>'calender','readonly'=>'readonly')); ?></td>
		</tr>
	    </table>	    
	   </td>
	</tr>
	
	<tr><td colspan="3">&nbsp;</td></tr>
	<tr>
	    <td width="100%" class="brdr" valign="top" colspan="3">
	    <table class="tbl input-chngs1">
		<tr><td colspan="4" class="tdLabel">Special Hazard Fire Suppression SystemType</td></tr>
		<tr><td colspan="4">&nbsp;</td></tr>	
		
		<tr>
		    <td width="10%" class="lbl">System ID#:</td>
		    <td width="90%" colspan="3"><?php echo $form->input('SpecialhazardReport.systemtype_systemID',array('type'=>'text','style'=>'width:750px;')); ?></td>
		</tr>
		<tr><td colspan="4">&nbsp;</td></tr>
		
		<tr><td colspan="4">
		    <?php
		    foreach($specialHazardarr as $key=>$val){
			echo $form->checkbox('SpecialhazardReport.system_types.'.$key,array('id'=>$key,'value'=>$key,'class'=>'checkbox','style'=>'float:none;width:10px;','div'=>false,'hiddenField'=>false))."&nbsp;".$val;
		     } ?>
		</td></tr>
	    </table>	    
	   </td>
	</tr>
	<tr><td colspan="3">&nbsp;</td></tr>
	<tr>
	    <td width="100%" class="brdr" valign="top" colspan="3">
	    <table class="tbl input-chngs1">
		<tr><td colspan="4" class="tdLabel">Special Hazard Fire Suppression System Monitoring</td></tr>
		<tr><td colspan="4">&nbsp;</td></tr>
		
		<tr>
		    <td width="40%" class="lbl">Is this system monitored off-site?:</td>
		    <td width="60%" colspan="3">			
		    <?php echo $this->Form->radio('SpecialhazardReport.system_monitoring_offsite',array('Yes'=>'Yes&nbsp;&nbsp;','No'=>'&nbsp;No'),array('id'=>'radiobtn','class'=>'','legend'=>false,'label'=>false,'div' => false,'default'=>'Yes','style'=>'width:10px;')); ?>
		    </td>
		</tr>
		<tr>
		    <td width="40%" class="lbl">If yes, type of dialer installed:</td>
		    <td width="60%" colspan="3"><?php echo $form->input('SpecialhazardReport.system_monitoring_dialer_installed',array('type'=>'text','style'=>'width:500px;')); ?></td>
		</tr>
		<tr>
		    <td width="40%" class="lbl">If yes, provide name, location, and phone # of monitoring station:</td>
		    <td width="60%" colspan="3"><?php echo $form->input('SpecialhazardReport.system_monitoring_namelocation',array('type'=>'text','style'=>'width:500px;')); ?></td>
		</tr>
	    </table>	    
	   </td>
	</tr>
	
	<tr><td colspan="3">&nbsp;</td></tr>
	<tr>
	    <td width="100%" class="brdr" valign="top" colspan="3">
	    <table class="tbl input-chngs1">
		<tr><td colspan="4" class="tdLabel">Special Hazard Fire Suppression System Deficiencies</td></tr>
		<tr><td colspan="4">&nbsp;</td></tr>
		
		<tr>
		    <td width="40%" class="lbl">Any deficiencies from DSFPR and/or adopted NFPA Standards?:</td>
		    <td width="60%" colspan="3">			
		    <?php echo $this->Form->radio('SpecialhazardReport.system_deficiency',array('No'=>'No&nbsp;&nbsp;','Yes'=>'&nbsp;&nbsp;Yes,See Comments Page(MUST be Attached)'),array('id'=>'radiobtn','class'=>'','legend'=>false,'label'=>false,'div' => false,'default'=>'No','style'=>'width:10px;')); ?>
		    </td>
		</tr>		
	    </table>	    
	   </td>
	</tr>
	
	<tr><td colspan="3">&nbsp;</td></tr>
	<tr><td colspan="4" class="tdLabel" align="center">~ A COPY OF THIS FROM MUST BE SUBMITTED ANNUALLY TO THE STATE FIRE MARSHAL ~</td></tr>
	<tr><td colspan="4" class="tdLabel" align="center">~ ALL DEFICIENCIES MUST BE FULLY EXPLAINED, SEE COMMENTS PAGE ~</td></tr>
	<tr><td colspan="4" class="tdLabel" align="center">~ A COPY OF THIS FORM MUST BE MAINTAINED ON THE SITE ~</td></tr>
	
	<!-- PAGE 2 START-->
	<!--<tr><td colspan="3">&nbsp;</td></tr>
	<tr><td colspan="3">&nbsp;</td></tr>
	<tr><td colspan="4" class="tdLabel" align="center">SPECIAL HAZARD FIRE SUPPRESSION SYSTEM ANNUAL CERTIFICATE OF INSPECTION</td></tr>
	<tr><td colspan="3">&nbsp;</td></tr>
	
	<tr><td colspan="3">&nbsp;</td></tr>
	<tr>
	    <td width="100%" class="brdr" valign="top" colspan="3">
	    <table class="tbl input-chngs1">
		<tr><td colspan="5" class="tdLabel">Alarm Initating Devices</td></tr>
		<tr>
		    <th width="20%">Device/Equipment</th>
		    <th width="20%">System Total</th>
		    <th width="20%">Number Tested</th>
		    <th width="20%">Deficiencies*</th>
		    <th width="20%">Remarks</th>		
		</tr>
		<tr>
		    <td style="padding-left:30px;">Manual Pull Station</td>
		    <td><?php echo $form->input('SpecialhazardAlarmIniDevice.alarm_ini_device_MPS_total',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardAlarmIniDevice.alarm_ini_device_MPS_tested',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardAlarmIniDevice.alarm_ini_device_MPS_deficiency',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardAlarmIniDevice.alarm_ini_device_MPS_remark',array('type'=>'text','style'=>'width:150px;')); ?></td>
		</tr>
		
		
		
		<tr>
		    <td style="padding-left:30px;">Heat Detectors</td>
		    <td><?php echo $form->input('SpecialhazardAlarmIniDevice.alarm_ini_device_HD_total',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardAlarmIniDevice.alarm_ini_device_HD_tested',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardAlarmIniDevice.alarm_ini_device_HD_deficiency',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardAlarmIniDevice.alarm_ini_device_HD_remark',array('type'=>'text','style'=>'width:150px;')); ?></td>
		</tr>
		
		<tr>
		    <td style="padding-left:30px;">Smoke Detectors</td>
		    <td><?php echo $form->input('SpecialhazardAlarmIniDevice.alarm_ini_device_SD_total',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardAlarmIniDevice.alarm_ini_device_SD_tested',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardAlarmIniDevice.alarm_ini_device_SD_deficiency',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardAlarmIniDevice.alarm_ini_device_SD_remark',array('type'=>'text','style'=>'width:150px;')); ?></td>
		</tr>
		
		<tr>
		    <td style="padding-left:30px;">Water Flow Devices</td>
		    <td><?php echo $form->input('SpecialhazardAlarmIniDevice.alarm_ini_device_WFD_total',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardAlarmIniDevice.alarm_ini_device_WFD_tested',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardAlarmIniDevice.alarm_ini_device_WFD_deficiency',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardAlarmIniDevice.alarm_ini_device_WFD_remark',array('type'=>'text','style'=>'width:150px;')); ?></td>
		</tr>
		
		<tr>
		    <td style="padding-left:30px;">Pneumatic Devices</td>
		    <td><?php echo $form->input('SpecialhazardAlarmIniDevice.alarm_ini_device_PD_total',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardAlarmIniDevice.alarm_ini_device_PD_tested',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardAlarmIniDevice.alarm_ini_device_PD_deficiency',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardAlarmIniDevice.alarm_ini_device_PD_remark',array('type'=>'text','style'=>'width:150px;')); ?></td>
		</tr>
		
		<tr>
		    <td style="padding-left:30px;">Releasing Devices</td>
		    <td><?php echo $form->input('SpecialhazardAlarmIniDevice.alarm_ini_device_RD_total',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardAlarmIniDevice.alarm_ini_device_RD_tested',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardAlarmIniDevice.alarm_ini_device_RD_deficiency',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardAlarmIniDevice.alarm_ini_device_RD_remark',array('type'=>'text','style'=>'width:150px;')); ?></td>
		</tr>
		
		<tr>
		    <td style="padding-left:30px;">Other (Specify):</td>
		    <td><?php echo $form->input('SpecialhazardAlarmIniDevice.alarm_ini_device_OTHER_total',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardAlarmIniDevice.alarm_ini_device_OTHER_tested',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardAlarmIniDevice.alarm_ini_device_OTHER_deficiency',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardAlarmIniDevice.alarm_ini_device_OTHER_remark',array('type'=>'text','style'=>'width:150px;')); ?></td>
		</tr> 
		 
	    </table>	    
	   </td>
	</tr>
	
	
	<tr><td colspan="3">&nbsp;</td></tr>
	<tr>
	    <td width="100%" class="brdr" valign="top" colspan="3">
	    <table class="tbl input-chngs1">
		<tr><td colspan="5" class="tdLabel">Alarm Indicating Devices</td></tr>
		<tr>
		    <th width="20%">Device/Equipment</th>
		    <th width="20%">System Total</th>
		    <th width="20%">Number Tested</th>
		    <th width="20%">Deficiencies*</th>
		    <th width="20%">Remarks</th>		
		</tr>
		<tr>
		    <td style="padding-left:30px;">Bells</td>
		    <td><?php echo $form->input('SpecialhazardAlarmIndDevice.alarm_ind_device_bells_total',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardAlarmIndDevice.alarm_ind_device_bells_tested',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardAlarmIndDevice.alarm_ind_device_bells_deficiency',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardAlarmIndDevice.alarm_ind_device_bells_remark',array('type'=>'text','style'=>'width:150px;')); ?></td>
		</tr>
		
		
		
		<tr>
		    <td style="padding-left:30px;">Horns</td>
		    <td><?php echo $form->input('SpecialhazardAlarmIndDevice.alarm_ind_device_horns_total',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardAlarmIndDevice.alarm_ind_device_horns_tested',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardAlarmIndDevice.alarm_ind_device_horns_deficiency',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardAlarmIndDevice.alarm_ind_device_horns_remark',array('type'=>'text','style'=>'width:150px;')); ?></td>
		</tr>
		
		<tr>
		    <td style="padding-left:30px;">Chimes</td>
		    <td><?php echo $form->input('SpecialhazardAlarmIndDevice.alarm_ind_device_chimes_total',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardAlarmIndDevice.alarm_ind_device_chimes_tested',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardAlarmIndDevice.alarm_ind_device_chimes_deficiency',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardAlarmIndDevice.alarm_ind_device_chimes_remark',array('type'=>'text','style'=>'width:150px;')); ?></td>
		</tr>
		
		<tr>
		    <td style="padding-left:30px;">Speakers</td>
		    <td><?php echo $form->input('SpecialhazardAlarmIndDevice.alarm_ind_device_speakers_total',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardAlarmIndDevice.alarm_ind_device_speakers_tested',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardAlarmIndDevice.alarm_ind_device_speakers_deficiency',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardAlarmIndDevice.alarm_ind_device_speakers_remark',array('type'=>'text','style'=>'width:150px;')); ?></td>
		</tr>
		
		<tr>
		    <td style="padding-left:30px;">Remote Annunciators</td>
		    <td><?php echo $form->input('SpecialhazardAlarmIndDevice.alarm_ind_device_RA_total',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardAlarmIndDevice.alarm_ind_device_RA_tested',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardAlarmIndDevice.alarm_ind_device_RA_deficiency',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardAlarmIndDevice.alarm_ind_device_RA_remark',array('type'=>'text','style'=>'width:150px;')); ?></td>
		</tr>
		
		<tr>
		    <td style="padding-left:30px;">Visual Signals</td>
		    <td><?php echo $form->input('SpecialhazardAlarmIndDevice.alarm_ind_device_VS_total',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardAlarmIndDevice.alarm_ind_device_VS_tested',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardAlarmIndDevice.alarm_ind_device_VS_deficiency',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardAlarmIndDevice.alarm_ind_device_VS_remark',array('type'=>'text','style'=>'width:150px;')); ?></td>
		</tr>
		
		<tr>
		    <td style="padding-left:30px;">Other (Specify):</td>
		    <td><?php echo $form->input('SpecialhazardAlarmIndDevice.alarm_ind_device_OTHER_total',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardAlarmIndDevice.alarm_ind_device_OTHER_tested',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardAlarmIndDevice.alarm_ind_device_OTHER_deficiency',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardAlarmIndDevice.alarm_ind_device_OTHER_remark',array('type'=>'text','style'=>'width:150px;')); ?></td>
		</tr> 
		 
	    </table>	    
	   </td>
	</tr>
	
	<tr><td colspan="3">&nbsp;</td></tr>
	<tr><td colspan="3" class="brdr">
	    <table class="tbl input-chngs1">
		<tr><td colspan="5" class="tdLabel" align="center">Power Supply Systems</td></tr>
		<tr><td colspan="5">&nbsp;</td></tr>
		
		<tr>
		    <td width="10%" class="lbl"><strong>Primary:</strong></td>
		    <td width="10%" class="lbl">Dedicated?</td>
		    <td width="30%" class="lbl"><?php echo $this->Form->radio('SpecialhazardPowerSystem.powersupply_dedicated',array('Yes'=>'&nbsp;Yes&nbsp;','No'=>'No*&nbsp;','Na'=>'NA*'),array('id'=>'radiobtn','class'=>'','legend'=>false,'label'=>false,'div' => false,'style'=>'width:10px;')); ?></td>
		    <td width="10%" class="lbl">Locked Out?</td>
		    <td width="40%" class="lbl"><?php echo $this->Form->radio('SpecialhazardPowerSystem.powersupply_locked_out',array('Yes'=>'&nbsp;Yes&nbsp;','No'=>'No*&nbsp;','Na'=>'NA*'),array('id'=>'radiobtn','class'=>'','legend'=>false,'label'=>false,'div' => false,'style'=>'width:10px;')); ?></td>
		</tr>
		<tr>
		    <td width="10%" class="lbl"><strong>Secondary:</strong></td>
		    <td width="40%" class="lbl" colspan="2">Battery Amp Power Rating:
		    &nbsp;<?php echo $form->input('SpecialhazardPowerSystem.powersupply_power_rating',array('type'=>'text','style'=>'width:177px;')); ?>
		    </td>		    
		    <td width="10%" class="lbl">Tested OK?</td>
		    <td width="40%" class="lbl"><?php echo $this->Form->radio('SpecialhazardPowerSystem.powersupply_power_rating_ok',array('Yes'=>'&nbsp;Yes&nbsp;','No'=>'No*&nbsp;','Na'=>'NA*'),array('id'=>'radiobtn','class'=>'','legend'=>false,'label'=>false,'div' => false,'style'=>'width:10px;')); ?></td>
		</tr>
		<tr>
		    <td width="10%" class="lbl">&nbsp;</td>
		    <td width="40%" class="lbl" colspan="2">Engine Driven Generator Rating:
		    &nbsp;<?php echo $form->input('SpecialhazardPowerSystem.powersupply_generator_rating',array('type'=>'text','style'=>'width:150px;')); ?>
		    </td>		    
		    <td width="10%" class="lbl">Tested OK?</td>
		    <td width="40%" class="lbl"><?php echo $this->Form->radio('SpecialhazardPowerSystem.powersupply_generator_rating_ok',array('Yes'=>'&nbsp;Yes&nbsp;','No'=>'No*&nbsp;','Na'=>'NA*'),array('id'=>'radiobtn','class'=>'','legend'=>false,'label'=>false,'div' => false,'style'=>'width:10px;')); ?></td>
		</tr>
		<tr>
		    <td width="10%" class="lbl">&nbsp;</td>
		    <td width="40%" class="lbl" colspan="2">Fueled by:
		    &nbsp;<?php echo $form->input('SpecialhazardPowerSystem.powersupply_fueled_by',array('type'=>'text','style'=>'width:268px;')); ?>
		    </td>		    
		    <td width="50%" class="lbl" colspan="2">Storage Capacity:
		    &nbsp;<?php echo $form->input('SpecialhazardPowerSystem.powersupply_storage_capacity',array('type'=>'text','style'=>'width:150px;')); ?>
		    </td>
		</tr>  
				
	    </table>
	    </td>
	</tr>
	
	
	
	
	<tr><td colspan="3">&nbsp;</td></tr>
	<tr>
	    <td width="100%" class="brdr" valign="top" colspan="3">
	    <table class="tbl input-chngs1">
		<tr><td colspan="5" class="tdLabel">Supervisory Initiating Devices</td></tr>
		<tr>
		    <th width="20%">Device/Equipment</th>
		    <th width="20%">System Total</th>
		    <th width="20%">Number Tested</th>
		    <th width="20%">Deficiencies*</th>
		    <th width="20%">Remarks</th>		
		</tr>
		<tr>
		    <td style="padding-left:30px;">Sprinkler Control Valve</td>
		    <td><?php echo $form->input('SpecialhazardSupIniDevice.supervisory_ini_device_SCV_total',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardSupIniDevice.supervisory_ini_device_SCV_tested',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardSupIniDevice.supervisory_ini_device_SCV_deficiency',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardSupIniDevice.supervisory_ini_device_SCV_remark',array('type'=>'text','style'=>'width:150px;')); ?></td>
		</tr>
		
		<tr>
		    <td style="padding-left:30px;">Pressure Switches</td>
		    <td><?php echo $form->input('SpecialhazardSupIniDevice.supervisory_ini_device_PS_total',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardSupIniDevice.supervisory_ini_device_PS_tested',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardSupIniDevice.supervisory_ini_device_PS_deficiency',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardSupIniDevice.supervisory_ini_device_PS_remark',array('type'=>'text','style'=>'width:150px;')); ?></td>
		</tr>
		
		<tr>
		    <td style="padding-left:30px;">Building/Water Temp.</td>
		    <td><?php echo $form->input('SpecialhazardSupIniDevice.supervisory_ini_device_WT_total',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardSupIniDevice.supervisory_ini_device_WT_tested',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardSupIniDevice.supervisory_ini_device_WT_deficiency',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardSupIniDevice.supervisory_ini_device_WT_remark',array('type'=>'text','style'=>'width:150px;')); ?></td>
		</tr>
		
		<tr>
		    <td style="padding-left:30px;">Water Supply Level</td>
		    <td><?php echo $form->input('SpecialhazardSupIniDevice.supervisory_ini_device_WSL_total',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardSupIniDevice.supervisory_ini_device_WSL_tested',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardSupIniDevice.supervisory_ini_device_WSL_deficiency',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardSupIniDevice.supervisory_ini_device_WSL_remark',array('type'=>'text','style'=>'width:150px;')); ?></td>
		</tr>
		
		<tr>
		    <td style="padding-left:30px;">Extinguishing Agent Level</td>
		    <td><?php echo $form->input('SpecialhazardSupIniDevice.supervisory_ini_device_EAL_total',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardSupIniDevice.supervisory_ini_device_EAL_tested',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardSupIniDevice.supervisory_ini_device_EAL_deficiency',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardSupIniDevice.supervisory_ini_device_EAL_remark',array('type'=>'text','style'=>'width:150px;')); ?></td>
		</tr>
		
		<tr>
		    <td style="padding-left:30px;">Expallant Gas Level</td>
		    <td><?php echo $form->input('SpecialhazardSupIniDevice.supervisory_ini_device_EGL_total',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardSupIniDevice.supervisory_ini_device_EGL_tested',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardSupIniDevice.supervisory_ini_device_EGL_deficiency',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardSupIniDevice.supervisory_ini_device_EGL_remark',array('type'=>'text','style'=>'width:150px;')); ?></td>
		</tr>
		
		<tr>
		    <td style="padding-left:30px;">Other (Specify):</td>
		    <td><?php echo $form->input('SpecialhazardSupIniDevice.supervisory_ini_device_OTHER_total',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardSupIniDevice.supervisory_ini_device_OTHER_tested',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardSupIniDevice.supervisory_ini_device_OTHER_deficiency',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardSupIniDevice.supervisory_ini_device_OTHER_remark',array('type'=>'text','style'=>'width:150px;')); ?></td>
		</tr> 
		 
	    </table>	    
	   </td>
	</tr>
	<tr><td colspan="3">&nbsp;</td></tr>
	<tr><td colspan="4" class="tdLabel" align="center">* ALL DEFICIENCIES MUST BE FULLY EXPLAINED, SEE COMMENTS PAGE *</td></tr>
	<tr><td colspan="4" class="tdLabel" align="center">* A COPY OF THIS FORM MUST BE MAINTAINED ON THE SITE *</td></tr>
	
	<!-- PAGE 3 START-->
	<!--<tr><td colspan="3">&nbsp;</td></tr>
	<tr><td colspan="4" class="tdLabel" align="center">SPECIAL HAZARD FIRE SUPPRESSION SYSTEM ANNUAL CERTIFICATE OF INSPECTION</td></tr>
	<tr><td colspan="3">&nbsp;</td></tr>
	<tr>
	    <td width="100%" class="brdr" valign="top" colspan="3">
	    <table class="tbl input-chngs1">
		<tr><td colspan="5" class="tdLabel">Control Unit</td></tr>
		<tr>
		    <td width="30%" colspan="2">System #1 Manufacturer:&nbsp;<?php echo $form->input('SpecialhazardControlUnit.controlunit_syst_manufacturer',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td width="30%" colspan="2">Model #:&nbsp;<?php echo $form->input('SpecialhazardControlUnit.controlunit_model',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td width="40%">System ID #:&nbsp;<?php echo $form->input('SpecialhazardControlUnit.controlunit_systemID',array('type'=>'text','style'=>'width:78px;')); ?></td>
		</tr>
		<tr><td colspan="5">&nbsp;</td></tr>
		<tr><td width="10%" align="center">Type:</td>
		    <td colspan="4" width="90%">
		    <?php foreach($controlUnit as $key=>$val){
			echo $form->input('SpecialhazardControlUnit.controlunit_type.'.$key,array('type'=>'checkbox','value'=>$key,'class'=>'checkbox','style'=>'float:none;width:10px;','hiddenField'=>false,'div'=>false))."&nbsp;".$val;
		    } ?>
		    </td>
		</tr>
		<tr>
		    <th width="20%">Device/Equipment</th>
		    <th width="20%">System Total</th>
		    <th width="20%">Number Tested</th>
		    <th width="20%">Deficiencies*</th>
		    <th width="20%">Remarks</th>		
		</tr>
		<tr>
		    <td style="padding-left:30px;">Lamp & LEDs</td>
		    <td><?php echo $form->input('SpecialhazardControlUnit.controlunit_device_LED_total',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardControlUnit.controlunit_device_LED_tested',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardControlUnit.controlunit_device_LED_deficiency',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardControlUnit.controlunit_device_LED_remark',array('type'=>'text','style'=>'width:150px;')); ?></td>
		</tr>
		
		
		
		<tr>
		    <td style="padding-left:30px;">Fuses</td>
		    <td><?php echo $form->input('SpecialhazardControlUnit.controlunit_device_FUSES_total',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardControlUnit.controlunit_device_FUSES_tested',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardControlUnit.controlunit_device_FUSES_deficiency',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardControlUnit.controlunit_device_FUSES_remark',array('type'=>'text','style'=>'width:150px;')); ?></td>
		</tr>
		
		<tr>
		    <td style="padding-left:30px;">Trouble Signals</td>
		    <td><?php echo $form->input('SpecialhazardControlUnit.controlunit_device_TS_total',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardControlUnit.controlunit_device_TS_tested',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardControlUnit.controlunit_device_TS_deficiency',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardControlUnit.controlunit_device_TS_remark',array('type'=>'text','style'=>'width:150px;')); ?></td>
		</tr>
		
		<tr>
		    <td style="padding-left:30px;">Zone Disable</td>
		    <td><?php echo $form->input('SpecialhazardControlUnit.controlunit_device_ZD_total',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardControlUnit.controlunit_device_ZD_tested',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardControlUnit.controlunit_device_ZD_deficiency',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardControlUnit.controlunit_device_ZD_remark',array('type'=>'text','style'=>'width:150px;')); ?></td>
		</tr>
		
		<tr>
		    <td style="padding-left:30px;">Supervisory Signals</td>
		    <td><?php echo $form->input('SpecialhazardControlUnit.controlunit_device_SS_total',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardControlUnit.controlunit_device_SS_tested',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardControlUnit.controlunit_device_SS_deficiency',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardControlUnit.controlunit_device_SS_remark',array('type'=>'text','style'=>'width:150px;')); ?></td>
		</tr>
		
		<tr>
		    <td style="padding-left:30px;">Ground Fault</td>
		    <td><?php echo $form->input('SpecialhazardControlUnit.controlunit_device_GF_total',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardControlUnit.controlunit_device_GF_tested',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardControlUnit.controlunit_device_GF_deficiency',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardControlUnit.controlunit_device_GF_remark',array('type'=>'text','style'=>'width:150px;')); ?></td>
		</tr>
		
		<tr>
		    <td style="padding-left:30px;">Transmission Off Premises:</td>
		    <td><?php echo $form->input('SpecialhazardControlUnit.controlunit_device_TOP_total',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardControlUnit.controlunit_device_TOP_tested',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardControlUnit.controlunit_device_TOP_deficiency',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardControlUnit.controlunit_device_TOP_remark',array('type'=>'text','style'=>'width:150px;')); ?></td>
		</tr>
		
		<tr>
		    <td style="padding-left:30px;">Other (Specify):</td>
		    <td><?php echo $form->input('SpecialhazardControlUnit.controlunit_device_OTHER_total',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardControlUnit.controlunit_device_OTHER_tested',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardControlUnit.controlunit_device_OTHER_deficiency',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardControlUnit.controlunit_device_OTHER_remark',array('type'=>'text','style'=>'width:150px;')); ?></td>
		</tr>
		
		 
	    </table>	    
	   </td>
	</tr>
	
	
	<tr><td colspan="3">&nbsp;</td></tr>
	<tr>
	    <td width="100%" class="brdr" valign="top" colspan="3">
	    <table class="tbl input-chngs1">
		<tr><td colspan="5" class="tdLabel">Extinguishing Agents and Expellant Gas</td></tr>
		<tr><td colspan="5">&nbsp;</td></tr>
		
		<tr>
		    <th width="20%">Device/Equipment</th>
		    <th width="20%">System Total</th>
		    <th width="20%">Number Tested</th>
		    <th width="20%">Deficiencies*</th>
		    <th width="20%">Remarks</th>		
		</tr>
		<tr>
		    <td style="padding-left:30px;">Agent Storage Container</td>
		    <td><?php echo $form->input('SpecialhazardGasDevice.expellantgas_device_ASC_total',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardGasDevice.expellantgas_device_ASC_tested',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardGasDevice.expellantgas_device_ASC_deficiency',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardGasDevice.expellantgas_device_ASC_remark',array('type'=>'text','style'=>'width:150px;')); ?></td>
		</tr>
		
		<tr>
		    <td style="padding-left:30px;">Releasing Valves</td>
		    <td><?php echo $form->input('SpecialhazardGasDevice.expellantgas_device_RV_total',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardGasDevice.expellantgas_device_RV_tested',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardGasDevice.expellantgas_device_RV_deficiency',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardGasDevice.expellantgas_device_RV_remark',array('type'=>'text','style'=>'width:150px;')); ?></td>
		</tr>
		
		<tr>
		    <td style="padding-left:30px;">Water Supply</td>
		    <td><?php echo $form->input('SpecialhazardGasDevice.expellantgas_device_WS_total',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardGasDevice.expellantgas_device_WS_tested',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardGasDevice.expellantgas_device_WS_deficiency',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardGasDevice.expellantgas_device_WS_remark',array('type'=>'text','style'=>'width:150px;')); ?></td>
		</tr>
		
		<tr>
		    <td style="padding-left:30px;">Other (Specify):</td>
		    <td><?php echo $form->input('SpecialhazardGasDevice.expellantgas_device_OTHER_total',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardGasDevice.expellantgas_device_OTHER_tested',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardGasDevice.expellantgas_device_OTHER_deficiency',array('type'=>'text','style'=>'width:150px;')); ?></td>
		    <td><?php echo $form->input('SpecialhazardGasDevice.expellantgas_device_OTHER_remark',array('type'=>'text','style'=>'width:150px;')); ?></td>
		</tr>		 
	    </table>	    
	   </td>
	</tr>
	
	<tr><td colspan="3">&nbsp;</td></tr>
	<tr>
	    <td width="100%" class="brdr" valign="top" colspan="3">
	    <table class="tbl input-chngs1">
		<tr><td >Are All devices uniquely identified in accordance with the Delaware State Fire Prevention Regulations, Part lll,Section 1-4.8.2?&nbsp;&nbsp;&nbsp;<?php echo $this->Form->radio('SpecialhazardReport.all_device_check',array('Yes'=>'&nbsp;Yes&nbsp;&nbsp;&nbsp;','No'=>'&nbsp;No'),array('id'=>'radiobtn','class'=>'','legend'=>false,'label'=>false,'div' => false,'default'=>'Yes','style'=>'width:10px;')); ?></td></tr>
				 
	    </table>	    
	   </td>
	</tr>
	
	<tr><td colspan="3">&nbsp;</td></tr>
	<tr>
	    <td width="100%" class="brdr" valign="top" colspan="3">
	    <table class="tbl input-chngs1">
		<tr><td colspan="2" class="tdLabel">Special Hazard Fire Suppression System Inspection</td></tr>
		
		<tr>		    
		    <td width="73%">1.&nbsp;Is the Hazard the same as the last inspection?</td>
		    <td width="27%"><?php echo $this->Form->radio('SpecialhazardReport.inspection_result1',array('Yes'=>'&nbsp;Yes&nbsp;&nbsp;&nbsp;','No'=>'&nbsp;No'),array('id'=>'radiobtn','class'=>'','legend'=>false,'label'=>false,'div' => false,'default'=>'Yes','style'=>'width:10px;')); ?></td>
		</tr>
		
		<tr>		    
		    <td>2.&nbsp;Does the inspection of the enclosure indicate NO new penetrations?</td>
		    <td><?php echo $this->Form->radio('SpecialhazardReport.inspection_result2',array('Yes'=>'&nbsp;Yes&nbsp;&nbsp;&nbsp;','No'=>'&nbsp;No'),array('id'=>'radiobtn','class'=>'','legend'=>false,'label'=>false,'div' => false,'default'=>'Yes','style'=>'width:10px;')); ?></td>
		</tr>
		
		<tr>		    
		    <td>3.&nbsp;If NO, are the new penetrations properly sealed?</td>
		    <td><?php echo $this->Form->radio('SpecialhazardReport.inspection_result3',array('Yes'=>'&nbsp;Yes&nbsp;&nbsp;&nbsp;','No'=>'&nbsp;No'),array('id'=>'radiobtn','class'=>'','legend'=>false,'label'=>false,'div' => false,'default'=>'Yes','style'=>'width:10px;')); ?></td>
		</tr>
		
		<tr>		    
		    <td>4.&nbsp;Are all cylinders free of damage or defects?</td>
		    <td><?php echo $this->Form->radio('SpecialhazardReport.inspection_result4',array('Yes'=>'&nbsp;Yes&nbsp;&nbsp;&nbsp;','No'=>'&nbsp;No'),array('id'=>'radiobtn','class'=>'','legend'=>false,'label'=>false,'div' => false,'default'=>'Yes','style'=>'width:10px;')); ?></td>
		</tr>
		
		<tr>		    
		    <td>5.&nbsp;Are all system components securely fastened?</td>
		    <td><?php echo $this->Form->radio('SpecialhazardReport.inspection_result5',array('Yes'=>'&nbsp;Yes&nbsp;&nbsp;&nbsp;','No'=>'&nbsp;No'),array('id'=>'radiobtn','class'=>'','legend'=>false,'label'=>false,'div' => false,'default'=>'Yes','style'=>'width:10px;')); ?></td>
		</tr>
		
		<tr>		    
		    <td>6.&nbsp;Are all discharge nozzles clean and properly positioned?</td>
		    <td><?php echo $this->Form->radio('SpecialhazardReport.inspection_result6',array('Yes'=>'&nbsp;Yes&nbsp;&nbsp;&nbsp;','No'=>'&nbsp;No'),array('id'=>'radiobtn','class'=>'','legend'=>false,'label'=>false,'div' => false,'default'=>'Yes','style'=>'width:10px;')); ?></td>
		</tr>
		
		<tr>		    
		    <td>7.&nbsp;Are all proper warning signs in place and visible?</td>
		    <td><?php echo $this->Form->radio('SpecialhazardReport.inspection_result7',array('Yes'=>'&nbsp;Yes&nbsp;&nbsp;&nbsp;','No'=>'&nbsp;No'),array('id'=>'radiobtn','class'=>'','legend'=>false,'label'=>false,'div' => false,'default'=>'Yes','style'=>'width:10px;')); ?></td>
		</tr>
		
		<tr>		    
		    <td>8.&nbsp;Are the system manual pull stations visibly different from the fire alarm pull stations?</td>
		    <td><?php echo $this->Form->radio('SpecialhazardReport.inspection_result8',array('Yes'=>'&nbsp;Yes&nbsp;&nbsp;&nbsp;','No'=>'&nbsp;No'),array('id'=>'radiobtn','class'=>'','legend'=>false,'label'=>false,'div' => false,'default'=>'Yes','style'=>'width:10px;')); ?></td>
		</tr>
		
		<tr>		    
		    <td>9.&nbsp;Did all auxiliary functions test O.K.?</td>
		    <td><?php echo $this->Form->radio('SpecialhazardReport.inspection_result9',array('Yes'=>'&nbsp;Yes&nbsp;&nbsp;&nbsp;','No'=>'&nbsp;No'),array('id'=>'radiobtn','class'=>'','legend'=>false,'label'=>false,'div' => false,'default'=>'Yes','style'=>'width:10px;')); ?></td>
		</tr>
		
		<tr>		    
		    <td>10.&nbsp;What is the date of last hydrostatic test/date of cylinder manufacture?</td>
		    <td><?php echo $this->Form->radio('SpecialhazardReport.inspection_result10',array('Yes'=>'&nbsp;Yes&nbsp;&nbsp;&nbsp;','No'=>'&nbsp;No'),array('id'=>'radiobtn','class'=>'','legend'=>false,'label'=>false,'div' => false,'default'=>'Yes','style'=>'width:10px;')); ?></td>
		</tr>
		
	    </table>	    
	   </td>
	</tr>
	
	
	<tr><td colspan="3">&nbsp;</td></tr>
	<tr>
	    <td width="100%" class="brdr" valign="top" colspan="3">
	    <table class="tbl input-chngs1">
		<tr><td class="tdLabel">Comments/Deficiencies</td></tr>		
		<tr>		    
		    <td width="100%" align="center"><?php echo $form->input('SpecialhazardReport.inspection_result_comments',array('type'=>'textarea','rows'=>30,'cols'=>110)); ?></td>		    
		</tr>
	    </table>	    
	   </td>
	</tr>
	
	
   </table>-->
   
   
<div style="margin-top:20px;">    
    <table class="tbl input-chngs2" style="border:1px solid #E8E7E1;">
	<tr>
	    <td colspan="6" style="text-align: center"><strong>You have to fill at least <?php echo count($options);?> records. (<?php echo $html->link('Inspection Device List',array('controller'=>'inspectors','action'=>'deviceList?reportID='.$_REQUEST['reportID'].'&serviceCallID='.$_REQUEST['serviceCallID']),array('class'=>'ajax'));?>) </strong></td>
	</tr> 	
	<tr>
	  <th width="2%"><p class="lbl">#</p></th>
	  <th width="25%"><p class="lbl">Location</p></th>
	  <th width="25%"><p class="lbl">Born Date</p></th>
	  <th width="25%"><p class="lbl">Type</p></th>       
	  <th width="20%"><p class="lbl">Deficient</p></th>
	  <th width="3%"><p class="lbl"></p></th>
	</tr>
	<?php
	if(isset($data) && !empty($data)){
	     $k = 0;
	    foreach($data as $key=>$val){
	    $k++;
	?>
    	<tr id="tr_<?php echo $val['id']; ?>">
	    <td style="text-align: center" width="2%"><?php echo $k; ?></td>
	    <td style="text-align: center" width="25%"><?php echo $val['location']; ?></td>
	    <td style="text-align: center" width="25%"><?php echo $val['born_date']; ?></td>
	    <td style="text-align: center" width="25%"><?php echo $this->Common->getServiceName($val['type']); ?></td>	    	    
	    <td style="text-align: center" width="20%" <?php if($val['deficiency']=='Yes'){?> style="color: red"<?php }?>><?php echo $val['deficiency']; ?></td>	    
	    <td style="text-align: center" width="3%"><?php if(!(isset($result['finish_date']) && ($result['finish_date'] != ""))){ ?><a href="javascript:void(0)" onclick="confirmbox('<?php echo $val['id']; ?>')"><img src="../../img/minus.png" alt="Remove" title="Remove" /></a><?php }?></td>
	</tr>
	<?php } } ?>
	<tr>
	    <td colspan="6">&nbsp;</td>
	</tr>
	<tr><td colspan="6" style="padding: 0px;">
	<?php if(isset($result['id']) && !empty($result['id'])){ ?>
	<?php } else{ 
	    $shRow=0;
	    foreach($options as $key=>$optData){$shRow++;
	    ?>
	    <table style="margin:0px;">
		<tr>
		  <td width="2%" style="padding: 4px 2px; text-align: center"><?php echo $shRow; ?></td>
		  <td width="25%" style="padding: 4px 2px; text-align: center"><?php echo $form->input('SpecialhazardReportRecord.'.$shRow.'.location',array('maxLength'=>'50','type'=>'text','div'=>false,"label"=>false,"class"=>"validate[required]")); ?></td>
		  <td width="25%" style="padding: 4px 2px; text-align: center"><?php echo $form->input('SpecialhazardReportRecord.'.$shRow.'.born_date',array('readonly'=>true,'type'=>'text','div'=>false,"label"=>false,'class'=>'calender validate[required]','style'=>'margin:0;')); ?></td>
		  <td width="25%" style="padding: 4px 2px; text-align: center"><?php echo $form->input('SpecialhazardReportRecord.'.$shRow.'.type',array('type'=>'select','options'=>$options,'default'=>$key,'div'=>false,"label"=>false,'empty'=>'-Select-',"class"=>"validate[required]")); ?></td>		  
		  <td width="20%" style="padding: 4px 2px; text-align: center"><?php $opts=array('No'=>'No','Yes'=>'Yes');
			  echo $form->input('SpecialhazardReportRecord.'.$shRow.'.deficiency',array('type'=>'select','options'=>$opts,'div'=>false,"label"=>false,'empty'=>'-Select-','onchange'=>'chkStatus(this);'));?>
		  </td>		  
		  <td width="3%" style="padding: 4px 2px;">&nbsp;</td>
		</tr>
	    </table>
	<?php }}?>
	</td></tr>
	<tr><td colspan="6"><table id="DivOption"></table></td></tr>
	<?php if(!(isset($result['finish_date']) && ($result['finish_date'] != ""))){ ?>
	<tr>
	    <td colspan="6" align="right"><a href="#"><strong><?php echo $this->Html->link('Add More','javascript:void(0)',array('escape'=>false,'id'=>'AddOption','onclick'=>'AddRow(1)','class'=>'up_arrow'));?></strong></a></td>
	</tr>
	<?php }?>
	<tr>
	    <td colspan="6">&nbsp;</td>
	</tr>
    </table>   
   
      
  <table>
  <tr><td >&nbsp;</td></tr>
  <tr><td>&nbsp;</td></tr>