<div id="content">
     <div id="box" style="width:850px;padding:5px;">
        <h1>Service Provider General Annoucement</h1>
        <br/>
        <?php echo $annoucedata['SpGeneralCompanyAnnouncement']['for_clients'];?>
        <?php echo $form->create('', array('type'=>'POST', 'url'=>array('action'=>'annoucement'),'id'=>'addclient')); ?>  
        <?php echo $form->input('User.prompt',array('type'=>'checkbox','div'=>false,"label"=>false)); ?>&nbsp;Don't Show this message again ?
        <?php echo $form->submit('OK',array('id'=>'button1','div'=>false,'label'=>false,'style'=>'width:40px;')); ?>
        <br/>
        <?php echo $form->end();?>
     </div>
</div>