<script type="text/javascript">
    jQuery(document).ready(function(){
	jQuery("iframe").attr({'width':'541','height':'340'});
    });
</script>
 <!-- Banner Starts-->
           <figure class="banner">
	       <div align="center"><span id="err1"><?php echo $this->Session->flash();?></span></div>	
               <section class="banner_l">
                    <h1><?php echo $bannerData['Banner']['title']; ?></h1>
                    <p><?php echo $bannerData['Banner']['description']; ?></p>
					<section class="blue_btn"><a href="#"><span>Take a video Tour</span></a></section> 
                    <section class="arrow_pointing"><?php echo $html->image('newdesign_img/arrow.png'); ?>
					</section>                                  
               </section>
               <section class="banner_r">
<!--<object width="550" height="400">	
	<param name="movie" value="/players/player_a.swf">
		<param name="flashvars" value="autoPlay=false&firstColor=0072bc&mediaPath='+audPath+'" />
<param name="flashvars" value="video=/app/webroot/<?php //echo $video['HomeVideo']['video']; ?>&streamer=true">
<embed src="/players/player_v.swf?video=/app/webroot/<?php //echo $video['HomeVideo']['video']; ?>&streamer=true" width="550" height="400">

</embed>
	
</object>-->
				  <?php //echo $video['HomeVideo']['embed_code']; 
				  //echo $html->image('newdesign_img/play_video.png',array('alt'=>'','style'=>'display:block;')); ?>
			<?php echo $html->image('video_image.jpg');?>	  
		</section>
			   
           </figure>
           <!-- Banner Ends-->
		      <!-- Icon Set -->
           <section class="icons_cont">
               <section class="icons_cont_wrap">
                    <ul>
                       <li>
                         <a href="#"> 
                           <section class="icons_img fire_safety_icon"><span>&nbsp;</span></section>
                           <section class="icons_txt">Sprinkler Systems</section>
                         </a>
                       </li>
                       <li>
                          <a href="#"> 
                           <section class="icons_img emergency_lights_icon"><span>&nbsp;</span></section>
                           <section class="icons_txt">Emergency Lights</section>
                          </a>
                       </li>
                       <li>
                          <a href="#">
                           <section class="icons_img fire_alarms_icon"><span>&nbsp;</span></section>
                           <section class="icons_txt">Fire Alarms</section>
                          </a>
                       </li>
                       <li>
                         <a href="#">
                           <section class="icons_img fire_extinguisher_icon"><span>&nbsp;</span></section>
                           <section class="icons_txt">Fire Extinguisher</section>
                         </a>
                       </li>
                       <li>
                          <a href="#">
                           <section class="icons_img special_hazards_icon"><span>&nbsp;</span></section>
                           <section class="icons_txt">Special Hazards</section>
                          </a>
                       </li>
                       <li>
                          <a href="#">
                           <section class="icons_img kitchen_icon"><span>&nbsp;</span></section>
                           <section class="icons_txt">Kitchen</section>
                          </a>
                       </li>
                    </ul>
               </section>
           </section>
           <!-- Icon Set Ends -->