 <!-- Navbar Starts-->
           <nav class="nav">
               <section class="navbar">
                    <ul>
                       <li class="home"><a href="#"><span></span></a></li>
                       <li class="active"><a href="#">ReportsOnlinePlus</a></li>  
                       <li><a href="#">Reports</a></li>
                       <li><a href="#">ROI</a></li>
                       <li><a href="#">Sample Reports</a></li>
                       <li><a href="#">Screenshots</a></li>
                       <li><a href="#">Subscription Plan </a></li>     
                       <li><a href="#">FAQ</a></li>
                       <li><a href="#">Mobile devices</a></li>
                    </ul>
               </section>
          	   <section class="nav_shadow"></section>
           </nav>
           <!-- Navbar Ends-->