@charset "utf-8";
/* CSS Document */


/**************************HTML5 RESET******************/
body{margin:0px; padding:0px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; color: #333333; font-size: 12px;}
input, select, textarea {font-size:12px; font-family:Arial, Helvetica, sans-serif;}

h1,h2,h3,h4,h5,ul,li,p,div,form{margin:0px; padding:0px;}
h1,h2,h3,h4,h5{line-height:normal;}
h1{font-size:32px; padding:5px 0; font-weight:lighter; color:#000000; margin-bottom:10px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;}
h2{font-size:18px;}
h3{font-size:16px;}
h4{font-size:14px;}
h5{font-size:12px;}
ul,li{list-style:none;}
p { color:#606060; margin-bottom:8px}

a{color:#404040; text-decoration:none; outline: none;}
a:hover{text-decoration: underline;}

textarea{color:#a3a3a3; font-weight:bold;}

.clear{clear:both; line-height:0px; font-size:0px;}
img {border:none;}
section, article, aside, header, footer, nav, dialog, figure {display:block; padding:0px; margin:0px; }

.lt { float:left}
.rt { float:right}


.blue_btn 		 { margin:0 10px;}
.blue_btn a  	 { background:url(../../img/frontend/blue_btn_l.png) no-repeat left; padding-left:7px; height:21px; float:left}
.blue_btn a span { background:url(../../img/frontend/blue_btn_r.png) no-repeat right; padding-right:7px; height:21px; color:#FFF; line-height:20px; float:left}

.green_btn 		 { margin:0 10px;}
.green_btn a  	 { background:url(../../img/frontend/green_btn_l.png) no-repeat left; padding-left:6px; height:28px; float:left}
.green_btn a span { background:url(../../img/frontend/green_btn_r.png) no-repeat right; padding-right:6px; height:28px; color:#FFF; line-height:20px; float:left}

.green_btn 		 { margin:0 10px;}
.green_btn span.lt   	 { background:url(../../img/frontend/green_btn_l.png) no-repeat left; padding-left:6px; height:28px; float:left}
.green_btn .lt input { background:url(../../img/frontend/green_btn_r.png) no-repeat right; padding-right:12px; height:28px; color:#FFF; line-height:20px; float:left; border:0; font-weight:bold; font-size:14px; cursor:pointer}

.read_btn 		 { margin:0 10px;}
.read_btn a  	 { background:url(../../img/frontend/blue_btn2_l.png) no-repeat left; padding-left:10px; height:28px; float:left}
.read_btn a span { background:url(../../img/frontend/blue_btn2_r.png) no-repeat right; padding-right:10px; height:28px; color:#FFF; line-height:28px; float:left}

.read_btn a:hover  	 { background:url(../../img/frontend/green_btn2_l.png) no-repeat left; }
.read_btn a:hover span { background:url(../../img/frontend/green_btn2_r.png) no-repeat right; }

.hang-me{ display: block; float: right; width: 384px; }
.input_bg input { background:url(../../img/frontend/textbox_bg.jpg) repeat-x; color:#959595; padding:0 5px; height:26px; border:1px solid #b6b0b0; border-radius:4px; webkit-border-radius:4px; -moz-border-radius:4px; }

.input_bg input:focus { color:#505050; border:1px solid #888888;}


/*=============== Header ================*/
#header_full { background:url(../../img/frontend/header_bg.jpg) repeat-x; height:102px;}
#header_wrap { width:980px; padding:0px 0; margin:auto}
#header_l { float:left; width:350px;}
#header_r { overflow:hidden}
#head_r_tp_txt { text-align:right; font-weight:bold; line-height:22px; width:274px; float:right}
#logo { margin-top:20px}

/*=============== Login panel ================*/
#login { clear:both; margin:20px 0 10px 0}
*+html #login { width:415px;}
#login .input_bg { float:left; margin:0 5px; float:left}
#login .green_btn { float:left}

/*=============== Nav ================*/
#nav_full { clear:both; background:url(../../img/frontend/nav_bg.jpg) repeat-x; height:40px; margin-top:10px}
#nav_wrap { width:980px; margin:auto;}
#nav_wrap li { float:left; padding-right:2px; background:url(../../img/frontend/nav_sep.jpg) right no-repeat; height:40px;}
#nav_wrap li a {padding:8px 14px; line-height:26px; display:block; text-shadow:1px 1px 1px #2a6a8b; color:#FFF}
#nav_wrap li a:hover { background:url(../../img/frontend/nav_hover.jpg) repeat-x; line-height:30px; text-decoration:none }
#nav_wrap li.active a{ background:url(../../img/frontend/nav_hover.jpg) repeat-x; line-height:30px; text-decoration:none }

/*=============== Banner ================*/
#banner_full { clear:both; background:url(../../img/frontend/banner_bg.jpg) repeat-x; min-height:400px;}
#banner_wrap { width:980px; margin:auto;}
#banner_l 	 { float:left; width:560px; }
#banner_r 	 { overflow:hidden; padding:38px 0 0 0  }
#banner_r h1 { color:#54a41a;}

/*=============== Menu ================*/
#menu_bg { background:url(../../img/frontend/menu_bg.jpg) repeat-x; height:61px; width:952px; margin:auto; border-radius:10px; webkit-border-radius:10px; -moz-border-radius:10px;}
#menu_shadow { background:url(../../img/frontend/menu_shadow.png) 0px 30px no-repeat; width:1005px; height:112px;}
#menu_link { padding-top:2px}
#menu_link li { float:left; line-height:58px; background:url(../../img/frontend/menu_sep.jpg) right no-repeat; width:476px; text-align:center }
#menu_link li:hover { background:url(../../img/frontend/menu_hover.png) repeat-x; color:#FFF}
#menu_link li a:hover { color:#FFF; text-decoration:none}
#menu_link li a { font-size:24px; display:block; padding:0 10px;}
#menu_link .first {}
#menu_link .first:hover {background:url(../../img/frontend/menu_hover.png) repeat-x;border-radius:10px 0 0 10px; webkit-border-radius:10px 0 0 10px ; -moz-border-radius:10px 0 0 10px ;}

#menu_link .last { background:none }
#menu_link .last:hover {background:url(../../img/frontend/menu_hover.png) repeat-x;border-radius:0 10px 10px 0 ; webkit-border-radius:0 10px 10px 0  ; -moz-border-radius:0 10px 10px 0  ;}

/*=============== Container ================*/
#container_bg { background:url(../../img/frontend/container_bg.jpg); min-height:464px;}
#container_wrap { margin:auto; width:1000px; }

#cols {clear:both;}
.col_1 { float:left; margin:0 28px}
.box_wrap { }
.box_top  { background:url(../../img/frontend/box_top.png);  width:444px; height:48px;}
.box_mid  { background:url(../../img/frontend/box_mid.png) repeat-y;   width:444px; height:auto;}
.box_btm  { background:url(../../img/frontend/box_btm.png);  width:444px; height:14px;}
.box_img  { float:left; margin-left:8px; margin-top:8px;} 
.box_top h1 { color: #54A41A; display: inline-block; font-size: 18px; margin-left: 10px; margin-top: 11px;}
.box_mid_wrap { padding:10px 24px; overflow:hidden;}
.box_mid_wrap p { min-height:140px;}

/*=============== Footer ================*/
#footer_full { width:100%; clear:both; display:inline-block; margin:30px 0 0 0}
#footer_wrap { width:940px; margin:auto; color:#9f9f9f; }
#footer_wrap ul { clear:both; border-bottom:1px solid #c6c6c6; display:inline-block; padding-bottom:10px; margin-bottom:10px; width:100%}
#footer_wrap li { float:left; border-right:1px solid #9f9f9f; padding:0 10px}
#footer_wrap a { text-decoration:none; color:#9f9f9f}
#footer_wrap a:hover { color:#0d87ab; text-decoration:underline;}

.foot_l { float:left}
.foot_r { float:right}


/*=============== Container Page================*/
#container_page_bg { clear:both; background:url(../../img/frontend/banner_bg.jpg) repeat-x #f1f6f9;}
#content { width:auto; margin:15px 0;}
#cont_l { float:left; margin-right:20px;}

.sidemenu 	  { width:267px; float:left}
.sidemenu_top { background:url(../../img/frontend/sidemenu_top.jpg) no-repeat; width:267px; height:10px; float:left }
.sidemenu_mid { background:url(../../img/frontend/sidemenu_mid.jpg) repeat-y; width:247px; height:auto ; float:left; padding:0 10px; }
.sidemenu_btm { background:url(../../img/frontend/sidemenu_btm.jpg) no-repeat; width:267px; height:10px; float:left }
.sidemenu_mid h2 	{ color:#54a41a;}

.cont_wrap {width:auto; overflow:hidden}
.cont_top { background:url(../../img/frontend/cont_top.jpg) no-repeat; width:678px; height:11px; float:left }
.cont_mid { background:url(../../img/frontend/cont_mid.jpg) repeat-y; width:658px; height:auto ; min-height:400px; float:left; padding:0 10px }
.cont_btm { background:url(../../img/frontend/cont_btm.jpg) no-repeat; width:678px; height:11px; float:left }
.cont_mid h2 	{ color:#54a41a;}

.level_wrap { clear:both;}
.level_wrap h4 { margin:10px 0; border-bottom:1px solid #c6c6c6;}
/*----------------------------register page ---------------------------*/

.sign-form{ width:656px; margin:0px auto;}
.sign-form li{display:block; padding:10px 0px; overflow:hidden;}
.sign-form h4{ color:#e92333; font-style:italic; font-size:14px; font-weight:normal;}
.sign-form li label{float:left; width:130px; text-align:left; display:block; line-height:25px; font-size: 13px; color:#013A57; font-size:12px; margin-right:40px }
label.security		{ line-height:22px !important;  }
.sign-form li .input-cont { }
.sign-form li .input_bg input{ float:left; width:200px;}
.sign-form li a{ color:#1e3b69; font-size:11px; text-decoration:underline;}
.astric{color:#FF0000; font-weight:normal; font-size:14px;}
.select_bg		{background:#fafafa; -webkit-box-shadow: 0px 1px 3px #878787 inset;-moz-box-shadow: 0px 1px 3px #878787 inset; box-shadow: 0px 1px 3px #878787 inset; border: 1px solid #CCCCCC; height:28px; width:79px;}


#left_widget h2			{ font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; margin:10px 0 0 0; color:#4c781c}
#register strong 	{ color:#4c781c}
.input-cont	p		{ font-size:11px;}	
.note				{ font-size:11px; color:#F00; margin-left:8px; display:inline-block; line-height:25px }

.input_bg select { background:url(../../img/frontend/textbox_bg.jpg) repeat-x; color:#959595; padding:3px 5px; height:26px; border:1px solid #b6b0b0; border-radius:4px; webkit-border-radius:4px; -moz-border-radius:4px;}
.checkbox { width:auto !important;  background: none !important;  border:none !important;  border-radius: none !important;  height: auto !important;  padding:0 !important;}

table { border:1px solid #c6c6c6; border-collapse:collapse}
table tr th { background:url(../../img/frontend/textbox_bg.jpg) repeat-x; color:#959595; border:1px solid #c6c6c6; padding:0 10px; height:28px }
table tr td { border:1px solid #c6c6c6; padding:2px 10px;  }



.btn1 		 { margin:0 10px; display:inline}
.btn1 span.lt  	 { background:url(../../img/frontend/blue_btn2_l.png) no-repeat left; padding-left:10px; height:28px; float:left}
.btn1 .lt input  { background:url(../../img/frontend/blue_btn2_r.png) no-repeat right; padding-right:14px; height:28px; color:#FFF; line-height:28px; float:left; border:0; cursor:pointer}

.btn2 		 { margin:0 10px; display:inline-block}
.btn2 span.lt  	 { background:url(../../img/frontend/green_btn2_l.png) no-repeat left; padding-left:10px; height:28px; float:left}
.btn2 .lt input { background:url(../../img/frontend/green_btn2_r.png) no-repeat right; padding-right:14px; height:28px; color:#FFF; line-height:28px; float:left; border:0; cursor:pointer}

.btn1 .lt input, .btn2 .lt input { border-radius: 0 !important; width:auto !important}



/*---------------new header rt Date 30-05-2012------------------*/
.hdr-rt-links { clear:both;}
.hdr-rt-links a { float:right; padding:6px 30px 3px 0; color:#4177a0;}
.hdr-rt-links a:hover { color:#be3a2c; }
.hdr-rt-links a.client-lnk {  background:url(../../img/frontend/client-log.png) no-repeat right;}
.hdr-rt-links a.server-lnk { background:url(../../img/frontend/sp-log.png) no-repeat right;}
.hdr-rt-links a.insp-lnk { background:url(../../img/frontend/insp-log.png) no-repeat right;}