@charset "utf-8";
/* CSS Document */


* {margin:0px; padding:0px;}


/**************************HTML5 RESET******************/
body{ color: #3c444f; font-size: 12px; background:url(../../img/newdesign_img/body_bg.jpg) repeat; font-family:'Arial'}
input, select, textarea {font-size:12px; color:#a3a3a3; }

h1,h2,h3,h4,h5{line-height:normal;}
h1{font-size:24px;}
h2{font-size:20px;}
h3{font-size:18px;}
h4{font-size:16px;}
h5{font-size:14px;}
ul,li{list-style:none;}

a{ text-decoration:none; outline: none;}
a:hover{text-decoration: none;}

.clear{clear:both; line-height:0px; font-size:0px;}
img {border:none;}
section, article, aside, header, footer, nav, dialog, figure {display:block; padding:0px; margin:0px; }

.lt { float:left}
.rt { float:right}

.abslt { position:absolute}
.rltv { position:relative}


@font-face {
    font-family:'avant';
    src: url('fonts/avgardm-webfont.eot');
    src: url('fonts/avgardm-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/avgardm-webfont.woff') format('woff'),
         url('fonts/avgardm-webfont.ttf') format('truetype'),
         url('fonts/avgardm-webfont.svg#avantgarde_md_btmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*====================== 
  Header
======================*/
.top_blue_bar { border-top:8px solid #0770ca}
.wrapper { width:978px; margin:auto}
.logo { width:300px; float:left}
.top_menu { float:right}
.top_menu ul { margin-top:5px;}
.top_menu li { float:left; margin:0 8px; padding-top:1px;}
.top_menu a {color:#FFF; padding:0 5px; font-size:13px; font-family:'avant';}
.top_menu a:hover { text-decoration:underline}
.member { background:url(../../img/newdesign_img/member.png) no-repeat left center; padding-left:15px !important;}
.signin { background:url(../../img/newdesign_img/signin.png) no-repeat left center; padding-left:15px !important;}
.top_menu_l{ float:left; padding-left:6px; height:31px; background:url(../../img/newdesign_img/top_menu_l.png) left no-repeat;}
.top_menu_r{ float:left; padding-left:6px; padding-right:12px; height:31px; background:url(../../img/newdesign_img/top_menu_r.png) right no-repeat;}


/*====================== 
  Navbar
======================*/
.nav{display:inline-block}
.navbar { background:url(../../img/newdesign_img/nav_bg.png) repeat-x; width:977px; height:39px; border-radius:3px; -webkit-border-radius:3px; -o-border-radius:3px; -moz-border-radius:3px; clear:both}
.navbar li { float:left; background:url(../../img/newdesign_img/sep.png) no-repeat right;}
.navbar li a { font-family:'avant'; color:#363636; font-size:16px; padding:10px 12px; display:inline-block; text-shadow:1px 1px 0px #c2c2c2; line-height:19px}
.navbar li a:hover { background:url(../../img/newdesign_img/nav_hover.png) repeat-x;}
.navbar li.active a { background:url(../../img/newdesign_img/nav_active.png) repeat-x; color:#FFF; text-shadow:1px 1px 0px #000}

.home { text-align:center;}
.home a {  border-radius:3px 0 0 3px ;  -moz-border-radius:3px 0 0 3px;  -webkit-border-radius:3px 0 0 3px;  -o-border-radius:3px 0 0 3px; padding-bottom:4px !important; }
.home a span { background:url(../../img/newdesign_img/home_icn.png) no-repeat; width:1px; height:24px; padding-left:22px; float:left }

.navbar li.active a span { background:url(../../img/newdesign_img/home_icn_hover.png) repeat-x;}


.nav_shadow { background:url(../../img/newdesign_img/nav_shadow.png) no-repeat; margin:auto; width:852px; height:24px}

/*====================== 
  Banner
======================*/
.banner { clear:both; margin-bottom:10px;}
.banner_l { float:left; width:410px; color:#FFF; padding-right:20px; font-size:13px}
.banner_r { overflow:hidden}

.banner_l h1 { color:#FFF; font-size:22px; padding-bottom:10px}
.banner_l p { margin-bottom:10px; line-height:17px}

.banner_l .blue_btn { margin:18px 10px 0 0; float:left}
.blue_btn a { background:url(../../img/newdesign_img/blue_btn_l.png) left no-repeat; padding-left:13px; height:59px; float:left}
.blue_btn a span{ background:url(../../img/newdesign_img/blue_btn_r.png) right no-repeat; padding-left:13px; padding-right:26px; height:59px; line-height:58px; color:#FFF; font-size:18px; float:left; min-width:230px; text-align:center}
.blue_btn a:hover { opacity:0.8}
.arrow_pointing { float:left; margin-top:18px;}


/*====================== 
  Icon Container
======================*/
.icons_cont { background:url(../../img/newdesign_img/cont_start_shadow.png) no-repeat top; padding-top:20px; margin:25px 0; display:inline-block} 
.icons_cont_wrap { background:url(../../img/newdesign_img/cont_btm_shadow.png) bottom no-repeat; padding-bottom:35px; display:inline-block; width:978px; padding-top:16px}
.icons_img { width:69px; height:69px; margin:auto}
.icons_txt { text-align:center; padding-top:10px; font-weight:bold}
.icons_cont_wrap li { width:104px; float:left; margin:0 25px; color:#bebebe; text-align:center}
.icons_cont_wrap li:hover a{ color:#FFF}
.icons_cont_wrap li a { color:#999}

.fire_safety_icon { background:url(../../img/newdesign_img/sprinkler_hover.png) no-repeat;}
.icons_cont_wrap li:hover .fire_safety_icon { background:url(../../img/newdesign_img/sprinkler.png) no-repeat;}

.emergency_lights_icon { background:url(../../img/newdesign_img/emergency_lights_hover.png) no-repeat;}
.icons_cont_wrap li:hover .emergency_lights_icon { background:url(../../img/newdesign_img/emergency_lights.png) no-repeat;}

.fire_alarms_icon { background:url(../../img/newdesign_img/fire_alarms_hover.png) no-repeat;}
.icons_cont_wrap li:hover .fire_alarms_icon { background:url(../../img/newdesign_img/fire_alarms.png) no-repeat;}

.fire_extinguisher_icon { background:url(../../img/newdesign_img/fire_extinguisher_hover.png) no-repeat;}
.icons_cont_wrap li:hover .fire_extinguisher_icon { background:url(../../img/newdesign_img/fire_extinguisher.png) no-repeat;}

.special_hazards_icon { background:url(../../img/newdesign_img/special_hazards_hover.png) no-repeat;}
.icons_cont_wrap li:hover .special_hazards_icon { background:url(../../img/newdesign_img/special_hazards.png) no-repeat;}

.kitchen_icon { background:url(../../img/newdesign_img/kitchen_hover.png) no-repeat;}
.icons_cont_wrap li:hover .kitchen_icon { background:url(../../img/newdesign_img/kitchen.png) no-repeat;}


/*====================== 
  Container
======================*/
.container { clear:both; padding:0 14px}
.cont_l { float:left; width:452px;}
.cont_r { float:right; width:452px;}
.content_box { background:#f3f3ef; padding:5px; border-radius:3px; -webkit-border-radius:3px; -o-border-radius:3px; -moz-border-radius:3px;}
.content_box_title { background:#5e0f0f;  border-radius:3px; -webkit-border-radius:3px; -o-border-radius:3px; -moz-border-radius:3px;}
.content_box_title h2 { color:#f20d0a; font-family:'avant'; font-weight:lighter;  padding:5px; text-align:left}
.gears { background-image:url(../../img/newdesign_img/gears_img.png); background-repeat:no-repeat; background-position:right}
.home { background-image:url(../../img/newdesign_img/home_img.png); background-repeat:no-repeat; background-position:right}
.content_box_txt { padding:7px 0}
.content_box_txt p { line-height:18px; margin:3px; color:#5e0f0f; min-height:130px}
.txt_center { text-align:center}
.cont_btn { background:#f20d0a; padding:4px; color:#FFF; font-weight:bold; opacity:0.8; border-radius:3px; -webkit-border-radius:3px; -o-border-radius:3px; -moz-border-radius:3px;}
.cont_btn:hover { opacity:1}

/*============================ 
  Three Boxes - Survey box
==============================*/
.three_boxes{ padding:40px 0; display:inline-block}
.ques_bg { background: url(../../img/newdesign_img/ques_bg_img.png) right center no-repeat #b12e2e; border:2px solid #661e1e; padding:10px; width:306px; height:120px; border-radius:7px; -webkit-border-radius:7px; -o-border-radius:7px; -moz-border-radius:7px; margin-right:32px}
.ques_txt { width:220px;}
.ques_txt h1 { color:#FFF; font-size:20px; height:96px}
.ques_txt .clickhere { background:#8c2828; border:2px solid #f20d0a; color:#fff; font-family:'avant'; font-weight:lighter; padding:6px 10px; border-radius:7px; -webkit-border-radius:7px; -o-border-radius:7px; -moz-border-radius:7px;}
.ques_txt .clickhere:hover { background:#5e0f0f}

/*============================ 
  Three Boxes - Survey Box
==============================*/
.survey_bg  { width:252px; height:120px; padding:10px; background:url(../../img/newdesign_img/survey.png) no-repeat right center #fff; border:2px solid #939393; border-radius:7px; -webkit-border-radius:7px; -o-border-radius:7px; -moz-border-radius:7px; margin-right:32px}
.survey_txt { width:220px;}
.survey_txt h1 { color:#1b1b1b; font-size:20px; height:88px;}
.grey_btn a { background:url(../../img/newdesign_img/grey_btn_l.png) no-repeat left; padding-left:7px; height:28px; display:inline-block}
.grey_btn a span{ background:url(../../img/newdesign_img/grey_btn_r.png) no-repeat right; padding-left:7px; padding-right:14px; height:28px; color:#FFF; font-family:'avant'; font-size:14px; display:inline-block; line-height:28px}
.grey_btn { opacity:0.9}
.grey_btn:hover { opacity:1}

/*===========================
  Three Boxes - Uptodate box
=============================*/
.uptodate_bg  { width:252px; height:120px; padding:10px; background:url(../../img/newdesign_img/uptodate.png) no-repeat right center #cfd0cc; border:2px solid #939393; border-radius:7px; -webkit-border-radius:7px; -o-border-radius:7px; -moz-border-radius:7px;}
.uptodate_txt { width:180px;}
.uptodate_txt h1 { color:#1b1b1b; font-size:20px;}
.uptodate_txt p { min-height:40px;}
.red_btn a { background:url(../../img/newdesign_img/red_btn_l.png) no-repeat left; padding-left:7px; height:30px; display:inline-block}
.red_btn a span{ background:url(../../img/newdesign_img/red_btn_r.png) no-repeat right; padding-left:7px; padding-right:14px; height:30px; color:#FFF; font-family:'avant'; font-size:14px; display:inline-block; line-height:28px}
.red_btn { opacity:0.9}
.red_btn:hover { opacity:1}

/*===========================
  Bottom Container
=============================*/
.btm_cont { clear:both; margin-top:10px; color:#b0b0b0}
.btm_cont_l { float:left; width:305px; margin-right:20px}
.btm_cont_r { overflow:hidden }

/*===========================
  About us
=============================*/
.about_us { width:280px}
.btm_title { padding:0 0 8px 0}
.btm_title h4 { text-shadow:1px 1px 0px #151515}
.btm_txt { padding:10px 0}
.btm_txt p { margin-bottom:8px;}


/*===========================
  Testimonials
=============================*/
.testimonials { width:100%;}
.testimonials_list li { clear:both; margin-bottom:10px}
.testi_wrap { background:url(../../img/newdesign_img/overlay.png) repeat; padding:12px; *overflow:hidden }
.testi_profile_img { float:left; width:100px; margin-right:10px}
.testi_profile_img img { border:1px solid #000}
.testi_txt { overflow:hidden}
*+html .testi_txt { float:left; width:500px} 
.testi_txt p { font-style:italic;}
.testi_txt strong { margin-top:15px}
.brdr_r { background:url(../../img/newdesign_img/border-r.png) repeat-y right}
.h_line { border-top:1px solid #3c3b3b; border-bottom:1px solid #686767; clear:both}
.v_line { border-right:1px solid #3c3b3b; border-left:1px solid #686767;}


/*===========================
  Footer 
=============================*/
.footer { background:url(../../img/newdesign_img/footer_shadow.png) center top no-repeat #0770ca; height:58px; color:#6fbdff; font-size:11px; margin-top:30px}
.footer_wrap { width:978px; margin:auto; padding-top:20px}
.foot_l { float:left; width:598px; text-align:left}
.foot_r { overflow:hidden; text-align:right}
.foot_links li { float:left; border-right:1px solid #6fbdff; margin-left:10px; padding-right:10px}
.foot_links li:last-child { border-right:none;}
.foot_links li a { color:#6fbdff}
.foot_links li a:hover { text-decoration:underline}


/*=========================================================
  Inner pages  Full Width
==========================================================*/
.inner_full { color:#c6c6c6; line-height:16px; background:url(../../img/newdesign_img/overlay.png) repeat; padding:10px; overflow:hidden}
.inner_full { border-radius:6px; -moz-border-radius:6px; -webkit-border-radius:6px; -o-border-radius:6px; }
.inner_full h5 { margin-bottom:3px}
.inner_full p{ margin-bottom:10px;}
.inner_l { float:left; width:660px;}
.inner_l h1 { margin-bottom:10px; text-shadow:1px 1px 1px #000000}
.inner_r { float:right; width:278px;}
.inner_r .ques_bg { width:252px}
.inner_r .ques_bg, .inner_r .survey_bg, .inner_r .uptodate_bg { margin-bottom:16px;}
.uptodate_txt p { margin-bottom:0; color:#000}


/*===========================
  Faq Page
=============================*/
.cat_wrap { padding-bottom:15px; display:inline-block; width:100%}
.faq_cont { width:902px;}
.faq_listing {}
.faq_listing a { color:#fff }
.faq_listing li { width:100%; float:left; padding:15px 0; border-bottom:1px solid #555; } 
.ques a.close { font-size:16px; background:url(../../img/newdesign_img/minus.png) right no-repeat; width:100%; display:block}
.ques a.open { font-size:16px; background:url(../../img/newdesign_img/plus.png) right no-repeat; width:100%; display:block}
.ans { padding:10px 0 0;}
.ans span { color:#408818; font-size:12px; padding-right:5px}

.login_wrap { margin:80px 0;}
.member_login { background:url(../../img/newdesign_img/base_shadow.png) no-repeat; width:478px; height:286px; margin:auto}
.member_bg { background:url(../../img/newdesign_img/base2_bg.png) no-repeat; width:432px; height:256px; margin:auto;}
.member_grain_bg { background:url(../../img/newdesign_img/base3_grain.png) no-repeat; width:408px; height:256px; margin:auto; padding:12px;}
.member_grain_bg h3 { background:url(../../img/newdesign_img/lock.png) no-repeat; padding-left:28px; font-family:'avant'; font-weight:lighter; text-shadow:1px 1px 0 #fff; padding-top:5px; padding-bottom:10px; border-bottom:1px solid #c6c6c6 }


ul.login_form { clear:both; margin:20px 0 0 0}
ul.login_form li { clear:both; margin-bottom:22px; overflow:hidden}
ul.login_form li label { width:100px; float:left; line-height:40px; font-size:16px; color:#535152 }
ul.login_form li .input_wrap { float:left; background:url(../../img/newdesign_img/input_bg.png) no-repeat; width:298px; height:41px;}
ul.login_form li .input_wrap input {  height: 26px;  margin: 7px; width: 282px; border:0; background:transparent; color:#999; font-size:16px; padding-top:4px\0/; *padding-top:4px}
ul.login_form li .input_wrap input:focus { color:#333}
ul.login_form li .login_btn span { float:right; margin-right:10px}
.login_btn span { background:url(../../img/newdesign_img/login_btn_l.png) left no-repeat; padding:0 0 0 6px; height:37px; float:left}
.login_btn span input{ background:url(../../img/newdesign_img/login_btn_r.png) right no-repeat; padding:0 12px 0 6px;  height:37px; padding-bottom:0px; cursor:pointer; border:0; display:inline-block; color:#FFF; font-size:16px; font-family: 'avant'; min-width:94px; text-align:center; float:left}
.forgot { font-size:14px; line-height:34px; color:#0770CA; text-decoration:underline; float:left}
.forgot:hover { text-decoration:none}

/*Up to date css starts here*/
.tblContainer { background:url("../../img/newdesign_img/overlay.png") repeat !important; padding:10px !important; color:#fff}
div.tblContainer table th{ padding:8px;}
div.tblContainer table td{ padding:8px;}
div.tblContainer table td.boldTxt{ font-weight: bold;}
div.tblContainer table td.chkBox{ text-align: center; padding-left: 0px;}
div.tblContainer table caption{ font-size: 14px;font-weight: bold;margin-bottom:10px;}
div.tblContainer table { border:1px solid #c6c6c6 !important;border-collapse:collapse;}
div#suppression{ display: none;width: 100%;text-align: center;font-size: 14px;}
div.txtContainer{ font-size: 14px;text-align: justify;}
div.paraDiv{ padding-bottom:10px;}
div.titleDiv{ font-weight: bold;margin: 20px 0;}
div#pageTitle{ font-size: 14px;}
div.tblContainer table td.padSingle{ padding-left: 18px;}
div.tblContainer table td.padDouble{ padding-left: 28px;}
#submitContainer{ width: 100%; text-align: center; min-height: 50px; padding-top: 10px; padding-left: 400px;}
/*Up to date css ends here*/

.roundborder { border-radius:6px; -moz-border-radius:6px; -webkit-border-radius:6px; -o-border-radius:6px;}
.radio_btns { margin-bottom:15px;}
.radio_btns input[type=radio] { margin:0 5px; vertical-align:top }
.radio_btns input[type=radio]:focus {box-shadow:0px 0px 5px 3px #0492e5; -webkit-box-shadow:0px 0px 5px 3px #0492e5; -moz-box-shadow:0px 0px 5px 3px #0492e5; -o-box-shadow:0px 0px 5px 3px #0492e5}
.input_fields { margin-bottom:15px;}
.input_fields input[type=text] { margin-right:10px; }

/*===========================
  Regsiter
=============================*/
.sign-form{ width:652px; margin:0px auto; clear:both}
.sign-form li{display:block; padding:8px 0; overflow:hidden;}
.sign-form h4{ color:#e92333; font-style:normal; font-size:11px; font-weight:normal;}
.sign-form li label{float:left; width:200px; display:block; text-align:left; color:#c6c6c6 !important; font-size:14px; padding-top:8px; font-weight:bold }
.sign-form li .input-cont{ float:left; width:322px;}
.input-cont textarea{ font-weight:lighter}
.sign-form li a{ color:#1e3b69; font-size:11px; text-decoration:underline;}
.astric{color:#FF0000; font-weight:normal; font-size:14px;}
.vsmall { width:50px !important}
.small { width:80px !important}
.lsmall { width:130px !important}
.search_bg { border:1px solid #c6c6c6; -moz-border-radius:4px; webkit-border-radius:4px; border-radius:4px;  width:200px; padding:8px; color:#929292; background:#f4f4f4 }
.search_bg:hover{ border:1px solid blue; color:#666}
.search_bg:focus {border:1px solid #000; background:#FFF; color:#000 }
.search_bg:focus { box-shadow:0px 0px 5px 3px #0492e5; -webkit-box-shadow:0px 0px 5px 3px #0492e5; -moz-box-shadow:0px 0px 5px 3px #0492e5; -o-box-shadow:0px 0px 5px 3px #0492e5}
.select_bg { border:1px solid #c6c6c6; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; padding:8px; color:#929292; background:#f9f9f9; margin-right:5px }
.select_bg:hover{ border:1px solid #9a9a9a; color:#666}
.select_bg:focus {border:1px solid #6c8e3a; background:#FFF; color:#000 }
.input-cont input[type='radio'] { width:auto; vertical-align:middle; margin:6px}
.tooltip { float:left;}

.reg-text { color:#666}
.reg-text h3 { font-weight:lighter; margin:5px 0; padding:0; color:#000; font-family: 'GishaRegular'; font-weight:lighter; text-transform:uppercase}
.reg-text p { margin:0 0 20px 0}
.reg-text a { color:#6c8f3b}
.reg-text ul { margin: 0 0 20px 0}
.reg-text li { margin:5px 0; }

.check_wrap { padding:2px 0}
.already_reg { font-size:16px}
.link { text-decoration:underline; color:#fff !important; font-weight:bold; font-size:16px !important;}
.link:hover { text-decoration:none}
.inner_l h4 {border-bottom: 1px solid #666666; font-weight: lighter;  margin-bottom: 20px;  margin-top: -9px; padding-bottom: 10px;  text-shadow: 1px 1px 0 #000000;}
.message{ font-weight:bold;font-size:12px;color:red;}

/* 11/10/12 */
.header_r { float:right}
.free_trial_btn { clear:both; opacity:0.9; padding-top:26px;}
.free_trial_btn a{ background:url(../../img/newdesign_img/trial_btn_l.png) no-repeat left; padding-left:10px; height:34px; display:inline-block}
.free_trial_btn a span{ background:url(../../img/newdesign_img/trial_btn_r.png) no-repeat right; padding-left:0px; padding-right:10px; height:34px; line-height:38px; cursor:pointer; border:0; display:inline-block; min-width:156px; font-family:'avant'; color:#fff; font-size:16px; text-align:center}
.free_trial_btn img { vertical-align:middle; margin:0 0 0 10px}
.free_trial_btn:hover { opacity:1}

.foot_img li { float:left; padding:0 7px; text-align:center}
.foot_img li img { vertical-align:middle}
.nfpa { margin-top:10px;}

.plans li { float:left; width:195px; margin:0 12px 24px}
.subs_bg  { background:#FFF; padding:10px; text-align:center; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; -o-border-radius:3px;
}
.plan_title  { padding:10px 0}
.plan_title h2 { color:#335e7a; font-size:22px}
.plan_price_monthly { background:url(../../img/newdesign_img/drop.png) bottom center no-repeat; padding-bottom:15px;}
.plan_price_monthly h3 { color:#909090; font-size:15px;}
.plan_price { padding:14px 0 0;}
.plan_price h1{ color:#e90000; text-shadow:none !important; font-size:40px;}
.font34 { font-size:34px;}
.font26 { font-size:26px;}
.plan_per_client h5{ color:#909090; text-shadow:none !important; font-size:15px;}
.subscribe span { background:url(../../img/newdesign_img/subscribe_btn_l.png) no-repeat left; padding-left:4px; *padding-left:1px; height:33px; display:inline-block}
.subscribe span input { background:url(../../img/newdesign_img/subscribe_btn_r.png) no-repeat right; padding-left:4px; padding-right:4px; height:33px; line-height:33px; border:0; cursor:pointer; display:block; font-weight:bold; color:#FFF; padding-bottom:5px; min-width:140px}