 <div id="content">
      <div id="box" style='width: 450px;float: right;'>
         	<h3 id="adduser">Manager Login</h3>
        <?php echo $form->create('Company', array('type'=>'POST', 'action'=>'login','name'=>'loginform','id'=>'form')); ?>                    
           <br/>                      
           <label for="email">Username : </label>
           <?php echo $form->text('Company.username'); ?>                       
           <br />
           <label for="pass">Password : </label>
           <?php echo $form->password('Company.pwd', array('class'=>'text'));  ?>                       
           <br /><br />                     
           <div align="center">
           <?php echo $form->submit('Sign In',array('id'=>'button1','style'=>'width: 100px;')); ?>
              <!--<input id="button2" type="reset" style='width: 100px;' />-->
           </div>
           <br/>
         <?php echo $form->end(); ?>
      </div>
 </div>