<?php echo $javascript->link('jquery.js');  echo $javascript->link('jquery.cycle.all.2.73.js'); ?>
<!-- <script>
$(document).ready(function() {

    $('.slideshow').cycle({
    
		speed:		400,
		timeout:	25000, 
		pager:		'#tabs',
		pagerEvent: 'mouseover',
		pauseOnPagerHover: true,
		pagerAnchorBuilder: function(i, slide){// callback fn for building anchor links:  function(index, DOMelement) 
    return '<a href="path-to-link"><img src="http://www.hotschedules.com/images/tabback.png' + slide.src + '" height="47" width="189.62" /></a>';
    //alert('<a href="path-to-link"><img src="../images/tabback.png' + slide.src + '" height="47" width="189.62" /></a>');
}

		
	});

});
$(document).ready(function () {
$("#ShowBanner").empty();
var getContest = $("#1").html();
$("#ShowBanner").append('<div id="1" class="banner1">'+ getContest +'</div>');
});
function changeBanner(val)
{
  for(i=1;i<=4;i++)
  {
      if(i!=val)
      {
        $("#"+i+i).removeClass('active');
      }
      else
      {
       
        
        $("#ShowBanner").empty();
        var getContest =$("#"+val).html();
        $("#ShowBanner").fadeIn(40000 , function () {
            
        });
        $("#ShowBanner").append('<div id="1" class="banner'+val+'">'+ getContest +'</div>');
        $("#"+val+val).addClass('active');
      }
  }
}
</script>	

 Banner Starts               
<div class="banner1" id="1" style="display:none;">
                	<div class="right-banner">
                    	<div class="banner_margin"><h1>We make it easy!</h1>
                        <h2>Save Time. Save Money. Reduce Employee Turnover.</h2>
                        <p>SchedulePal is a fast, easy and affordable online employee schedule software system designed for any size business in the restaurant and retail industry. Since SchedulePal is an online software package, you can schedule from anywhere at anytime.</p>
                        </div>
                        <div class="sign-up"><?php // echo $html->link($html->image("sign-up.png",array("onmouseout"=>"this.src='/img/sign-up-now.png';", "onmouseover"=>"this.src='/img/sign-up.png';")), array("controller"=>"owners","action"=>"signup"), array('escape' => false));?></div>
                    </div>
                </div>              
                
                <div class="banner2" id="2" style="display:none;">
                	<div class="right-banner">
                    	<div class="banner_margin"><h1>Save Time</h1>
                        <h2>What if you were able to decrease the time spent creating work schedules by 80%?</h2>
                        <p>Improve your product? Improve your customer service? Improve employee morale? Improve staff training development...</p>
                        </div>
                        <div class="sign-up">
                        <?php echo $html->link($html->image("sign-up.png",array("onmouseout"=>"this.src='/img/sign-up-now.png';", "onmouseover"=>"this.src='/img/sign-up.png';")), array("controller"=>"owners","action"=>"signup"), array('escape' => false));?>
                        </div>
               </div>
                </div>
                
                <div class="banner3" id="3" style="display:none;">
                	<div class="right-banner">
                    	<div class="banner_margin"><h1>Time = Money</h1>
                        <h2>Would you like to increase your profits?</h2>
                        <p>SchedulePal allows you to tightly monitor and control your labor costs.  Our system does the work for you so you can increase labor productivity, limit overtime, and eliminate diffusion.</p>
                       </div>
                       <div class="sign-up"><?php echo $html->link($html->image("sign-up.png",array("onmouseout"=>"this.src='/img/sign-up-now.png';", "onmouseover"=>"this.src='/img/sign-up.png';")), array("controller"=>"owners","action"=>"signup"), array('escape' => false));?></div>
                    </div>
                </div>
                
                <div class="banner4" id="4" style="display:none;">
                	<div class="right-banner">
                    	<div class="banner_margin"><h1>Reduce Employee Turnover</h1>
                        <h2>SchedulePal = Happy Employees</h2>
                        <p><!--SchedulePal gives your employees the flexibility and convenience of accessing their schedule online anytime and anywhere.--><!--SchedulePal allows you the opportunity to always share the latest scheduling information with your employees. There is no more "he said, she said". SchedulePal communicates by email, text messaging (SMS) and hard copy.</p>
                       </div>
                        <div class="sign-up"><?php echo $html->link($html->image("sign-up.png",array("onmouseout"=>"this.src='/img/sign-up-now.png';", "onmouseover"=>"this.src='/img/sign-up.png';")), array("controller"=>"owners","action"=>"signup"), array('escape' => false));?></div>
                    </div>
                </div>
               <div id="ShowBanner">
                
	       </div> -->
            	<!-- Benner Ends -->
                <!-- banner-menu-Ends -->
              <!--  <div class="banner-menu">
                	<div class="inner-banner-menu">
                    	<ul>
                    		<li><a id="11"  class="active" href="#" onmouseover="changeBanner(1);"><span>We make it easy</span></a></li>
                    		<li><a id="22"  href="#" onmouseover="changeBanner(2);"><span>Save Time</span></a></li>
                    		<li><a id="33" href="#" onmouseover="changeBanner(3);"><span>Time=Money</span></a></li>
                    		<li><a id="44" href="#" onmouseover="changeBanner(4);"><span>Reduce Employee Turnover</span></a></li>
       					      </ul>
                    </div>
                </div>
            <!-- banner-menu-Ends -->
 
            <!-- Header Ends -->
	  
            <!-- Middle Starts -->
	    
            <div id="middle">
            	<!-- Middle Section Starts -->
                <div class="middle-section">
                	<!-- Left Starts -->
                    <div class="left">
                    	<h3>Welcome to Report Online Plus<!--<span>Pal</span>--></h3>
                        <div class="content">
                        	<!--<h3 style="line-height:28px">Hundreds of businesses trust SchedulePal with their employee schedule needs.Businesses across the country trust SchedulePal with their employee scheduling needs. Our program was created and custom tailored for the restaurant and retail industries. With over 25 years of experience in these industries, SchedulePal has been designed to meet your business' needs.</h3> -->
                        <p >fgfsgdggggnghhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhjhjhgj
			ghfghfhgh
			gfhfdhghhg
			fdgdfsgdfg</p>
                        </div>
                        <!-- Row Starts -->
                        <div class="row">
                      
                        </div>
                        <!-- Row Ends -->
                         <!-- client-row Starts -->
                        <div class="client-row">
                        	<!--<h2>Clients</h2>
                        	<div class="content client">
                            <ul class="client-list">
                                <li>
                                	<div class="client-img">
                                    	<img src="/img/copper_blue_large.jpg" alt="Product" title="Product" />
                                    </div>
                                    <div class="client-detail">
                                    
                                        <p style="width:100%"><!--Lorem Ipsum as their default Lorem Ipsum. Lorem Ipsum as their default lorem Ipsum. Lorem Ipsum as their default lorem Ipsum. Lorem Ipsum as their default lorem Ipsum--></p>
                                      <!-- <a href="#"><img src="/img/viewmore-btn.png" alt="View More" title="View More" /></a>-->
                                    </div>
                                </li>
                                
                            </ul>
                        </div>
                            	
                        </div>
                    <!--client-row Ends-->
                    </div>
                    <!--Left Ends-->	
                    
                    <?php // echo $this->element('right_section_front'); ?>
                    
                    <!--Find More Starts-->
                   <!-- <div class="find-more">
                    	<div class="find-more-left">
                        	<div class="find-more-right">
                            	<div class="find-more-middle">
                                
                                	<div class="find-green"><h2><a href="#"><img src="/img/arrow-big.png" alt="" />FInd Out More</a></h2></div>
                                	<div class="findmore-icons">
                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   Find More Ends-->
                    
                </div>
                <!-- Middle Section Ends -->
            </div>
            <!-- Middle Ends -->