<table width="100%" cellspacing="1" cellpadding="1" style="border:none;">
    <tbody>
        <tr>
            <td width="20%" style="border:none">
            <table width="100%" cellspacing="1" cellpadding="1" style="border:none;">
                <tbody>
                    <tr>
                        <td style="border:none"><img height="100px" width="100px" src="/img/tutorial.jpg" alt="" /></td>
                    </tr>
                    <tr>
                        <td style="border:none"><span style="font-size:12px;font-weight:bold;color:#222;padding-left:20px;">Tutorials</span></td>
                    </tr>
                    <tr>
                        <td style="border:none"><img height="100px" width="100px" src="/img/plus.png" alt="" /></td>
                    </tr>
                    <tr>
                        <td style="border:none"><span style="font-size:12px;font-weight:bold;color:#222;padding-left:20px;">The Plus</span></td>
                    </tr>
                    <tr>
                        <td style="border:none"><img height="100px" width="100px" src="/img/serviceprovider.jpg" alt="" /></td>
                    </tr>
                    <tr>
                        <td style="border:none;"><span style="font-size:12px;font-weight:bold;color:#222;padding-left:20px;">Services Providers</span></td>
                    </tr>
                    <tr>
                        <td style="border:none"><img height="100px" width="100px" src="/img/propertyowner.jpg" alt="" /></td>
                    </tr>
                    <tr>
                        <td style="border:none;"><span style="font-size:12px;font-weight:bold;color:#222;padding-left:20px;">Property Owners</span></td>
                    </tr>
                </tbody>
            </table>
            </td>
            <td valign="top" style="border:none">
            <table width="100%" cellspacing="1" cellpadding="1" style="border:none;">
                <tbody>
                    <tr>
                        <td valign="top" style="border:none;">
                        <p><span style="font-size: larger;"><b><i>ReportsOnlinePlus</i></b> offers Fire and Life Safety Inspection                                     Reports</span></p>
                        <div style="padding-left: 15px; line-height: 19px;" class="contenttxt">
                        <ol>
                            <?php foreach($data as $data) { ?>
                            <li><span style="font-size: larger;"><a href="/homes/download/<?php echo $data['SampleReport']['file_name']; ?>"><?php echo $data['SampleReport']['name']; ?></a></span></li>
                            <?php } ?>
                        </ol>
                        </div>
                        <p><i>Please click on any of the products above to see a sample of the specific reports</i></p>
                        </td>
                    </tr>
                </tbody>
            </table>
            </td>
        </tr>
    </tbody>
</table>