            <!-- Middle Starts -->
            <div id="middle">
            	<!-- Middle Section Starts -->
                <div class="middle-section">
                	
                    <!-- Inner Left Starts -->
                    <div class="inner-left">
                    	
                        <!-- Business Add Section Starts -->
                        <div class="leftmenu-box">
                          <div class="leftmenu-top">
                            <div class="leftmenu-tleft">
                              <div class="leftmenu-tright">
                                <div class="leftmenu-tmid"></div>
                              </div>
                            </div>
                          </div>
                          <div class="leftmenu-middle">
                            
                            <div class="leftmenu-content">
                                <h2>FAQ</h2>
                                <ul class="leftmenu">
                                	<li><a href="#">Lorem Ipsum as their</a></li>
                                    <li><a href="#">Lorem Ipsum as their</a></li>
                                    <li><a href="#">Lorem Ipsum as their</a></li>
                                    <li><a href="#">Lorem Ipsum as their</a></li>
                                    <li><a href="#">Lorem Ipsum as their</a></li>
                                    <li class="last"><a href="#">Lorem Ipsum as their</a></li>
                                </ul>
                            </div>
                          
                          </div>
                          <div class="leftmenu-bottom">
                            <div class="leftmenu-bleft">
                                <div class="leftmenu-bright">
                                    <div class="leftmenu-bmid"></div>
                                </div>
                            </div>
                          </div>      
                      </div>
                      <!-- Business Add Section Ends -->
                        
                    </div>
                    <!-- Inner Left Ends -->
                    
                    <!-- Inner Right Starts -->
                      <div class="inner-right">
                      <h2> Thank You!  </h2>
                      
                      <div class="testimonial-content">
                                    	<p>Thank you for registration.<br />Please check your mail for login details.</p>
                                       
                                    </div>
                      
                      
                      </div>
                    <!-- Inner Right Ends -->
                                                            
                </div>
                <!-- Middle Section Ends -->
            </div>
            <!-- Middle Ends -->