 <div id="content" >
              <div id="box" style='width: 450px;margin-left:255px;'>
                	<h3 id="adduser">Manager Login</h3>
                		<?php echo $form->create('Owner', array('type'=>'POST', 'action'=>'login','name'=>'loginform','id'=>'form')); ?>					
                    <!--<form id="form" action="..." method="post">
                      <fieldset id="personal">
                        <legend>LOGIN</legend>  -->
                        <br/>                      
                        <label for="email">Username : </label>
                       	<?php echo $form->text('Owner.username');  ?>
                        <!--<input name="email" id="email" type="text" 
                        tabindex="2" />-->
                        <br />
                        <label for="pass">Password : </label>
                        <?php echo $form->password('Owner.pwd', array('class'=>'text'));  ?>                       
                        <br /><br />                      
                      <!-- </fieldset> -->
                     
                      <div align="center">
                      <?php echo $form->submit('Sign In',array('id'=>'button1','style'=>'width: 100px;'));  ?>
                    <!--  <input id="button1" type="submit" value="Submit" style='width: 100px;' /> -->
                      <!--<input id="button2" type="reset" style='width: 100px;' />-->
                      </div>
                      <br/>
                    	<?php echo $form->end(); ?>

                </div>
            </div>