<script type="text/javascript">
function checkselVal()
{
   if(document.getElementById("AssignInspectorAgentId").value == ""){
	      alert("Please select the inspector");
	      return false;
   }
   else {
	      return true;
   }
}
</script>
<style type="text/css">
span.ValidationErrors {
    top:20px;
    font-size: 12px;
    color: #D00;
    padding-left: 77px;
    font-style: italic;
    position:relative;
    bottom:0;
    left:0;
    margin:0 0 -79px -281px;
}
</style>
<div id="content">
	      <div class='message'><?php echo $this->Session->flash();?></div>
	      <?php echo $form->create('', array('type'=>'POST', 'url'=>array('action'=>'assignagent'),'id'=>'addinspector')); ?>
               <?php echo $form->input('AssignInspector.client_id', array('type'=>'hidden',"div"=>false,"label"=>false,'value'=>$cid));  ?>
	      <div id="box" style="width:400px;">
                	<h3 id="adduser">Assign Inspector</h3>
                        <br/>
                        <table class="tbl">
                        <tr><td>Agent<span class="reqd">*</span>:</td>
                       	<td><?php echo $form->input('AssignInspector.agent_id', array('options' =>$inspectorlist,'label'=>false,'div'=>false,'style'=>'width:142px; margin:0 15px 0 0','empty'=>'please select')); ?></td>           
                        </tr>
			
			<tr><td colspan="2" height="10px;"></td>
                        </tr>
		
			<tr><td>&nbsp;</td>
                        <td>
			    <?php echo $form->submit('Submit',array('id'=>'button1','style'=>'width:80px;','onclick'=>"return checkselVal();")); ?>
                        </td>                       
                        </tr>
			
                      </table>
                </div>
		<?php echo $form->end(); ?>
            </div>