<div id="content">
     <?php //pr($result);?>
     <div id="box" style="width:700px;padding-left:10px;">
               <h3 id="adduser"><?php echo $html->image($this->Common->getUserProfilePhoto($result['User']['profilepic']),array('style'=>'vertical-align:middle')); ?>&nbsp;&nbsp;<?php echo ucfirst($result['User']['fname'].' '.$result['User']['lname']); ?> (Inspector)</h3>
                   <br/>
                        <table class="tbl">
								  <tr><td colspan="3" style="font-size:14px;color:#808080;font-weight:bold;">Basic Information</td></tr>
								  <tr>
								  <td style="width:20%">Qualification</td>								  
								  <td style="width:75%" colspan="2"><?php 
            $servid = explode(",",$result['User']['report_id']);
            foreach($servid as $value){       
              echo $this->Common->getReportName($value)."</br>"; ?><?php 
            } ?></td>
								  </tr>
								  
								  <tr>
									<td style="width:20%">Phone</td>								  
								  <td style="width:75%" colspan="2"><?php echo $result['User']['phone'];?></td>
								  </tr>
								  
								  <tr>
									<td style="width:20%">Email</td>								  
								  <td style="width:75%" colspan="2"><?php echo $result['User']['email'];?></td>
								  </tr>
								   <tr>
									<td style="width:20%">Permissions</td>								  
								  <td style="width:75%" colspan="2"><?php 
            $permissionid = explode(",",$result['User']['permissions']);
            foreach($permissionid as $value){       
              echo $this->Common->getPermissionName($value)."</br>"; ?><?php 
            } ?></td>
								  </tr>
								  
                        </table>
       </div>
</div>