<table width="600px" border="0" cellspacing="2" cellpadding="2">
    <tr>
	<td>	
	Dear <?php echo $data['Employee']['fname']; ?>,<br/><br/>
   This is your employee registration e-mail.<br/><br/>
   Your login/email is: <?php echo $data['Employee']['email']; ?><br/>
   Your password is: <?php echo $pass; ?><br/><br/>

   <a href="http://<?php echo $_SERVER['HTTP_HOST']; ?>/homes/login">Click here to log into your account.</a><br/><br/>

  Thanks,<br/>
  The SchedulePal Team

	</td>
    </tr>
</table>