/*********************
	HTML Elements
*********************/
*{
	margin:0;
	padding:0;
}
img, div,a { behavior: url(css/iepngfix.htc) }
.error-message{color:red;}
body{
	font-size: 12px;
	font-family: Arial, Tahoma, Verdana;
}
a, a:visited{
	text-decoration:none;
}
img{
	border:0;
	margin:1px;
}
p{
	padding:3px;
}
h2{

}
input{
	padding:2px;
	/*float:left;*/
}
select{
	padding:2px;
}
/*********************
	Structure
*********************/
#container{
	width:960px;
	margin-left:auto;
	margin-right:auto;
}
#header{
	width:960px;
}
#header h2{
margin-top:17px;
}
#content{
	width:740px;
	float:left;
	margin:10px 0 10px 0;
	padding:10px;
}
#sidebar{
	background:#FFF;
	width:170px;
	float:right;
	margin:10px 0 10px 0;
	padding:10px;
}
#footer{
	clear:both;
	padding:5px;
	margin-top:10px;
	background:#993400;
	color:#fff;
	font-size:11px;
}
#box h3{
	padding:5px;
	font-size:14px;
}
/*********************
	Sidebar
*********************/
#sidebar ul{
	list-style:none;
	line-height:22px;
}
#sidebar ul li a,#sidebar ul li a:visited{
	padding-left:19px;
	text-decoration:none;
	margin:0 3px;
	display:block;
}
#sidebar ul li a:hover{
	text-decoration:underline;
}
#sidebar ul li ul{
	margin-left:10px;
}
#sidebar h3{
	padding:2px;
	font-size:14px;
}
/*********************
  TopMenu, Top-Panel
*********************/
#topmenu{
	margin-top:21px;
	width:900px;
	float:left;
	voice-family:inherit;
}
#topmenu ul{
	list-style:none;
	line-height:28px;
}
#topmenu li{
	display:inline;
}
#topmenu a,#topmenu a:visited{
	padding:3px 5px 3px 5px;
	text-decoration:none;
}
#topmenu .current a, #topmenu .current a:hover, #topmenu .current a:visited{
	padding:3px 5px 3px 5px;
	font-weight:bold;
	
}
#top-panel{
	background:#FFF;
	padding:0px;
	height:0px;
	float:left;
	width:950px;
}
#top-panel ul{
	list-style:none;
}
#top-panel ul li{
	display:inline;
	line-height:20px;
}
#top-panel ul li a{
	padding-left:19px;
	text-decoration:none;
	margin:0 3px;
	display:inline-block;
}
#top-panel a:hover{
	text-decoration:underline;
}
/*********************
		Other
*********************/
.a-right{text-align:right;}
.a-left{text-align:left;}
.a-center{text-align:center;}
#pager{
	margin:5px;
	height:25px;
}
#styleswitcher{
	float:right;
}
#styleswitcher ul{
	list-style:none;
	line-height:10px;
}
#styleswitcher li{
	height:12px;
	display:inline;
}
#footer ul {
	list-style:none;
}
#footer li {
	display:inline;
}
a#defswitch {
	width:15px;
	height:10px;
	margin: 3px 0 3px 0;
	background-color:#bd3f09;
	font-size: 8px;
	color:#bd3f09;
	display:inline-block;
}
a#blueswitch {
	width:15px;
	height:10px;
	margin: 3px 0 3px 0;
	background-color:#375b91;
	font-size: 8px;
	color:#375b91;
	display:inline-block;
}
a#greenswitch {
	width:15px;
	height:10px;
	margin: 3px 0 3px 0;
	background-color:#d0e0b8;
	font-size: 8px;
	color:#d0e0b8;
	display:inline-block;
}
a#brownswitch {
	width:15px;
	height:10px;
	margin: 3px 0 3px 0;
	background-color:#654322;
	font-size: 8px;
	color:#654322;
	display:inline-block;
}
a#mixswitch {
	width:15px;
	height:10px;
	margin: 3px 0 3px 0;
	background-color:#294145;
	font-size: 8px;
	color:#294145;
	display:inline-block;
}
#credits{
clear:both;
	width:200px;
	float:left;
}
/*********************
		Tables
*********************/
table{
	margin:5px;
	border-collapse: collapse;
	table-layout:automatic;
	width:98%;
}
td, th{
	padding: 2px;
} 
thead{

}
/*********************
		Home
*********************/
#infowrap li{
	display:inline:
}
#infobox{
	width:365px;
	float:left;
	margin-top:10px;
}
#infobox h3{
	padding:5px;
	font-size:14px;
}
.margin-left{
	margin-left:5px;
}
#rightnow .reallynow {
	padding: 5px;
	font-size:14px;
}
#rightnow h3{
	padding:2px;
	padding: 0 10px;
	font-size:14px;
}
#rightnow .reallynow span {
	display: block;
	text-align: left;
	float: left;
	padding:0 2px;
	font-size:14px
}
#rightnow .reallynow a {
	text-decoration:none;
	display: block;
	text-align: right;
	float: right;
	padding:0 0 0 18px;
	margin-left:4px;
	font-weight:normal;
	font-size:12px;
}
#rightnow .reallynow a:hover{
	text-decoration:underline;
}
#rightnow .youhave {
	font-size:  12px;
	padding: 10px;
}
#rightnow a {
	font-weight: bold;
}
/*********************
		Forms
*********************/
form{
	padding:10px;
	margin:0 auto;
}
form#form fieldset {
	display:block;
	padding:5px 10px 5px 10px;
	line-height:20px;
	margin-bottom:10px;
}
form#form legend {
	font-size:12px;
	font-weight:bold;
	margin-bottom:5px;
	padding:3px;
	width:254px;
}
form#form label {
	clear:left;
	display:block;
	float:left;
	width:100px;
	text-align:right;
	padding-right:10px;
	margin-bottom:5px;
}
form#form input {
	padding:3px;
	margin-bottom:5px;
}
form#form select {
	margin-left:5px;
}
form#form textarea {
	width:410px;
	height:200px;
	padding:5px;
	overflow:auto;
}
form#form option {
	background:#FFF;
}
form#form optgroup option {

}
form#form #button1, form#form #button2 {
	padding-right:5px;
	cursor:pointer;
	width:205px;
	margin-left:8px;
	font-weight:bold;
}
form#form #button1:hover, form#form #button2:hover {
	background-position:center left;
}

/*********************
	Icons
*********************/
.icon{
	padding-left:19px;
	text-decoration:none;
	height:20px;
	font-size:12x;
	margin:0 3px;
	display:inline-block;
	line-height:20px;
}
.user{background:transparent url(/img/manager/icons/user.png) no-repeat left;}
.useradd{background:transparent url(/img/manager/icons/user_add.png) no-repeat left;}
.group{background:transparent url(/img/manager/icons/group.png) no-repeat left;}
.search{background:transparent url(/img/manager/icons/magnifier.png) no-repeat left;}
.online{background:transparent url(/img/manager/icons/world.png) no-repeat left;}
.pagenew{background:transparent url(/img/manager/icons/page_add.png) no-repeat left;}
.rss{background:transparent url(/img/manager/icons/rss.png) no-repeat left;}
.feed{background:transparent url(/img/manager/icons/feed.png) no-repeat left;}
.report{background:transparent url(/img/manager/icons/report.png) no-repeat left;}
.house{background:transparent url(/img/manager/icons/house.png) no-repeat left;}
.manage{background:transparent url(/img/manager/icons/cog.png) no-repeat left;}
.manage_page{background:transparent url(/img/manager/icons/page_gear.png) no-repeat left;}
.folder{background:transparent url(/img/manager/icons/folder.png) no-repeat left;}
.promotions{background:transparent url(/img/manager/icons/coins.png) no-repeat left;}
.cart{background:transparent url(/img/manager/icons/cart.png) no-repeat left;}
.folder_table{background:transparent url(/img/manager/icons/folder_page.png) no-repeat left;}
.shipping{background:transparent url(/img/manager/icons/car.png) no-repeat left;}
.invoices{background:transparent url(/img/manager/icons/page_white_text_width.png) no-repeat left;}
.addorder{background:transparent url(/img/manager/icons/folder_page_add.png) no-repeat left;}
.add{background:transparent url(/img/manager/icons/add.png) no-repeat left;}
.app_add{background:transparent url(/img/manager/icons/application_add.png) no-repeat left;}
.report_seo{background:transparent url(/img/manager/icons/report_link.png) no-repeat left;}
.modules{background:transparent url(/img/manager/icons/bricks.png) no-repeat left;}
.modules_manage{background:transparent url(/img/manager/icons/bricks_gear.png) no-repeat left;}
.td_label{ color:#8D896D;border:none;}
.td_label1{ color:#9C997E;border:none;}
.tab{background-color:#D5CFAE;color:#FFF;border:2px solid #9C997E;}
.tab1{background-color:#D5CFAE;}



/*  ===============  tab css  ===================  */
#navigation_tab {
	/*border-bottom: 1px solid #979797;*/
	border-width: 1px 0;
	font-size:12px;
	margin-top: 1em;
	padding-top: .6em;
	float:left;
	width:100%;

}

#navigation_tab ul, #navigation ul li {
	list-style: none;
	margin: 0;
	padding: 0;
}

#navigation_tab ul {
	padding: 0px 10px;
	text-align: center;
	float:right;
}

#navigation_tab ul li {
	display: inline;
	margin-right:5px;
	float:left;
}

#navigation_tab ul li.last {
	margin-right: 0;
}

#navigation_tab ul li a {
	background: url("/img/tab-right.gif") no-repeat 100% 0;
	color: #06C;
	padding: 5px 0;
	height:15px;
	display:block;
	text-decoration: none;
	font-weight:bold;
}

#navigation_tab ul li a span {
	background: url("/img/tab-left.gif") no-repeat;
	padding: 5px 1.5em;
}
#navigation_tab ul li a:hover,#navigation_tab ul li a.active {
	background: url("/img/tab-right_r.gif") no-repeat 100% 0;
	text-decoration: none;
}

#navigation_tab ul li a:hover span,#navigation_tab ul li a.active span {
	color: #000;

	background: url("/img/tab-left_r.gif") no-repeat;
}

#navigation_tab ul li a.active {
	background: url("/img/tab-right_a.gif") no-repeat 100% 0;
	text-decoration: none;
}

#navigation_tab ul li a.active span {
	color: #fff;
	font-weight:bold;
	background: url("/img/tab-left_a.gif") no-repeat;
}

/*\*//*/
#navigation_tab ul li a {
	display: inline-block;
	white-space: nowrap;
	width: 1px;
}

#navigation_tab ul {
	padding-bottom: 0;
	margin-bottom: -1px;
}
/**/
/*errormessage */
.error-message{
  float:left;
}


/****New-css(a-das)***/

#wrapper{width:100%; float:left; padding:15px 0 15px 0;}
.left-wrapper{width:315px; float:left;}
.mdl-wrapper{width:300px; float:left; margin:0 0 0 12px;}
.mdl-wrapper ul{margin:0;padding:0;list-style:none;}
.mdl-wrapper ul li{margin:0 0 0 0; padding:0 0 0 0; list-style:none; width:100%; float:left;}
.mdl-wrapper ul li a{border:2px solid #be0303; background:#fee2e2; width:97%; display:block; line-height:22px; margin-bottom:3px; padding:0 0 0 6px;font-weight:bold;}
.mdl-wrapper ul li a:hover{border:2px solid #888787; background:#dfdfdf; width:97%; display:block; line-height:22px; margin-bottom:3px; padding:0 0 0 6px}
.right-wrapper{width:315px;float:right;}
p.wrap-text{ padding:0 0 0 0;}
.right-wrapper h1{color:#993400;font-size:18px;}
#wrapper p{color:#666;}
.left-wrapper h2{color:#993400;font-size:18px;}