/*********************
	HTML Elements
*********************/
*{
	margin:0;
	padding:0;
}

@font-face {
    font-family:'avant';
    src: url('fonts/avgardm-webfont.eot');
    src: url('fonts/avgardm-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/avgardm-webfont.woff') format('woff'),
         url('fonts/avgardm-webfont.ttf') format('truetype'),
         url('fonts/avgardm-webfont.svg#avantgarde_md_btmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

img, div,a { behavior: url(css/iepngfix.htc) }
.error-message{color:red;}
body{
	font-size: 12px;
	font-family: Arial, Tahoma, Verdana;
	background:url(../../img/newdesign_img/body_bg.jpg) repeat;
}
a, a:visited{
	text-decoration:none;
}
img{
	border:0;
	margin:1px;
	
}
p{
	padding:3px;
}
h2{

}
input{
	padding:2px;
	
}
select{
	padding:2px;

}
li { list-style:none;}
/*********************
	Structure
*********************/
#container{
	/*width:95%;*/
	margin:0 auto;
	width:100%;
	}
#header{
	width:100%;
}
#header h2{
margin-top:0;
}
#content{
	width:100%;
	float:left;
	margin:12px 0 10px 0;
	padding:0px;
}
#sidebar{
	background:#FFF;
	width:170px;
	float:right;
	margin:10px 0 10px 0;
	padding:10px;
}
#footer{
	clear:both;
	padding:5px;
	margin-top:10px;
	background:url("../../img/newdesign_img/footer_shadow.png") center top no-repeat #0770CA;
	color:#fff;
	font-size:11px;
	height:50px;
	border-top:1px solid #0770CA
}
#box h3{
	padding:5px;
	font-size:14px;
}
/*********************
	Sidebar
*********************/
#sidebar ul{
	list-style:none;
	line-height:22px;
}
#sidebar ul li a,#sidebar ul li a:visited{
	padding-left:19px;
	text-decoration:none;
	margin:0 3px;
	display:block;
}
#sidebar ul li a:hover{
	text-decoration:underline;
}
#sidebar ul li ul{
	margin-left:10px;
}
#sidebar h3{
	padding:2px;
	font-size:14px;
}
/*********************
  TopMenu, Top-Panel
*********************/
#topmenu{
	margin-top:21px;
	float:left;
	voice-family:inherit;
	width:100%;
	background:url(../../img/newdesign_img/nav_bg.png) repeat-x;
	height:39px;
}
#topmenu li {
list-style:none;
background:url("../../img/newdesign_img/sep.png") right no-repeat;
}
#topmenu li ul li { background:none !important;}
/*#topmenu ul{
	list-style:none;
	line-height:28px;
	
}
#topmenu li{
	display:inline;
}
#topmenu a,#topmenu a:visited{
	padding:3px 10px;
	text-decoration:none;
}
#topmenu .current a, #topmenu .current a:hover, #topmenu .current a:visited{
	padding:6px 10px 3px;
	font-weight:bold;
	
}*/
#top-panel{
	background:#FFF;
	padding:0px;
	height:0px;
	float:left;
	width:100%;
}
#top-panel ul{
	list-style:none;
}
#top-panel ul li{
	display:inline;
	line-height:20px;
}
#top-panel ul li a{
	padding-left:19px;
	text-decoration:none;
	margin:0 3px;
	display:inline-block;
}
#top-panel a:hover{
	text-decoration:underline;
}
/*********************
		Other
*********************/
.a-right{text-align:right;}
.a-left{text-align:left;}
.a-center{text-align:right;}
#pager{
	margin:5px;
	height:25px;
}
#styleswitcher{
	float:right;
}
#styleswitcher ul{
	list-style:none;
	line-height:10px;
}
#styleswitcher li{
	height:12px;
	display:inline;
}
#footer ul {
	list-style:none;
}
#footer li {
	display:inline;
}
a#defswitch {
	width:15px;
	height:10px;
	margin: 3px 0 3px 0;
	background-color:#bd3f09;
	font-size: 8px;
	color:#bd3f09;
	display:inline-block;
}
a#blueswitch {
	width:15px;
	height:10px;
	margin: 3px 0 3px 0;
	background-color:#375b91;
	font-size: 8px;
	color:#375b91;
	display:inline-block;
}
a#greenswitch {
	width:15px;
	height:10px;
	margin: 3px 0 3px 0;
	background-color:#d0e0b8;
	font-size: 8px;
	color:#d0e0b8;
	display:inline-block;
}
a#brownswitch {
	width:15px;
	height:10px;
	margin: 3px 0 3px 0;
	background-color:#654322;
	font-size: 8px;
	color:#654322;
	display:inline-block;
}
a#mixswitch {
	width:15px;
	height:10px;
	margin: 3px 0 3px 0;
	background-color:#294145;
	font-size: 8px;
	color:#294145;
	display:inline-block;
}
#credits{
clear:both;
	width:200px;
	float:left;
	color:#6FBDFF;
	margin-top:18px;
}
/*********************
		Tables
*********************/
table{
	margin:5px;
	border-collapse: collapse;
	table-layout:automatic;
	width:99%;
	/*Text-align:center;*/
}
td, th{
	padding:4px 2px;
} 
thead{

}
/*********************
		Home
*********************/
#infowrap li{
	display:inline:
}
#infobox{
	width:365px;
	float:left;
	margin-top:10px;
}
#infobox h3{
	padding:5px;
	font-size:14px;
}
.margin-left{
	margin-left:5px;
}
#rightnow .reallynow {
	padding: 5px;
	font-size:14px;
}
#rightnow h3{
	padding:2px;
	padding: 0 10px;
	font-size:14px;
}
#rightnow .reallynow span {
	display: block;
	text-align: left;
	float: left;
	padding:0 2px;
	font-size:14px
}
#rightnow .reallynow a {
	text-decoration:none;
	display: block;
	text-align: right;
	float: right;
	padding:0 0 0 18px;
	margin-left:4px;
	font-weight:normal;
	font-size:12px;
}
#rightnow .reallynow a:hover{
	text-decoration:underline;
}
#rightnow .youhave {
	font-size:  12px;
	padding: 10px;
}
#rightnow a {
	font-weight: bold;
}
/*********************
		Forms
*********************/
form{
	padding:10px;
	margin:0 auto;
}
form#form fieldset {
	display:block;
	padding:5px 10px 5px 10px;
	line-height:20px;
	margin-bottom:10px;
}
form#form legend {
	font-size:12px;
	font-weight:bold;
	margin-bottom:5px;
	padding:3px;
	width:254px;
}
form#form label {
	clear:left;
	display:block;
	float:left;
	width:100px;
	text-align:right;
	padding-right:10px;
	margin-bottom:5px;
}
form#form input {
	padding:3px;
	margin-bottom:5px;
}
form#form select {
	margin-left:5px;
}
form#form textarea {
	width:410px;
	height:200px;
	padding:5px;
	overflow:auto;
}
form#form option {
	background:#FFF;
}
form#form optgroup option {

}
form#form #button1, form#form #button2 {
	padding-right:5px;
	cursor:pointer;
	width:205px;
	margin-left:8px;
	font-weight:bold;
}
form#form #button1:hover, form#form #button2:hover {
	background-position:center left;
}

/*********************
	Icons
*********************/
.icon{
	padding-left:19px;
	text-decoration:none;
	height:20px;
	font-size:12x;
	margin:0 3px;
	display:inline-block;
	line-height:20px;
}
.user{background:transparent url(/img/manager/icons/user.png) no-repeat left;}
.useradd{background:transparent url(/img/manager/icons/user_add.png) no-repeat left;}
.group{background:transparent url(/img/manager/icons/group.png) no-repeat left;}
.search{background:transparent url(/img/manager/icons/magnifier.png) no-repeat left;}
.online{background:transparent url(/img/manager/icons/world.png) no-repeat left;}
.pagenew{background:transparent url(/img/manager/icons/page_add.png) no-repeat left;}
.rss{background:transparent url(/img/manager/icons/rss.png) no-repeat left;}
.feed{background:transparent url(/img/manager/icons/feed.png) no-repeat left;}
.report{background:transparent url(/img/manager/icons/report.png) no-repeat left;}
.house{background:transparent url(/img/manager/icons/house.png) no-repeat left;}
.manage{background:transparent url(/img/manager/icons/cog.png) no-repeat left;}
.manage_page{background:transparent url(/img/manager/icons/page_gear.png) no-repeat left;}
.folder{background:transparent url(/img/manager/icons/folder.png) no-repeat left;}
.promotions{background:transparent url(/img/manager/icons/coins.png) no-repeat left;}
.cart{background:transparent url(/img/manager/icons/cart.png) no-repeat left;}
.folder_table{background:transparent url(/img/manager/icons/folder_page.png) no-repeat left;}
.shipping{background:transparent url(/img/manager/icons/car.png) no-repeat left;}
.invoices{background:transparent url(/img/manager/icons/page_white_text_width.png) no-repeat left;}
.addorder{background:transparent url(/img/manager/icons/folder_page_add.png) no-repeat left;}
.add{background:transparent url(/img/manager/icons/add.png) no-repeat left;}
.app_add{background:transparent url(/img/manager/icons/application_add.png) no-repeat left;}
.report_seo{background:transparent url(/img/manager/icons/report_link.png) no-repeat left;}
.modules{background:transparent url(/img/manager/icons/bricks.png) no-repeat left;}
.modules_manage{background:transparent url(/img/manager/icons/bricks_gear.png) no-repeat left;}
.td_label{ color:#8D896D;border:none;}
.td_label1{ color:#9C997E;border:none;}
.tab{background-color:#D5CFAE;color:#FFF;border:2px solid #9C997E;}
.tab1{background-color:#D5CFAE;}



/*  ===============  tab css  ===================  */
#navigation_tab {
	/*border-bottom: 1px solid #979797;*/
	border-width: 1px 0;
	font-size:12px;
	margin-top: 1em;
	padding-top: .6em;
	float:left;
	width:100%;

}

#navigation_tab ul, #navigation ul li {
	list-style: none;
	margin: 0;
	padding: 0;
}

#navigation_tab ul {
	padding: 0px 10px;
	text-align: center;
	float:right;
}

#navigation_tab ul li {
	display: inline;
	margin-right:5px;
	float:left;
}

#navigation_tab ul li.last {
	margin-right: 0;
}

#navigation_tab ul li a {
	background: url("/img/tab-right.gif") no-repeat 100% 0;
	color: #06C;
	padding: 5px 0;
	height:15px;
	display:block;
	text-decoration: none;
	font-weight:bold;
}

#navigation_tab ul li a span {
	background: url("/img/tab-left.gif") no-repeat;
	padding: 5px 1.5em;
}
#navigation_tab ul li a:hover,#navigation_tab ul li a.active {
	background: url("/img/tab-right_r.gif") no-repeat 100% 0;
	text-decoration: none;
}

#navigation_tab ul li a:hover span,#navigation_tab ul li a.active span {
	color: #000;

	background: url("/img/tab-left_r.gif") no-repeat;
}

#navigation_tab ul li a.active {
	background: url("/img/tab-right_a.gif") no-repeat 100% 0;
	text-decoration: none;
}

#navigation_tab ul li a.active span {
	color: #fff;
	font-weight:bold;
	background: url("/img/tab-left_a.gif") no-repeat;
}

/*\*//*/
#navigation_tab ul li a {
	display: inline-block;
	white-space: nowrap;
	width: 1px;
}

#navigation_tab ul {
	padding-bottom: 0;
	margin-bottom: -1px;
}
/**/
/*errormessage */
.error-message{
  float:left;
}
#flashMessage{color:red;}
/******new-css**********/
.banner{ background:url(../images/banner-1.gif) no-repeat 0 0; width:100%; height:293px;}
.right-banner{ width:465px; float:right; margin:20px 0 0 0; font-family:Calibri, Verdana; color:#FFF;}
.right-banner h1{ width:100%; float:left; font-size:28px; font-weight:bold; color:#FFF; text-shadow:#666 1px 2px; line-height:32px;}
.right-banner h2{ width:100%; float:left; font-size:18px; font-style:italic; color:#FFF; font-weight:bold; margin:5px 0 5px 0;}
.right-banner p{ width:95%; float:left; font-size:14px; color:#FFF; font-weight:bold;}
.sign-up{ float:left; margin:50px 0 0 0;}
.banner-menu{ height:44px; background:url(../images/banner-menu-left.jpg) no-repeat left top;}
.inner-banner-menu{ height:44px; background:url(../images/banner-menu-right.jpg) no-repeat right top;}


.inner-banner-menu ul{ list-style-type: none; margin:0 0px 0px 0px; padding:9px 0 0 35px;}
.inner-banner-menu li{ display:inline; float:left; padding:0 32px 3px 32px;}
.inner-banner-menu a { float:left; margin:0; padding:0 0 0 20px; text-decoration:none;}
.inner-banner-menu a span { float:left; display:block; padding:5px 25px 5px 5px; color:#4d4c4c; font-size:13px; font-weight:bold;}
.inner-banner-menu a span {float:none;}
.inner-banner-menu a:hover span { color: #fff;}
.inner-banner-menu #current a span { color: #fff;}
.inner-banner-menu a:hover { background:url(../images/tab-left.gif) no-repeat left top; background-position:0px 2px;}
.inner-banner-menu a:hover span { background:url(../images/tab-right.gif) no-repeat right top; background-position:100% 2px;}
.inner-banner-menu a.active { background:url(../images/tab-left.gif) no-repeat left top; background-position:0px 2px; color:#fff}
.inner-banner-menu a.active span{ background:url(../images/tab-right.gif) no-repeat right top; background-position:100% 2px; color:#fff}

.video-right{ margin:0 0 0 0; padding:40px 0 0 0;}
.innerRightBox {
    background:url(../images/acount-bg.gif) no-repeat 0 0;
    float: left;
    height: 318px;
    padding: 25px 10px 0;
    text-align: center;
    width: 295px;
	margin:10px 0 0 0;
}

.client-row {
    float: left;
    margin: 5px 0 0;
    width: 100%;
}
.slideshow {
height:311px;
overflow:hidden;
position:relative;
width:949px;
}

/****New-css(a-das)***/

#wrapper{width:100%; float:left; padding:15px 0 15px 0; background:url(/img/manager/banner_bg.jpg) repeat-x top #f1f6f9; min-height:471px}
.left-wrapper{width:32%; float:left;}
.mdl-wrapper{width:32%; float:left; margin:0 0 0 12px;}
.left-wrapper ul{margin:0;padding:0;list-style:none; width:197px; background:#f6f6f6; display:inline-block; /*-moz-border-radius:5px; webkit-border-radius:5px; border-radius:5px;*/ padding:6px 2px; }
.left-wrapper ul li{margin:0 0 0 0; padding:0 0 0 0; list-style:none; width:212px; float:left; clear:both}
.left-wrapper ul li a{ width:97%; display:block; line-height:26px; margin-bottom:3px; padding:0 0 0 6px;font-weight:bold; color:#666; /*-moz-border-radius:5px; webkit-border-radius:5px; border-radius:5px; */height:26px; }
.left-wrapper ul li a:hover{border:0px solid #3486b3; background:url(/img/manager/tab_hover.png) no-repeat top; width:97%; display:block; line-height:26px; margin-bottom:3px; padding:0 0 0 6px;color:#fff;  text-shadow:1px 1px 1px #000}
.left-wrapper ul li a:hover span { color:#fff !important}
.right-wrapper{width:33%;float:right; }
p.wrap-text{ padding:0 0 0 0;}
.right-wrapper h1{color:#993400;font-size:18px;}
#wrapper p{color:#666;}
.left-wrapper h2{color:#993400;font-size:18px;}


/*--25/05/2012 --*/
.register-wrap { width:100%;}
h1.main-hdng { background:#f4faff; border-bottom:1px solid #aeceef; font-size:16px; color:#2281d4; padding-left:5px;}
.form-box h2 { font-size:14px; color:#222; font-weight:normal; padding:10px 0;}
.form-box { float:left; width:45%; margin:0 2.4% 0 0; min-width:445px; font-size:12px; }
.register-form { border:1px dotted #ccc; padding:15px; overflow:hidden;}
.register-form > li { overflow:hidden; color:#484444; padding-bottom:6px;}
.register-form > li .butn a { display:inline-block} 
.register-form > li > label { width:150px; float:left; text-align:right; margin-right:8px; padding-top:7px;}
.register-form > li > label span { color:#f00; font-size:10px;}
.register-form > li p { float:left; margin-bottom:0;}
.input-field { background:url(../../img/input-field-lft.png) no-repeat left top; height:28px; padding-left:5px; display:block;}
.input-field input { background:url(../../img/input-field-rt.png) no-repeat right top; height:18px; padding:5px 5px 5px 0; border:0; width:240px; color:#555; font-size:12px; float:left;}
.register-form li select { border:1px solid #aaa; height:28px; padding:5px;
background: #ebebeb; /* Old browsers */
background: -moz-linear-gradient(top, #ebebeb 0%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebebeb), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ebebeb 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ebebeb 0%,#ffffff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ebebeb 0%,#ffffff 100%); /* IE10+ */
background: linear-gradient(top, #ebebeb 0%,#ffffff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebebeb', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */}
.form-sub-head { font-size:14px; color:#2281d4; font-weight:normal; padding:15px 0 3px 0; border-bottom:1px solid #AECEEF; margin:0 2.6% 15px 2.4%; clear:left;}
.mini-form-wrap { overflow:hidden;}
.mini-form-box { float:left; width:18.4%; font-size:12px; margin-right:1.9%; min-width:236px;}
.form-top-chks  { font-size:13px; color:#222; font-weight:normal; padding-bottom:10px; margin-left:2.4%}
.form-top-chks input[ type="checkbox" ] { margin:0; padding:0; vertical-align:middle; margin-right:5px;}
.mini-form-box h2 label { vertical-align:middle;}
h2.mini-form-hdr { background:url(../../img/tab-repeat.png) repeat-x; padding-left:10px; display:block;  border-left:1px solid #2270ab; border-right:1px solid #2270ab;  height:31px; font-size:14px; line-height:30px; font-weight:normal; color:#fff;  padding-top:0; padding-bottom:0;}
.register-form > li .wdth-250 { width:249px;}
.register-form > li .wdth-200 { width:200px;}
.register-form > li .wdth-50 { width:50px; font-size:9px; padding:4px 1px; height:23px;}
.register-form > li .wdth-45 { width:41px; font-size:9px; padding:4px 1px; height:23px;}
.register-form > li .wdth-150 input[type="text"]{ width:75px;}
.register-form > li .wdth-150 { float:left;}
.calendar-img { float:left; margin:3px 94px 0 5px; margin-top:3px;}
.wdth-120 { width:67px; margin-right:50px;}
.wdth-120 input{ width:67px; }
.pad-l95 { padding-left:95px;}
.pad-l130 { padding-left:130px;}
.pad-l96 { padding-left:96px;}
.inner-chkbox-lst {  font-size:11px;}
.inner-chkbox-lst li { padding:2px; color:#3d94dc; overflow:hidden;border-bottom:1px dashed #CCCCCC;}
.inner-chkbox-lst li input[ type="checkbox" ] { margin:0; padding:0; vertical-align:middle; margin-right:5px;}
.inner-chkbox-lst li p.innr-chk-lft { float:left; margin-bottom:0; color:#3d94dc !important; width:192px; padding-top:5px;}
.inner-chkbox-lst li label { vertical-align:middle;}
.register-form li .wdth-60 { width:60px; margin-left:4px;  }
.register-form li .wdth-140 { width:115px; float:left; margin-right:5px;}
.small-fld { float:left; }
.small-fld input { width:50px;}
.width-34 { width:34%; padding-bottom:30px;}
.no-insp { color:#000; font-size:12px; padding:6px 6px}
.no-marr { margin-right:0;}
.min-hght502 { min-height:502px;}
.bttm-btns { margin-right:2.6%; padding-top:15px; overflow:hidden;}
.blue-btn, .wht-btn { height:31px; padding-left:6px; display:block; float:right; color:#fff; font-size:13px;}
.blue-btn span, .wht-btn span{  height:31px; padding:0px 16px 0px 10px; display:block; line-height:31px;}
.blue-btn { background:url(../../img/blue-btn-lft.png) no-repeat left top; }
.blue-btn span { background:url(../../img/blue-btn-rt.png) no-repeat right top;}
.wht-btn { background:url(../../img/wht-btn-lft.png) no-repeat left top; color:#666669; margin-left:5px; }
.wht-btn span { background:url(../../img/wht-btn-rt.png) no-repeat right top; }
.blue-btn:hover, .wht-btn:hover { text-decoration:none;}
.schedule { margin:0 2.6% 0 2.4%; padding-top:15px; }
.client-schedule li{ padding-bottom:5px;}
.client-name h2{ background:url(../../img/arrw-dwn.png) no-repeat left center; height:31px; font-size:14px; line-height:30px; font-weight:normal; color:#fff; padding-left:20px; }
.client-name { background:url(../../img/tab-repeat.png) repeat-x; padding-left:10px; display:block;  border-left:1px solid #2270ab; border-right:1px solid #2270ab;}
.client-name:hover { text-decoration:none;}
.schdule-hdr { padding:4px 0 4px 15px; overflow:hidden;}
.schdule-hdr li{ float:left; }
.schdule-hdr li a { color:#3d94dc; font-size:12px;}
.wdth-30 { width:30%;}
.wdth-35 { width:40%;}
.schdule-flds { border:1px dotted #ccc; padding:10px 0 15px 0px; overflow:hidden;}
.schdule-flds > ul > li { background:#FFF; padding:10px 0 15px 0px; border-bottom:1px dotted #ccc;}
.left {float:left;}
.overflow { overflow:hidden; background:#e2eaed; padding-left:15px;}
.overflow p {  color:#000; margin-bottom:0; padding:3px 0;}
.inner-fld { width:30%; float:left; }
.services-tkn { padding:0px 10px 0 15px; overflow:hidden;  margin:0 15px 0 0px;}
.services-tkn li { float:left; width:15%; padding-bottom:3px; color:#666;}
.services-tkn li img { padding-right:5px; float:left;}
.service-hdline { margin:0 15px 0 0px;  padding:3px 0 3px 15px;}
.help-tip { float:left; margin:5px 12px 0 0;}

/*---------------new header rt Date 30-05-2012------------------*/
.hdr-rt-links a { float:right;}

.multi-select { float: left; height: 80px; margin-left: 106px; margin-right: 5px; width: 124px;}

/*** ADDED BY VISHAL FOR SCHEDULES***/
.overflow { overflow:hidden; background:#e2eaed; padding-left:15px;}
.overflow p {  color:#000; margin-bottom:0; padding:3px 0;}
.inner-fld { width:30%; float:left; }
.services-tkn { padding:0px 10px 0 15px; overflow:hidden;  margin:0 15px 0 0px;}
.services-tkn li { float:left; width:25%; padding-bottom:3px; color:#666;font-size:12px;}
.services-tkn li img { padding-right:5px; float:left;}
.service-hdline { margin:0 15px 0 0px;text-align:left;  padding:3px 0 3px 15px;font-size:14px; font-weight:bold}

#pagination{overflow:hidden; padding:5px 0px; /*float: left;*/}
.pagination li.fl-right{float:right;}
#pagination a{border:1px #d6d6d6 solid; background:#ffffff; padding:2px 5px; min-width:15px; display:inline-block; text-align:center; font-weight:bold; font-size:11px;}
#pagination a:hover, #pagination .current{border:1px #d20911 solid; background:#f31720; color:#ffffff; text-decoration:none;}
#pagination .current{padding:2px 5px; min-width:15px; display:inline-block; text-align:center; font-weight:bold; font-size:11px;}
#pagination .prev{padding:2px 5px; min-width:15px; display:inline-block; text-align:center; font-weight:bold; font-size:11px;}

.user_info { background:url("../../img/newdesign_img/overlay.png") repeat; clear:both; display:inline-block; padding:6px; border-radius:6px; -moz-border-radius:6px; -webkit-border-radius:6px; -o-border-radius:6px; margin-top:12px; clear:both; float:right}
.user_img { float:left; margin-right:5px;}
.user_txt{ float:left; padding-top:2px;}
.user_name {color:#3688B8}
.user_name a { background:red; color:#A43708; font-size:11px; padding:1px 4px; margin-left:4px; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; -o-border-radius:3px;}
.user_name a:hover { background:#fff}

.tbl th { }


.top_blue_bar {
    border-top-color: #0770CA;
    border-top-style: solid;
    border-top-width: 8px;
}

.top_menu { float:right}
.top_menu ul { margin-top:5px;}
.top_menu li { float:left; margin:0 8px; padding-top:1px;}
.top_menu a {color:#FFF; padding:0 5px; font-size:13px; font-family:'avant';}
.top_menu a:hover { text-decoration:underline}
.member { background:url(../../img/newdesign_img/member.png) no-repeat left center; padding-left:15px !important;}
.signin { background:url(../../img/newdesign_img/signin.png) no-repeat left center; padding-left:15px !important;}
.top_menu_l{ float:left; padding-left:6px; height:31px; background:url(../../img/newdesign_img/top_menu_l.png) left no-repeat;}
.top_menu_r{ float:left; padding-left:6px; padding-right:12px; height:31px; background:url(../../img/newdesign_img/top_menu_r.png) right no-repeat;}

.loadingImage{ position: absolute; display: none;}
div.certificates-hdline{ color:red;font-size: 12px;margin: 0 15px 0 0;padding: 3px 0 3px 15px;text-align: center;}
#searchForm { overflow:hidden; background:#f3f3f3; border-bottom:1px solid #ddd}