body{
	background:#f7f6f0 url(/img/manager/header_bg.jpg) repeat-x top;
	color: #202020;
}

@font-face {
    font-family:'avant';
    src: url('fonts/avgardm-webfont.eot');
    src: url('fonts/avgardm-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/avgardm-webfont.woff') format('woff'),
         url('fonts/avgardm-webfont.ttf') format('truetype'),
         url('fonts/avgardm-webfont.svg#avantgarde_md_btmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
a, a:visited{
	color:#a43708;
}
input{
	border:1px solid #e8e7e1;background:#E2E3E3;
}
select{
	border:1px solid #e8e7e1;
}
#header h2{
	color:#FFF;
}
#content{
	background:#FFF;
}
#sidebar{
	background:#FFF;
}
#sidebar h3{
	background:#f7f6f0;
	border-bottom:1px solid #e8e7e1;
}
#topmenu a,#topmenu a:visited{

	/*background:#3688b7;*/
}
#topmenu a:hover{

}
#topmenu .current a, #topmenu .current a:hover, #topmenu .current a:visited{
	color:#3688b7;
	background: #FFF url(/img/manager/bg_menu_red.jpg) repeat-x top;
	border-left: #FFF 1px solid;
	border-right: #FFF 1px solid;
}
#top-panel{
	background:#FFF;
}
table{
	background:none;
}
td, th{
	border:1px solid #e8e7e1;
} 
table thead th { border-right:1px solid #ddd}
thead{
	background:url("../../img/newdesign_img/nav_bg.png");
}
#styleswitcher{
	background:#FFFFFF;
}
#footer{
	background:#FFF;
}
#box{
	border:1px solid #e8e7e1;
}
#box h3{
	background:url("../../img/newdesign_img/nav_active.png") top center;
	border:2px solid #086cc7;
	color:#fff;
}
.tbl td {color:#25587E; padding:6px}
.reqd {color:red;}
/***************
	  Forms
***************/
form#form fieldset {
	border:1px solid #e8e7e1;
}
form#form legend {
	border:1px solid #e8e7e1;
	background:#fff url(/img/manager/form_red.gif) repeat-x center left;
	color:#a43708;
}
form#form input {
	border:1px solid #e8e7e1;
	background:#fff url(/img/manager/form_red.gif) repeat-x top left;
}
form#form textarea {
	border:1px solid #e8e7e1;
	background:#fff url(/img/manager/form_red.gif) repeat-x bottom left;
}
form#form option {
	background:#FFF;
}
form#form optgroup {
	background:#e8e7e1;
}
form#form optgroup option {

}
form#form #button1, form#form #button2 {
	color:#3688B8;
}
form#form #button1:hover, form#form #button2:hover {
	color:#000;
}
#button1, form#form #button2 {
	color:#3688B8;
        font-weight:bold;
        background-color:#E3E3E3;
        border:1px solid #CCC;
}   
/***************
	Home
***************/
#infobox{
	border:1px solid #e8e7e1;
}
#infobox h3{
	background:#f7f6f0;
	border-bottom:1px solid #e8e7e1;
	color:#a43708;
}
#rightnow {
	border:1px solid #e8e7e1;
}
#rightnow .reallynow {
	background:#f7f6f0;
	color:#a43708;
}
#rightnow h3{
	background:#f7f6f0;
	border-bottom:1px solid #e8e7e1;
}
/*-------------copy from here----------------*/
.f-tabs{/*height:20px; */ margin-bottom: -1px;    padding-left: 10px;    position: relative;}
.f-tabs li.ext-tabs{float:left; padding-right:2px; font-weight:bold; }
.f-tabs li.active,.f-tabs li:hover {  border:0}
.f-tabs li.ext-tabs > a, .f-tabs li.ext-tabs > a span{/*font-size:12px; color:#6d6d6d;*/ color:#363636; line-height:30px; display:block; text-decoration:none;}
.f-tabs li.ext-tabs > a{font-family:'avant'; padding:4px; text-shadow:1px 1px 0 #C2C2C2; font-weight:lighter; font-size:14px; /*background:url(../../img/tab-lft.png) no-repeat left top; */ padding-left:5px; }
.f-tabs li.ext-tabs > a span{ /*background:url(../../img/tab-rt.png) no-repeat right top;*/  padding:0px 5px 0px 0px; display:block;}
.f-tabs li.ext-tabs > a span img { vertical-align:middle; padding-right:1px;}
.f-tabs li.active > a{ background:url("../../img/newdesign_img/nav_active.png") repeat-x; color:#fff; text-shadow:1px 1px 0 #000; /*background:url(../../img/active-tab-lft.png) no-repeat left top;*/  }
.f-tabs li.active > a span { color:#fff;}
.f-tabs li.ext-tabs > a:hover span, .f-tabs li.active > a span{ /*background:url(../../img/active-tab-rt.png) no-repeat right top; color:#2281cf;*/}
#tab1 li{ display:block; overflow:hidden; border-bottom:1px dotted #c5c5c5; padding:4px 0px;}
.f-tabs_content{ padding:10px 0px;}

.f-tabs li.ext-tabs > a:hover { background:url("../../img/newdesign_img/nav_hover.png") repeat-x }
/*--------------to here--------------------------*/

/*-------------subb menu css style--------------------*/
/*** ESSENTIAL STYLES ***/

.sf-menu { line-height:	1.0; }
.sf-menu ul { position:absolute; top:-999em; z-index:10; /* left offset of submenus need to match (see below) */ }
.sf-menu ul li { /*width:			100%;*/ }
.sf-menu li:hover { visibility:inherit; /* fixes IE7 'sticky bug' */ }
.sf-menu li { float:left; z-index:10; }
.sf-menu a {/* display:		inline-block; position:		relative;*/ }
.sf-menu li:hover ul, .sf-menu li.sfHover ul { left:0; top:0; /* match top ul list item height */ z-index:45; }
ul.sf-menu li:hover li ul, ul.sf-menu li.sfHover li ul { top:-999em; }
ul.sf-menu li li:hover ul, ul.sf-menu li li.sfHover ul { left:12em; /* match ul width */ top:-10px; }
ul.sf-menu li li:hover li ul, ul.sf-menu li li.sfHover li ul { top:-999em; }
ul.sf-menu li li li:hover ul, ul.sf-menu li li li.sfHover ul { left:14em; /* match ul width */ top:0px; }


/******** Menu ***********/
.sub{ position: absolute;  top: -6px; padding:10px 0px 0px; float: left; z-index:45; left:6px; width:123px;}
.nav-right .sub{top: 20px;}
*+html li .sub{ left:0px;}
.sub ul { list-style: none; margin: 7px 0 0 0; padding: 5px;   background:#666; font-size:11px; border-radius: 0 0 5px 5px; -webkit-border-radius: 0 0 5px 5px; -o-border-radius: 0 0 5px 5px; border:1px solid #555; border-top:0}
.sub ul li {  padding:0px 2px;   width:90px; float:left; color:#4e81cf;}
.sub ul li a { width:100%;float: none; text-indent: 0; /*--Reset text indent--*/ font-weight:lighter; text-decoration: none;  font-size:10px; font-family:Arial, Helvetica, sans-serif; height:auto; text-align:left; line-height:25px; color:#fff; font-weight:bold; background:none;}
.sub ul li a:hover { text-decoration:underline; background:none;}
.sub ul li:hover a { }
.nav-span {  float: left;  display:block; z-index:10; position:relative; margin-left:-6px;}
.sub ul li:hover ul li a{  }
.sub ul li ul li a:hover{ }

.add_client {float:right;margin-top:8px;}
.add_client a { color:#fff !important; font-weight:lighter; font-size:11px}
.add_client a:hover { text-decoration:underline; color:#fff}

.ui-accordion .ui-accordion-content td { /*width:100%;*/}
.ui-accordion .ui-accordion-header {
background: #c6c6c6; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%) !important; /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)) !important; /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%) !important; /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%) !important; /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%) !important; /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%) !important; /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

}
.ui-accordion .ui-accordion-header a { color:#EB8F00 !important}
.table_new { border:1px solid #c6c6c6; margin:auto; width:98%}
.table_new th { background:#c6c6c6; font-size:16px; padding:5px;}
.table_new td { border:0}
.table_label { width:30%;}
.table_title { font-size:18px; text-align:center; padding:14px 0}

.general_left { display: block; width: 86%; float: left; margin-right: 80px;}
.alpha { font-weight:bold; font-size:17px;}


.ui-accordion-header { border:2px solid #c6c6c6 !important}