<?php echo $html->script('jquery/jquery.1.4.2'); ?> 
<?php echo $html->script('jquery/jquery.fancybox-1.3.2'); ?>
<?php echo $html->script('jquery/jquery.timePicker'); ?>
<?php echo $html->css('calendar/jquery.fancybox-1.3.2'); ?>	
<script type="text/javascript">
	window.onload = function(){
		
            
      $("a.emp").fancybox();
	};	
   
</script>

<?php echo "Welcome";?>  <br><br>

<?php echo $this->Html->link('Login', array('controller' => 'categories','action' => 'login'),array('class'=>"emp"));  ?>