<?php echo $html->script('validation/jquery'); ?> 
<?php echo $html->script('validation/jquery.validate'); ?>
<?php echo $html->script('validation/cmxforms'); ?>
<?php echo $html->css('validation/screen'); ?>
<script type="text/javascript">
$.validator.setDefaults({
	submitHandler: function() { 
  // alert("submitted!"); 
  }
});

$().ready(function() {
	  alert('jkjkjk');
	
	// validate signup form on keyup and submit
	$("#loginform").validate({
		rules: {
			
			/*lastname: "required",
			username: {
				required: true,
				minlength: 2
			},
			password: {
				required: true,
				minlength: 5
			},
			confirm_password: {
				required: true,
				minlength: 5,
				equalTo: "#password"
			},  */
			CategoryEmail: {
				required: true,
				email: true
			},
      CategoryPwd: "required"
			/*topic: {
				required: "#newsletter:checked",
				minlength: 2
			},
			agree: "required"    */
		},
		messages: {
			CategoryPwd: "Please enter your password", 			
			CategoryEmail: "Please enter a valid email address"
			//agree: "Please accept our policy"
		}
	});
	
	
});
</script>	   

<?php echo $form->create('Category', array('type'=>'POST', 'action'=>'login','name'=>'loginform','id'=>'loginform','class'=>"cmxform")); ?>
                    <!-- Faq Content Starts -->
                  <p><?php echo $form->input('Category.email',array('label'=>'','div'=>'','maxlength'=>'50','class'=>'name-input','error'=>false));?></p> 
                    <div class="faq-section">
                    <h2>Sign In</h2>
                        <div class="content faq-content">
                        <div align="center" class="error-message"><span class="system negative" id="err1"><?php echo $this->Session->flash();?></span></div>
                        
                           <div class="contact-form">
                           		
                                <div class="new-form">
                                    <div class="inner-new-form">
                                    	<label style="color:#454545">Email:</label><?php echo $form->input('Category.email',array('label'=>'','div'=>'','maxlength'=>'50','class'=>'name-input','error'=>false));?>
                                     
                                    </div>
                                    
                                    <div class="inner-new-form">
                                    	<label style="color:#454545">Password:</label><?php echo $form->input('Category.pwd',array('type'=>'password','label'=>'','div'=>'','maxlength'=>'30','class'=>'name-input','error'=>false));?>
                                     
                                    </div>
                                    
                                    
                                    <div class="inner-new-form">
                                    	<div class="button-section">
                                			<?php echo $form->button('<span>Submit</span>',array('escape'=>false,'class'=>"green"));?>
                                		</div>
                                    </div>
                                </div>
                           </div>
                        </div>
                     </div>
                    <!-- Faq Content Ends -->
                    </form> 