<div id="content">	
			<!--[if !IE]>start content bottom<![endif]-->
			<div id="content_bottom">
				<?php //echo $crumb->getHtml('Home', 'reset' );?>	
			<div class="inner">
				
				<!--[if !IE]>start info<![endif]-->
				<div id="info1">

<table width="100%" border="0" cellpadding="0" cellspacing="0">
	<tr>
	<td align="left" valign="top" colspan='3';><h2></h2></td>
	</tr>
	<tr>
	<td align="center" valign="top">&nbsp;</td>
	</tr>
	<tr>
	<td align="center" valign="top">
	<?php
		echo $html->link($html->image('/img/icons/user-management.png',array('alt'=>'Members','border'=>'0','title'=>'Managers')),array('controller'=>'admins','action'=>'#'),array('class'=>'maybelightbox','escape'=>false),false,false)
	?>
	</td>
	<td align="center" valign="top">
	<?php
		echo $html->link($html->image('/img/icons/manage-survey.png',array('alt'=>'Subscriptions Charges','border'=>'0','title'=>'Subscriptions')),array('controller'=>'Companies','action'=>'durationscharge'),array('class'=>'maybelightbox','escape'=>false),false,false)
	?></td>
	<td align="center" valign="top">
	<?php    
		echo $html->link($html->image('/img/icons/manage-content.png',array('alt'=>'Coupon','border'=>'0','title'=>'Content')),array('controller'=>'admins','action'=>'#'),array('class'=>'maybelightbox','escape'=>false),false,false)
	?>
	</td>
	</tr>
	<tr>
	<td align="center" valign="top">
	Manage Managers 
	</td>
	<td align="center" valign="top">
	Manage Subscriptions</td>
	<td align="center" valign="top">
	Site Content 
	</td>
	</tr>
        <tr>
         <td colspan='3'>&nbsp</td>
	</tr>
	<tr>
	<td align="center" valign="top">
	<?php    
		//echo 	$html->link($html->image('/img/icons/manage-content.png',array('alt'=>'Mail Template','border'=>'0','title'=>'Mail Template')),array('controller'=>'mail_templates','action'=>'index'),array('class'=>'maybelightbox','escape'=>false),false,false)
	?>
	</td>
	
	<td align="center" valign="top">
	<?php    
		//echo 	$html->link($html->image('/img/icons/manage-content.png',array('alt'=>'Static Pages','border'=>'0','title'=>'Static Pages')),array('controller'=>'static_pages','action'=>'index'),array('class'=>'maybelightbox','escape'=>false),false,false)
	?>
	</td>
	</tr>
 
</table>				
		</div>
				<!--[if !IE]>end info<![endif]-->
								
				<!--[if !IE]>start sidebar<![endif]-->
				<div id="sidebar">					
					<!--[if !IE]>start sidebar module<![endif]-->
					<div class="sidebar_module">
						<div class="title_wrapper">
							<h3>Alerts</h3>
						</div>
						<div id="statistics">
						</div>
					</div>
					<!--[if !IE]>end sidebar module<![endif]-->							
				</div>
				<!--[if !IE]>end sidebar<![endif]-->								
			</div>
			<!--[if !IE]>end content bottom<![endif]-->
			</div>			
		</div>
		<!--[if !IE]>end content<![endif]-->				