/* ----- Base Css ------ */

html {
    font-size: 10px;
}

html,
body {
    font-family: 'Lato', sans-serif;
    outline: none;
}

.btn-orange {
    background-color: #FF6E15;
}

.p-right {
    padding-right: 0;
}

.p-left {
    padding-left: 0;
}

.margin {
    margin-right: 0;
    margin-left: 0;
}

.text-orange {
    color: #FF6E15;
}

.error {
    color: red;
}

.thumbnail-setting:hover .btn-white-border {
    background-color: #FF6E15;
    border: 3px solid #FF6E15 !important;
} 

.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active {
   background-color: #0F71B3;
}

.btn-blue {
    background-color: #008CEA;
}

.btn-orange:hover,
.btn-orange:focus{
    background-color:#e95901 ;
}

.btn.btn-blue,
.btn.btn-orange {
    color: #fff;
    border-radius: 3px;
    margin-top: -5px;
}



/** header css **/

.logo {
    width: 300px;
}

.header nav {
    background: transparent;
    border-color: #fff;
}

.header .navbar-brand {
    height: auto;
}

.navbar-nav {
    padding: 15px;
}

.margin-top {
    margin-top: 11%;
}

.top-banner {
    background-color: rgba(0, 0, 0, 0.7);
}

.jumbotron {
    background: url("../img/slider-img.png") no-repeat right top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 19%;
}

.navbar {
    margin-bottom: 0;
}

.text-section {
    color: #fff;
    text-align: center;
}

.text-section h2 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 50px;
}

.text-section .btn-orange {
    border-radius: 9px;
    font-size: 21px;
    font-weight: 700;
    padding: 13px 50px;
}

.navbar-default .navbar-nav > li > a {
    color: #777;
    font-size: 15px;
    font-weight: 700;
}

.header {
    background: url("../img/header_bg.jpg") no-repeat top center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background-size: cover;
}

.navbar-default {
    border-color: transparent !important;
}

.thumnail-text-seeting {
    background-color: rgba(0, 0, 0, 0.5);
    height: 285px;
    /*opacity: 0.8;*/
}

.ask-question {
    background: url("../img/img-box.png") no-repeat;
    background-size: cover;
}

.free-site {
    background: url("../img/free-site.png") no-repeat;
     background-size: cover;
}

.are-you {
    background: url("../img/are-you.png") no-repeat;
     background-size: cover;
}

.thumbnail-setting {
    height: 285px;
}

.thumnail-text-seeting {
    padding: 12%;
    color: #fff;
    font-size: 22px;
    font-weight: 700;
}

.jumbotron {
    margin-bottom: 15px;
}

.btn.btn-white-border.btn-lg {
    border: 3px solid #fff;
    color: #fff;
    padding: 4px 15px;
}

.img-box-setting >:first-child {
    padding-left: 0;
    padding-right: 0;
}

.img-box-setting div:nth-child(2){

    padding-left: 5px;
    padding-right: 5px;
}

.img-box-setting >:last-child {
    padding-right: 0;
    padding-left: 0;
}

.navbar-toggle {
    margin-top: 13px;
}


.why-us {
    padding-top: 4%;
    padding-bottom: 4%;
}

.why-us h3 {
    margin-bottom: 30px;
    font-weight: 700;
    margin-top: 0;
}

.why-us ul {
    list-style-type: upper;
    padding-left: 12px;
}

.why-us .small-title {
    margin-bottom: 20px;
    margin-top: 20px;
}

.chat-section {
    padding-top: 6%;
    padding-bottom: 6%;
}

.chat-section h4,
.register-section h5 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 24px;
    margin-top: 58px
}

.register-section {
    padding-bottom: 6%;
    padding-top: 2%;
}

.register-section p {
    line-height: 1.8;
    padding: 34px;
    padding-top: 0;
}

.register-section .btn-orange {
    border-radius: 6px;
    font-size: 19px;
    font-weight: bold;
    padding: 13px 50px;
}

.bottom-section {
    background-color: #f5f5f5;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    border: 1px solid #ccc;
}

.bottom-section img {
    margin: 0 auto;
    display: inline-block;
}

/** footer css here **/

.footer li {
    display: inline-block;
    padding-left: 20px;
}

.footer {
    background-color: #000;
    color: #fff;
    padding: 10px;
}

.footer ul {
    margin-bottom: 0;
    padding-left: 0;
    text-align: center;
}

.footer ul li a {
    color: #fff;
}

.copyright {
    text-align: center;
}

.item img {
    width: 100%;
}

.text-section {
    color: #fff;
    display: table-cell;
    margin-left: auto;
    width: 100%;
    position: absolute;
    text-align: center;
    top: 45%;
    z-index: 1;
}

.carousel-indicators {
    display: none;
}

.img-box-setting {
    margin-top: 5px;
}


.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 2;
}

/** registration popup **/

.fa-fire-extinguisher::before,
.fa-building-o::before {
    color: #ff6e15;
    font-size: 58px;
}

.text-bold {
    font-weight: 700;
}

.registraion .btn.btn-orange {
    margin-top: 12px;
}

.iam-text {
    font-weight: 700;
    margin-top: 8px;
}

.registraion h4,
.registraion p {
    font-size: 20px;
}

.registraion .modal-footer {
    border-top: none;
}

.registraion .modal-header {
    padding: 30px 15px 15px;
}

.registraion .modal-body {
    padding: 30px 15px 20px;
}

/** sign up section **/

.signup-section {
    background: url("../img/registration-banner.png") no-repeat right top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom: 6%;
    padding-top: 10%;
}

.title-signup {
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

.signup-form {
    margin-top: 22px;
    padding-right: 34px;
}

.we-appreciate {
    background: #f7f8f9 none repeat scroll 0 0;
    border: 1px solid #ccc;
    margin-top: 19px;
}

.we-appreciate .text-orange {
    font-size: 28px;
    padding: 20px 14px 0;
    padding-bottom: 0;
}

.we-appreciate p {
    padding: 14px;
}

.signup-form .btn-orange {
    padding: 10px 35px;
}

.signup-form label {
    font-weight: 400;
    font-size: 13px;
}

.signup-form .form-control {
    height: 40px;
}

.signup-process {
    margin-bottom: 5%;
    margin-top: 1%;
}

.checkbox input[type="checkbox"] {
    margin-top: -15px;
}

.chk {
    margin-left: 19.3%;
}

#agree-error {
    margin-left: -6%;
}

input.error,
select.error {

    border: 1px solid red;
}






/** Media Query **/

@media only screen and (min-width: 768px) and (max-width: 1199px) {

    .navbar-brand {
        width: 100%;
    }

    .jumbotron {
        margin-top: 117px;
    }

    .logo {
        margin: auto;
    }

    .navbar-header {
        float: none;
    }

    .nav > li > a {
        padding: 10px 6px;
    }

    .navbar-nav {
        padding: 0;
    }

    .carousel-inner {
        margin-top: 129px;
    }

    .text-section {
        padding-left: 0px !important;
        top: 23% !important;
    }

    .title-signup {
        padding-top: 24% !important;
    }
}

@media only screen and (min-width: 320px) and (max-width: 568px) {

    .logo {
        width: 192px;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1024px) {

    .navbar-right {
        margin-left: 15%;
        float: none !important;
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {

    .thumnail-text-seeting {
        font-size: 14px;
        padding: 12% 12% 25px;
        height: auto;
    }

    .thumbnail-setting {
        height: auto;
    }

    .header {
        position: relative;
    }

    .text-section h2 {
        font-size: 20px;
    }

    .jumbotron {
        padding: 0;
    }

    .text-section .btn-orange {
        border-radius: 9px;
        font-size: 13px;
        font-weight: 400;
        padding: 10px 15px;
    }

    .title-signup {
        font-size: 17px !important;
    }

    .chk {
    margin-left: 6.3% !important;
  }

  .bottom-section img {

    width: 54px;

  }

 .form-group div + div {
    margin-top: 10px;
}

.signup-form {
    padding-right: 15px;

    }

}

@media only screen and (min-width: 320px) and (max-width: 1023px) {

    .img-box-setting >:first-child {
        margin-bottom: 5px;
    }

    .img-box-setting div:nth-child(2) {
        margin-bottom: 5px;
        padding-left: 0;
        padding-right: 0;
    }
}

@media only screen and (max-width: 320px) {

    .copyright {
        margin-top: 10px;
    }

    .owner {
        margin-top: 35px;
    }

    .register-section p {
        padding: 0 0 34px !important;
    }

    .register-section .btn-orange {
        font-size: 15px;
        padding: 13px 31px;
    }

    .chat-section h4, 
    .register-section h5 {
     font-size: 21px;
   }

   .text-section h2 {
    font-size: 17px;

    }

    .why-us h3 {
    font-size: 20px; 
    margin-top: 19px;
}

}

@media only screen and (min-width: 320px) and (max-width: 520px) {

    .text-section {
        top: 0 !important;
    }

    .text-section h2 {
        margin-bottom: 25px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 520px) and (orientation: landscape) {

    .text-section {
        top: 25% !important;
    }
}