<div id="content">
     <?php //pr($result);?>
     <div id="box" style="width:700px;padding-left:10px;">
               <h3 id="adduser"><?php echo $html->image($this->Common->getUserProfilePhoto($result['User']['profilepic']),array('style'=>'vertical-align:middle')); ?><?php echo ucfirst($result['User']['fname'].' '.$result['User']['lname']); ?> (Inspector)</h3>
                   <br/>
                        <table class="tbl">
								  <tr><td colspan="3" style="font-size:14px;color:grey;">Basic Information</td></tr>
								  <tr>
								  <td style="width:20%">Qualification</td>
								  <td style="width:5%">:</td>
								  <td style="width:75%"><?php echo $result['User']['qualification'];?></td>
								  </tr>
								  
								  <tr>
									<td style="width:20%">Phone</td>
								  <td style="width:5%">:</td>
								  <td style="width:75%"><?php echo $result['User']['phone'];?></td>
								  </tr>
								  
								  <tr>
									<td style="width:20%">Email</td>
								  <td style="width:5%">:</td>
								  <td style="width:75%"><?php echo $result['User']['email'];?></td>
								  </tr>
								  
								  <tr><td colspan="3" style="font-size:14px;color:grey;">Services as Qualification</td></tr>
								  <td style="width:20%">&nbsp;</td>
								  <td style="width:5%">:</td>
								  <td style="width:75%"><?php echo $result['User']['service_id'];?></td>
                        </table>
       </div>
</div>