<div id="content">
     <?php //pr($result);?>
     <div id="box" style="width:700px;padding-left:10px;">
	  
	 
               <h3 id="adduser"><?php echo  $result[0]['Report']['name'] ;  ?>&nbsp;Report</h3>
                   <br/>
                        <table class="tbl">
							<tr>	  
								<td style="width:20% ;text-decoration:underline;"><b>Services</b></td> </tr> 
								  
								   <?php foreach ($result as $data) {
	       
	       //pr($data);
	  
	       ?>
								  <tr><td style="width:75%"><?php echo $data['Service']['name'];?></td>
								  </tr>
								 <?php }?> 
								  
                        </table>
       </div>
</div>