<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<?php echo $this->Html->meta('favicon.ico','/img/favicon.ico',array('type' => 'icon'));?>
<title><?php echo $title_for_layout; ?></title>
<?php echo $html->css('frontend/style'); ?>
<?php echo $this->Html->css('superfish'); ?>
<!--[if lt IE 9]>
<script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>

<body>
<?php //pr($this->params);
if(isset($this->params['pass'][0]))
{
    $res=mysql_query("SELECT page_type FROM `websitepages` WHERE id =".$this->params['pass'][0]);
    $row=mysql_fetch_array(@$res);  
}
     if($this->params['controller'] == "users" && $this->params['action'] == "signup"){
        echo $this->element('front/front_first_sp_header');
     }else if($this->params['controller'] == "users" && $this->params['action'] == "step1"){
        echo $this->element('front/front_second_sp_header');
     }else if($this->params['controller'] == "users" && $this->params['action'] == "step2"){
        echo $this->element('front/front_second_sp_header');
     }
       
     else if($this->params['controller'] == "homes" && $this->params['action'] == "pages" && ($row['page_type']=='D')){
        echo $this->element('front/front_second_sp_header');
     }else {
        echo $this->element('front/front_header');
     }
?>
 <!-- Content for layout [STARTS] -->
                
                <?php  echo $content_for_layout; ?>
                
  <!-- Content for layout [ENDS] -->
            <!-- Begin: Footer -->
		<?php echo $this->element('front/front_footer'); ?>	
              <!-- End: Footer -->

</body>
</html>
