<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><?php echo $title_for_layout; ?></title>
<?php echo $html->css('manager/theme'); ?>
<?php echo $html->css('manager/style'); ?>
<?php echo $html->script('jquery/jquery.1.4.2'); ?>
<!--[if IE]>
<link rel="stylesheet" type="text/css" href="/css/manager/ie-sucks.css" />
<![endif]-->
<script type="text/javascript">
function getcontent(){
//alert("hiii");
//alert(window.opener.document.getElementById("wrapper"));
 document.getElementById("wrapper").innerHTML=window.opener.document.getElementById("wrapper").innerHTML;
 
 $('a').attr('href','javascript:void(0)');
 $("#box h3 span").html('');
 $('#ScheduleOptionalCategory').attr('disabled','disabled');
 $('#position').attr('disabled','disabled');
 window.print();
 } 
</script>

<style type="text/css">
tr.navrow  td {
background-color: #E5EEF5; font-size:11px; color:#E5EEF5; text-align:center; border:1px solid #E5EEF5;
}
tr.navrow a:link, a:hover a:visited {
font-size:11px;
}
.initial td { background-color: #E5EEF5; font-size:11px; color:#E5EEF5; border:1px solid #E5EEF5; }
.normal td{ background-color: #E5EEF5; font-size:11px;  color:#E5EEF5; border:1px solid #E5EEF5; }
.highlight td { background-color: #FFFFFF; font-size:11px; color:#000000; border:1px solid black; text-align:center; cursor:pointer;}
#calbtn  {
background-color: #E5EEF5;
color:black;
font-size:11px;
font-weight:bold;}
#calbtn a {
font-size:11px;
}
</style>

</head>

<body style='background:#F7F6F0;' onload='getcontent()'>
	<div id="container">
          <div id="wrapper">
           	<?php  echo $content_for_layout; ?>           	 
        </div>      
</div>


</body>
</html>
